
    <h1>New Fault Report</h1>

    <form method="post" id="add_fault" enctype="multipart/form-data">

    <div class="form">
        <ul>

            <li>
                <label>Beamline
                    <span class="small">Beamline where fault occurred</span>
                </label>
                <select name="BEAMLINE"></select>
            </li>

            <li>
                <label>Start Date/Time
                    <span class="small">Time the fault started</span>
                </label>
                <input class="half datetime" type="text" name="STARTTIME" />
            </li>


            <li>
                <label>Visit ID
                    <span class="small">The visit during which the fault occurred</span>
                </label>
                <select name="SESSIONID"></select>
            </li>

            <li>
                <label>System
                    <span class="small">The overreaching system responsible for the fault</span>
                </label>
                <select name="SYSTEMID"></select>
            </li>

            <li>
                <label>Component
                    <span class="small">The component and sub-component at fault</span>
                </label>
                <select name="COMPONENTID"></select>
                <select name="SUBCOMPONENTID"></select>
            </li>

            <li>
                <label>Beamtime Lost
                <span class="small">Was beamtime lost as a result?</span>
                </label>
                <select name="BEAMTIMELOST"></select>
            </li>

            <li class="beamtime_lost">
                <label>Beamtime Lost Between
                <span class="small">Time and date between which beamtime was lost</span>
                </label>
                <input class="half" type="text" name="BEAMTIMELOST_STARTTIME" />
                <input class="half" type="text" name="BEAMTIMELOST_ENDTIME" />
            </li>

            <li>
                <label>Summary
                    <span class="small">A short summart of the fault</span>
                </label>
                <input type="text" name="TITLE" />
            </li>

            <li>
                <label>Description
                    <span class="small">Full description of the fault.<br /><a href="http://daringfireball.net/projects/markdown/">Markdown Supported</a></span>
                </label>
                <textarea name="DESCRIPTION"></textarea>
            </li>

            <li>
                <label>Attachment
                    <span class="small">Attachment to add to the report</span>
                </label>
                <input type="file" name="userfile1" />
            </li>

            <li>
                <label>Assignee
                    <span class="small">An optional assignee for the fault. Start typing to autocomplete</span>
                </label>
                <input class="half" type="text" name="ASSIGNEEID" />
            </li>


            <li>
                <label>Fault Resolved
                <span class="small">Has the fault been resolved?</span>
                </label>
                <select name="RESOLVED"></select>
            </li>

            <li class="resolution">
                <label>End Date/Time
                    <span class="small">Time the fault was resolved</span>
                </label>
                <input class="half" type="text" name="ENDTIME"/>
            </li>

            <li class="resolution">
                <label>Resolution / Workaround
                    <span class="small">How the fault was resolved.<br /><a href="http://daringfireball.net/projects/markdown/">Markdown Supported</a></span>
                </label>
                <textarea name="RESOLUTION"></textarea>
            </li>

            <button name="submit" value="1" type="submit" class="button submit">Submit Report</button>


        </ul>
    </div>

    </form>

