@import "compass/reset";

// Partials
@import "partials/base";

@import "partials/icons";
@import "partials/utility";

@import "partials/plots";
@import "partials/tables";

@import "partials/header";
@import "partials/sidebar";
@import "partials/content";

@import "partials/calendar";
@import "partials/form";
@import "partials/assign";
@import "partials/nearest";
@import "partials/mc";


// Third-party
@import "vendor/jquery_misc.scss";
@import "vendor/jquery-ui.scss";
@import "vendor/magnific_popup.scss";
@import "vendor/tipTip.scss";
