<section class="content">
    <h1>Send Feedback</h1>

    <p class="help">This page is for sending feedback about the ISPyB web interface to the developers, not for your beamtime! Please use UAS to report feedback for your visits</p>

    <validation-observer ref="formObserver" v-slot="{ handleSubmit }">

    <form novalidate v-bind:class="{loading: isLoading}" @submit.prevent="handleSubmit(onSubmit)">

    <div class="form">
        <ul>

            <validation-provider rules="required" name="name" tag="li" v-slot="{ errors }">
                <label>Your Name</label>
                <input type="text" name="name" v-bind:class="{ferror: errors.length > 0}" v-model="name"/>
                <span v-if="errors.length > 0" class="errormesage ferror">{{ errors[0] }}</span>
            </validation-provider>

            <validation-provider rules="required|email" name="email" tag="li" v-slot="{ errors }">
                <label>Your Email Address</label>
                <input name="email" type="email" v-bind:class="{ferror: errors.length > 0}" v-model="email"/>
                <span v-if="errors.length > 0" class="errormesage ferror">{{ errors[0] }}</span>
            </validation-provider>

            <validation-provider rules="required" name="feedback" tag="li" v-slot="{ errors }">
                <label>Feedback</label>
                <textarea name="feedback" v-bind:class="{ferror: errors.length > 0}" v-model="feedback"></textarea>
                <span v-if="errors.length > 0" class="errormesage ferror">{{ errors[0] }}</span>
            </validation-provider>

        </ul>

        <button name="submit" value="1" type="submit" class="button submit">Send Feedback</button>

    </div>

    </form>
    </validation-observer>
</section>
