<section class="content">
    <h1>Send Feedback</h1>

    <p class="help">This page is for sending feedback about the ISPyB web interface to the developers, not for your beamtime! Please use UAS to report feedback for your visits</p>

    <form novalidate v-bind:class="{loading: isLoading}">

    <div class="form">
        <ul>

            <li>
                <label>Your Name</label>
                <input type="text" name="name" v-bind:class="{ferror: errors.has('name')}" v-validate="'required'" v-model="name"/>
                <span v-if="errors.has('name')" class="errormesage ferror">{{ errors.first('name') }}</span>
            </li>

            <li>
                <label>Your Email Address</label>
                <input name="email" type="email"  v-bind:class="{ferror: errors.has('email')}" v-validate="'required|email'" v-model="email"/>
                <span v-if="errors.has('email')" class="errormesage ferror">{{ errors.first('email') }}</span>
            </li>

            <li>
                <label>Feedback</label>
                <textarea name="feedback"  v-bind:class="{ferror: errors.has('feedback')}" v-validate="'required'" v-model="feedback"></textarea>
                <span v-if="errors.has('feedback')" class="errormesage ferror">{{ errors.first('feedback') }}</span>
            </li>

        </ul>

        <button name="submit" value="1" type="submit" class="submit" v-on:click.prevent="onSubmit">Send Feedback</button>

    </div>

    </form>
</section>