    <h1>Send Feedback</h1>

    <p class="help">This page is for sending feedback about the ISPyB web interface to the developers, not for your beamtime! Please use UAS to report feedback for your visits</p>

    <form>

    <div class="form">
        <ul>

            <li>
                <label>Your Name</label>
                <input type="text" name="name" />
            </li>

            <li>
                <label>Your Email Address</label>
                <input name="email" type="email" />
            </li>

            <li>
                <label>Feedback</label>
                <textarea name="feedback"></textarea>
            </li>

        </ul>

        <button name="submit" value="1" type="submit" class="submit">Send Feedback</button>

    </div>

    </form>