*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# sftp configuration file
sftp-config.json


.sass-cache/
.DS_Store
.idea/

/api/composer.lock
/api/composer.phar
/api/src/MockUAS.php

client/node_modules
client/assets
client/index.php
client/dist
client/index.html
client/.env

api/config.php
api/vendor


