# Disable access to .git folders
RewriteRule ^(.*/)?\.git+ - [F,L]
ErrorDocument 403 "Access denied"

# Disable trace
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

RewriteEngine on
RewriteRule ^(.*)$ /client/$1 [L]
