.c_holder {
    margin-bottom: 2%;
    
    > h1 {
        font-family: $content-header-font;
        font-size: $content-header-size;
    }
}

.bl_puck {
    @include cols(5,0.5%,0.2%);
    height: 55px;
    background: $content-sub-header-background;
    float: left;
    
    @media (max-width: $breakpoint-small) {
        @include cols(4,0.5%,0.2%);
    }
    
    @media (max-width: $breakpoint-vsmall) {
        @include cols(2,0.5%,0.5%);
    }
}

.bl_puck_drag {
    background: $content-dark-background;;
}


.shipment {
    padding: 0.5%;
    margin: 0.4% 0;
    background: $content-sub-header-background;;
    
    h1 {
        padding: 0.5%;
    }
    
    .dewar {
        background: $content-dark-background;
        padding: 0.2%;
        margin: 0.5% 0;
        display: none;
        
        .deactivate {
            display: none;
        }
        
        &.active {
            background: $content-active;
            
            .deactivate {
                display: inline;
            }
        }
    }
    
    .unassigned_drag & {
        background: $content-dark-background;
    }
    
    &:hover {
        cursor: pointer;
    }
}


.container {
    height: 30px;
    overflow: auto;
    background: $content-light-background;
    @include cols(4,0.5%,0.2%);
    float: left;
    border-radius: 5px;
    
    &.assigned {
        @include cols(1,4% 4% 1% 4%);
    }
    
    &:hover {
        cursor: pointer;
    }
    
    @media (max-width: $breakpoint-vsmall) {
        @include cols(2,1%,0.5%);
    }
}


.visits {
    list-style: none;
    
    li {
        @include cols(3, 1%, 0.5%);
        float: left;
        border-radius: 5px;
        background: $content-dark-background;
        
        &.active {
            background: $content-active;
        }
        
        @media (max-width: $breakpoint-small) {
            @include cols(1,3%,1% 0);
        }
    }
}
