<h1>Project Details</h1>

<p class="help">This pages shows details and history for the selected project</p>

<div class="form">
    <ul>
        <li>
            <span class="label">Owner</span>
            <span class="PERSON"><%-PERSON%></span>
        </li>

        <li>
            <span class="label">Name</span>
            <span class="TITLE"><%-TITLE%></span>
        </li>

        <li>
            <span class="label">Acronym</span>
            <span class="ACRONYM"><%-ACRONYM%></span>
        </li>

        <li class="clearfix">
            <span class="label">Users</span>
            <span class="users floated">
                <% if (IS_OWNER) { %>
                    <input name="adduser" />
                <% } %>
                <div class="users"></div>
            </span>
        </li>

    </ul>
</div>

<div class="proteins"></div>
<div class="samples"></div>
<div class="datacollections"></div>
