<a href="#" class="unlocked button"><i class="fa fa-unlock"></i></a>
<p class="warnusers">Please consult beamline staff before editing these parameters</p>
<table>
    <tr>
        <td class="renderable">Monochromator Bandwidth</td>
        <td class="renderable"><input type="text" name="MONOBANDWIDTH" value="<%-MONOBANDWIDTH%>" /> %</td>
    </tr>
    <tr>
        <td class="renderable">Energy</td>
        <td class="renderable"><input type="text" name="ENERGY" value="<%-ENERGY%>" /> eV</td>
    </tr>
    <tr class="">
        <td class="renderable">Beamsize</td>
        <td class="renderable"><input type="text" name="PREFERREDBEAMSIZEX" value="<%-PREFERREDBEAMSIZEX%>" /> x <input type="text" name="PREFERREDBEAMSIZEY"  value="<%-PREFERREDBEAMSIZEY%>" /> &micro;m</td>
    </tr>
</table>
