<a href="#" class="locked button"><i class="fa fa-lock"></i></a>
<p class="warnusers">Please consult beamline staff before editing these parameters</p>
<table>
	<tr>
		<td class="renderable">Monochromator Bandwidth: </td><td class="renderable"><span class="MONOBANDWIDTH"><%-MONOBANDWIDTH%></span></td><td class="renderable"> %</td>
	</tr>
	<tr>
		<td class="renderable">Energy: </td><td class="renderable"><span class="KEVENERGY"><%-KEVENERGY%></span></td><td class="renderable"> keV</td>
	</tr>
	<tr>
		<td class="renderable">Beamsize: </td><td class="renderable"><span class="PREFERREDBEAMSIZEX"><%-PREFERREDBEAMSIZEX%></span>×<span class="PREFERREDBEAMSIZEY"><%-PREFERREDBEAMSIZEY%></span></td><td class="renderable"> &micro;m</td>
	</tr>
</table>