
    <p class="help">This page allows you to &quot;Blend&quot; integrated data sets together</p>

    <h1>Blended Data Sets for <%-VISIT%></h1>

    <p class="help">This table lists successful blend runs, you can view scaling statistics and download the relevent mtz files</p>

    <div class="filter filter-nohide">
        <ul class="clearfix">
            <li title="Reintegrate data sets"><a href="/mc/visit/<%-VISIT%>">Integrate</a></li>
            <li title="Blend integrated data sets together" class="current"><a href="/mc/blend/visit/<%-VISIT%>">Blend</a></li>
            <li><span class="jobs">-</span> job(s) running</li>
        </ul>
    </div>

    <div class="blended"></div>


    <h1>Integrated Data Collections for <%-VISIT%></h1>

    <p class="help">This table list successful integrations with XIA2. Select which of these data sets to blend by clicking on the relevent row in the table. Then press &quot;Blend&quot;</p>

    <div class="options data_collection">
        <div class="dc_count"><a href="#" class="button clear"><i class="fa fa-times"></i> Clear</a> <span class="count">0</span> data collections selected</div>

        <!--<label>Rmerge &lt;: <input type="text" name="rmerge" title="Select all data sets with an Rmerge lower than this value" /></label>-->
        <label>Rfrac: <input type="text" name="rfrac" value="0.75" title="Set the blend parameter Rfrac, smaller values will include more data" /></label>
        <label>I/sig(I): <input type="text" name="isigi" value="1.5" title="Set the blend parameter IsigI to select which reflections to blend" /></label>
        <label>Resolution: <input type="text" name="res" /></label>
        <label>Spacegroup: <input type="text" name="sg" /></label>
        <a href="#" class="blend button" title="Click to blend the selected data sets"><i class="fa fa-cog"></i> Blend</a>
    </div>

    <div class="integrated"></div>

    <!--
    <h1 class="dend_toggle">
        Cluster Analysis for Integrated Date Sets
        <a href="#" class="button analyse" title="Run blend to anaylse all integrated data sets and generate a dendrogram"><i class="fa fa-line-chart"></i> Analyse</a>
    </h1>

    <p class="help">Dendrogram for all integrated data sets, drag over the dendrogram to select data sets to blend together</p>

    <div class="dend_wrap">
        <div class="controls">
            Scale X-Axis &nbsp; <div class="slider" title="Change the scale of the dendrogram"></div>
            <label title="Check this box so that consecutive selections are added together">Additive Selection: <input type="checkbox" name="additive" /></label>
        </div>
        <div class="dendrogram"></div>
    </div>
    -->
