<h1>Data Collections for <%-VISIT%></h1>

    <p class="help">Use this page to reintegrate multiple data collections together</p>
    <p class="help">Select data sets to integrate by dragging accross the DISTL plot below. This selects which images of the data set to integrate</p>

    <div class="filter filter-nohide">
    	<div class="srch"></div>
        <ul class="clearfix">
            <li><span class="wait">-</span> job(s) waiting</li>
            <li><span class="jobs">-</span> job(s) running</li>
        </ul>
    </div>

    <div class="rps"></div>

    <div class="cell data_collection">
        <div class="autoproc">
            <label>Auto Processed <select name="cells"></select></label>
        </div>

        <lable>Pipeline <select name="method"></select></lable>
        <label>Spacegroup: <input type="text" name="sg" /></label>

        <label>a <input type="text" name="a" /></label>
        <label>b <input type="text" name="b" /></label>
        <label>c <input type="text" name="c" /></label>
        <label>&alpha; <input type="text" name="alpha" /></label>
        <label>&beta; <input type="text" name="beta" /></label>
        <label>&gamma; <input type="text" name="gamma" /></label>

        <label>High Resolution <input type="text" name="res" /></label>

        <a href="#" class="button integrate" title="Integrate the selected data collections"><i class="fa fa-cog"></i> Integrate</a>
    </div>

    <div class="options data_collection">
        <label><input type="checkbox" name="sm" value="1" /> Small Molecule</label>
    </div>

    <div class="dcs"></div>
    <div class="page_wrap"></div>
