<div class="state"></div>
<h1><%-IMP%>_<%-RUN%></h1>
<h2><%-DIR%></h2>
<div class="distl" title="Per Image Analysis: Number of spots detected for each image. Select which images to integrate by dragging across the graph"></div>
<span>&Omega; Start: <%-AXISSTART%>&deg; &Omega; Osc: <%-AXISRANGE%>&deg; | <a title="Click to view diffraction images for this data collection" class="images" href="/dc/view/id/<%-ID%>">Images</a></span>
<div title="Autoprocessing results, click to use these cell parameters for reintegration">AP Cell: <span class="cells"></span></div>
