<div id="stats" title="Stats for Blend Run #">
        <div class="table">
            <table class="robot_actions">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Overall</th>
                        <th>Inner</th>
                        <th>Outer</th>
                    </tr>
                </thead>

                <tbody>
                    <% _.each(STATS, function(t, i) { %>
                        <tr>
                             <td><%=t[0]%></td>
                             <td><%=t[1]%></td>
                             <td><%=t[2]%></td>
                             <td><%=t[3]%></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>