<h1>View Protein</h1>

<p class="help">This page shows details for the selected protein and a list of samples which make use of it</p>

<!-- Only allow cloning for valid/approved proteins -->
<% if (EXTERNAL == 1) { %>
    <a class="button" href="/proteins/pid/<%-PROTEINID%>/clone">Clone Protein</a>
<% } %>

<div class="form">
    <ul>
        <li>
            <span class="label">Name</span>
            <span class="NAME"><%-NAME%></span>
        </li>
        
        <li>
            <span class="label">Acronym</span>
            <span class="ACRONYM"><%-ACRONYM%></span>
        </li>
        
        <li>
            <span class="label">Molecular Mass</span>
            <span class="MOLECULARMASS"><%-MOLECULARMASS%></span>
        </li>

        <li class="clearfix">
            <label>
                Sequence
                <span class="small">
                  A single protein sequence in single character format e.g. YPKN.
                  No other characters or lines. Complexes are not supported at this time.
                  This sequence is required for MrBUMP and will be used to generate an Alphafold model for future downstream processing tasks.
                  This sequence will be used for the model building step of any Big EP phasing runs.
                </span>
            </label>
            <div class="SEQUENCE seq text tw-inline-block tw-w-2/3"><%=SEQUENCEMD%></div>
        </li>
        
        <li>
            <span class="label">Component Type</span>
            <span class="COMPONENTTYPEID"><%-COMPONENTTYPE%></span>
        </li>

        <li>
            <span class="label">Concentration Unit</span>
            <span class="CONCENTRATIONTYPEID"><%-CONCENTRATIONTYPE%></span>
        </li>

        <li>
            <span class="label">Global</span>
            <span class="GLOBAL"><%-GLOBAL==1 ? 'Yes' : 'No' %></span>
        </li>
        
        <li class="clearfix">
            <label>Associated PDB Files
                <span class="small">
                  A PDB format file of the protein, or subdomain.
                  This is required to trigger the DIMPLE downstream processing task and is also used as an additional input to MrBUMP.
                  Multiple PDB files can be provided and the best match will be used for the downstream task.
                </span>
                <a href="#" class="button add"><i class="fa fa-plus"></i> Add PDB File</a>
            </label>
            <span class="pdb floated">
                <ul class="visits clearfix"></ul>
            </span>
        </li>
        
    </ul>
    
</div>

<div class="conts"></div>
<div class="samples"></div>
<div class="datacollections"></div>
