<div class="form">
    <ul>
        <li>
            <span class="label">Shipment:</span>
            <span class="SHIPMENT">
                <select name="SHIPMENT"></select>
            </span>
        </li>
        <li>
            <span class="label">Dewar:</span>
            <span class="DEWAR">
                <select name="DEWAR"></select>
            </span>
        </li>
        <li>
            <span class="label">Container:</span>
            <span class="CONTAINER">
                <select name="CONTAINER"></select>
            </span>
        </li>
    </ul>
</div>

<div class="ra">
    <a class="button add" href="#"><i class="fa fa-plus"></i> Create Group</a>
</div>
<div class="wrapper"></div>
