<div class="overview">
	<div class="plot_container border">
	    <a href="#" class="r button button-notext" name="reset" title="Reset the zoom level back to the full visit"><i class="fa fa-refresh"></i> <span>Reset</span></a>
	    <div id="overview"></div>
	</div>

	<a href="#" class="button prev"><i class="fa fa-minus"></i></a> 
	<a href="#" class="button next"><i class="fa fa-plus"></i></a>
	<span class="r span"></span>
	<div class="plot_container border">
	    <div id="avg_time"></div>
	</div>
</div>

<div class="plot_container border">
    <div id="dc_hist"></div>
</div>