/* Using a variant of the tailwind/base reset */
@import "modules/normalize_custom.css";

@import "tailwindcss/components";

// Partials
@import "partials/_base.scss";

@import "partials/_icons.scss";
@import "partials/_utility.scss";

@import "partials/_plots.scss";
@import "partials/_tables.scss";

@import "partials/_header.scss";
@import "partials/_sidebar.scss";
@import "partials/_content.scss";

@import "partials/_calendar.scss";
@import "partials/_form.scss";
@import "partials/_assign.scss";
@import "partials/_nearest.scss";
@import "partials/_mc.scss";
@import "partials/_imaging.scss";


// Third-party
@import "jquery-ui/themes/base/all.css";
@import "jquery-ui-timepicker-addon/dist/jquery-ui-timepicker-addon.css";
@import "vendor/jquery-ui.combobox.css";
@import "vendor/magnific-popup.css";
@import "vendor/jquery_misc.css";

@import "tailwindcss/utilities";
