<div class="distl" title="Per Image Analysis plot showing number of spots (yellow and blue points), and estimated resolution (red points) for each image in the data collection"></div>
<div class="snapshots" title="View crystal snapshots for the current data collection">
    <a href="<%-APIURL%>/image/id/<%-ID%>/f/1" title="Crystal Snapshot 1"><img dsrc="" alt="Crystal Snapshot 1" /></a>
</div>
<div class="diffraction" title="Click to view diffraction images">
    <a href="/dc/view/id/<%-ID%>"><img dsrc="" alt="Diffraction Image 1" /></a>
</div>