<div>

    <p class="r">
        <a class="view button" href="/dc/map/id/<%-DCID%>/ty/mrbump"><i class="fa fa-search"></i> Map / Model Viewer</a>
        <a class="dll button" href="<%-APIURL%>/download/mrbump/id/<%-DCID%>"><i class="fa fa-download"></i> PDB/MTZ file</a>
        <a class="view button logf" href="<%-APIURL%>/download/mrbump/id/<%-DCID%>/log/1"><i class="fa fa-search"></i> Log file</a>
    </p>
    
    <table class="rstats">
        <% _.each(STATS[0], function(r, i) { %>
        <tr>
            <% _.each(_.range(STATS.length), function(j) { %>
            <td><%-STATS[j][i]%></td>
            <% }) %>
        </tr>
        <% }) %>
    </table>
    
    <div class="plot_dimple"></div>
    
</div>