<div class="data_collection" dcid="<%-ID%>" type="edge">
    <div class="edge"></div>
    <h1>
        <a href="#" class="atp button button-notext" ty="edge" iid="<%-ID%>" name="<%-DIR%><%-FILETEMPLATE%>"><i class="fa fa-book"></i> <span>Add to Project</span></a>
        <a href="#" class="button button-notext flag <% if (FLAG) { %>button-highlight<% } %>" title="Click to add this data collection to the list of favourite data collections"><i class="fa fa-star-o"></i> <span>Favourite</span></a>
        <a href="/dc/visit/<%-VIS_LINK%>/ty/edge/id/<%-ID%>" class="perm button button-notext"><i class="fa fa-link"></i> <span>Permalink</span></a>
            
        <span class="date"><% if (!IS_VISIT) { %>[<a href="/dc/visit/<%-VIS_LINK%>"><%-VIS_LINK%></a>]<% } %>  <%-ST%></span><span class="spacer"> - </span><span class="temp"><%-DIR%> Edge Scan</span>
    </h1>
    
    <ul class="clearfix half">
        <% if (BLSAMPLEID) { %><li class="sample"><span class="wrap">Sample: <a href="/samples/sid/<%-BLSAMPLEID%>"><%-SAMPLE%></a></span></li><% } %>
        <li>Scan File: <%-FILETEMPLATE%></li>
        <li>E(Peak): <%-EPK.toFixed(1) %>eV (<% print ((12398.4193/EPK).toFixed(4)) %>&#197;)</li>
        <li>f&rsquo;&rsquo;: <%-NUMIMG%> / f&rsquo;: <%-RESOLUTION%>e</li>
        <li>E(Inf): <%-EIN.toFixed(1) %>eV (<% print((12398.4193/EIN).toFixed(4)) %>&#197;)</li>
        <li>f&rsquo;&rsquo;: <%-WAVELENGTH%> / f&rsquo;: <%-AXISRANGE%>e</li>
        <li>Exposure: <%-EXPOSURETIME%>s</li>
        <li>Transmission: <%-TRANSMISSION%>%</li>
        <li>Beamsize: <%-BSX%>x<%-BSY%>&mu;m</li>
        <li>Axis Position: <%-AXISSTART%>&deg;</li>
        <li class="comment" title="Click to edit the comment for this edge scan">Comment: <span class="COMMENTS"><%-COMMENTS%></span></li>
        </ul>
    </div>