<div class="data_collection" dcid="<%-ID%>" type="data" ty="<% print(AXISRANGE == 0 ? 'grid' : (OVERLAP != 0 ? 'screen' : '')) %>">
    <h1>
        <a href="#" class="atp button button-notext" ty="dc" iid="<%-DCG%>" name="<%-DIR%><%-FILETEMPLATE%>"><i class="fa fa-book"></i> <span>Add to Project</span></a>
        <a href="#" class="button button-notext flag <% if (FLAG) { %>button-highlight<% } %>" title="Click to add this data collection to the list of favourite data collections"><i class="fa fa-star-o"></i> <span>Favourite</span></a>
        <% if (DCC > 1) { %>
            <a href="/dc/visit/<%-VIS_LINK%>/dcg/<%-DCG%>" class="perm button button-notext"><i class="fa fa-link"></i> <span>Permalink</span></a>
        <% } else { %>
            <a href="/dc/visit/<%-VIS_LINK%>/id/<%-ID%>" class="perm button button-notext"><i class="fa fa-link"></i> <span>Permalink</span></a>
        <% } %>

        <a href="#" class="comments button button-notext" title="Comments"><i class="fa fa-comments"></i> <b class="dcc"><%-DCCC%></b> <span>Comment(s)</span></a>

        <a href="#" class="button attach"><i class="fa fa-file"></i> <%-DCAC%></a>
        
        <span class="date"><% if (!IS_VISIT) { %>[<a href="/dc/visit/<%-VIS_LINK%>"><%-VIS_LINK%></a>]<% } %> <%-ST%></span><span class="spacer"> - </span><i class="button fa fa-caret-right expand"></i> <span class="temp"><%-DIR%><%-FILETEMPLATE%></span>
        
    </h1>

    <div class="image"></div>
    <div class="diviewer"></div>
    
    <ul class="clearfix single">
        <% if (BLSAMPLEID) { %><li class="sample"><span class="wrap">Sample: <a href="/samples/sid/<%-BLSAMPLEID%>"><%-SAMPLE%></a></span></li><% } %>
        <li>&Omega; Start: <%-AXISSTART%>&deg;</li>
        <% if ((KAPPA && KAPPA !=0) || (PHI && PHI != 0)) { %><li>&kappa;: <%-KAPPA%>&deg; &phi;: <%-PHI%>&deg;</li><% } %>
        <li>Resolution: <%-RESOLUTION%>&#197;</li>
        <li>Wavelength: <%-WAVELENGTH%>&#197;</li>
        <li>Exposure: <%-EXPOSURETIME%>s</li>
        <li>Transmission: <%-TRANSMISSION%>%</li>
        <li>Beamsize: <%-BSX%>x<%-BSY%>&mu;m</li>
        <li>Boxsize: <span class="boxx"></span>x<span class="boxy"></span>&mu;m</li>
        <li class="comment" title="Click to edit the comment for this data collection">Comment: <span class="COMMENTS"><%-COMMENTS%></span></li>
        <% if (!STATE) { %><li>Status: <span class="b">Stopped</span></li><% } %>

        <li>
            Image: <span class="img"></span>
            Value: <span class="val"></span>
        </li>
        <li>
            X: <span class="x"></span>
            Y: <span class="y"></span>
            Z: <span class="z"></span>
        </li>
    </ul>

    <a href="#" class="button zoom"><i class="fa fa-search-plus"></i> <span>Enlarge</span></a>

    <div class="holder">
        <h1 title="Xray Centring Status and Results" class="xrc"><span><i class="fa fa-spinner fa-spin"></i></span></h1>
    </div>
</div>