
<h1 class="no_mobile"><span class="visit"><%-VIS_LINK%>: </span><%-DIR%><%-FILETEMPLATE%></h1>

<p class="help">This page is a full scale diffraction image viewer. Mousehweel zooms in and out, drag click to pan around the image. Press &gt; to go to the next image and &lt; the previous.</p>

<div class="data_collection dc_params">
    <ul class="full clearfix">
        <li>Exposure: <%-EXPOSURETIME%>s</li>
        <li>Transmission: <%-TRANSMISSION%>%</li>
        <li>Resolution: <%-RESOLUTION%>&#197;</li>
        <li>Wavelength: <%-WAVELENGTH%>&#197;</li>
        <li>Oscillation: <%-AXISRANGE%>&deg;</li>
    </ul>
</div>

<div class="image_controls border clearfix">
    
    <div class="im_col">
        <abbr title="Hotkey: B increases, b decreases">B</abbr>rightness: <span class="bval">0</span> <div class="brightness"></div>
    </div>
    
    <div class="im_col">
        <abbr title="Hotkey: C increases, c decreases">C</abbr>ontrast: <span class="cval">0</span> <div class="contrast"></div>
    </div>
    
    <div class="im_size im_col">
        <abbr title="Hotkey: Z zooms in, z zooms out">Z</abbr>oom: <span class="zval">0</span>% <div class="zoom"></div>
    </div>
    
    <div class="im_col toggles">
        <label><abbr title="Hotkey: R toggles resolution rings">R</abbr>esolution Rings: <input type="checkbox" name="res" value="1" /></label>
        <label>Ice Rings: <input type="checkbox" name="ice" value="1" /></label>
        <label><abbr title="Hotkey: I toggles image inversion">I</abbr>nvert: <input type="checkbox" name="invert" value="1" /></label>
        <label><abbr title="Hotkey: T toggles image thresholding">T</abbr>hreshold: <input type="checkbox" name="threshold" value="1" /></label>
    </div>
    
    <div class="im_num">
        <button name="prev" title="Load previous image">&lt;</button>
        <input type="text" name="num" value="1" title="Load the image with this number" />/<%-NI%>
        <button name="next" title="Load next image">&gt;</button>
        <button name="reset" title="Reset Image">Reset</button>
    </div>
    
</div>

<div class="message_box"></div>

<div class="image_container border">
    <div class="im_highlight"></div>
    <div class="im_progress"></div>
    
    <div class="im_cur" title="Zoomed region, click on the main image to select the region to zoom">
        <p title="Diffraction resolution at cursor position">Resolution: <span class="res">0</span>&#197;</p>
        <span class="progress"></span>
    </div>
    
    <div class="yprofile"></div>
    <div class="xprofile"></div>
    
    <div class="im_zoom">
        <canvas class="im_zoomc" width="200" height="100"></canvas>
    </div>
    
    <div class="image">
        <canvas class="img"></canvas>
    </div>
</div>

