<h1 class="no_mobile">Queue Builder for <%-VISIT%> on <%-BL%></h1>

<div class="smpls"></div>

<!--
<h2>Default Parameters</h2>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Directory</th>
                <th>Image Prefix</th>
                <th>Start</th>
                <th>Osc</th>
                <th>Overlap</th>
                <th># Images</th>
                <th>Exposure</th>
                <th>Transmission</th>
                <th>Wavelength</th>
                <th>Resolution</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="DIR"></td>
                <td><input type="text" name="IMP"></td>
                <td><input type="text" name="AXISSTART"></td>
                <td><input type="text" name="AXISRANGE"></td>
                <td><input type="text" name="OVERLAP"></td>
                <td><input type="text" name="NUMIMG"></td>
                <td><input type="text" name="EXPOSURETIME"></td>
                <td><input type="text" name="TRANSMISSION"></td>
                <td><input type="text" name="WAVELENGTH"></td>
                <td><input type="text" name="RESOLUTION"></td>
            </tr>
        </tbody>
    </table>
</div>
-->
<div class="queue"></div>

<div draggable="true" class="button drag">Drag to GDA</div>

