	<p class="help">
		Select data sets to reintegrate by selecting a number of images in the DISTL plot. Provide unit cell parameters, space group, and high resolution cut off as needed. Click an existing cell to autofill
	</p>

	<div class="cell data_collection">
        <div class="autoproc">
            <label>Auto Processed <select name="cells"></select></label>
        </div>

        <label>Spacegroup: <input type="text" name="sg" /></label>

        <label>a <input type="text" name="a" /></label>
        <label>b <input type="text" name="b" /></label>
        <label>c <input type="text" name="c" /></label>
        <label>&alpha; <input type="text" name="alpha" /></label>
        <label>&beta; <input type="text" name="beta" /></label>
        <label>&gamma; <input type="text" name="gamma" /></label>

        <label>High Resolution <input type="text" name="res" /></label>
    </div>

    <div class="dcs"></div>