<h1 class="no_mobile">Data Collection Summary</h1>

<p class="ra">
	<a href="/dc/visit/<%-VISIT%>" class="button"><i class="fa fa-search"></i> Data Collections</a>
</p>

<div class="options data_collection">
    <div class="r">
        <a href="#" name="update" class="button"><i class="fa fa-refresh"></i> Update</a>
    </div>
    <label>Resolution: <input type="text" name="res" value="1" /></label>
    <label>Rmerge: <input type="text" name="rmerge" value="0.6" /></label>
    <label>Completeness: <input type="text" name="comp" value="1" /></label>
    <label>I/&sigma;(I): <input type="text" name="isigi" value="0.5" /></label>
    <label>Match Spacegroup: <input type="checkbox" name="sg" value="1" /></label>
</div>

<div class="srch"></div>
<div class="page_wrap"></div>
<div class="wrapper"></div>
