<!-- Allocate Container -->
    <div data-role="header" data-theme="b" data-position="fixed">
        <a href="/" data-icon="home" data-iconpos="notext">Home</a>
        <h1><%=BL%> - <%=VISIT%> at <%=ST%></h1>
    </div>

    <div class="ui-content">
        <div class="pos"></div>

        <div class="ui-grid-b">
            <div class="ui-block-a">
                <a class="ui-btn ui-btn-icon-left ui-icon-arrow-l prev">Previous Page</a>
            </div>
            <div class="ui-block-b">
                <a class="ui-btn">Page <span class="page">1</a></a>
            </div>
            <div class="ui-block-c">
                <a class="ui-btn ui-btn-icon-right ui-icon-arrow-r next">Next Page</a>
            </div>
        </div>
        
        <div class="shps"></div>
        <div data-role="collapsible-set" id="shipments"></div>

    </div>
