// Responsive breakpoints
// With Tailwind these should match those in tailwind.config.js
$breakpoint-vsmall: 400px; // Matches tailwind xs
$breakpoint-small: 800px; // Matches tailwind md
$breakpoint-medium: 1024px; // Matches tailwind lg
$breakpoint-large: 1280px; // Matches tailwind xl
