{
  "swagger": "2.0",
  "info": {
    "version": "2020-R1",
    "title": "SynchWeb REST API Specification",
    "description": "SynchWeb"
  },
  "host": "ispyb.diamond.ac.uk",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Authenticate with api",
        "description": "Get a jwt for future authenticated requests",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/LoginReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns jwt token",
            "schema": {
              "$ref": "#/definitions/JWTResp"
            }
          },
          "400": {
            "description": "Invalid Credentials"
          }
        }
      }
    },
    "/authenticate/check": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Check for sso",
        "description": "Check for SSO login and return jwt",
        "responses": {
          "200": {
            "description": "Returns jwt token",
            "schema": {
              "$ref": "#/definitions/JWTResp"
            }
          },
          "400": {
            "description": "No valid existing session"
          }
        }
      }
    },
    "/authenticate/key": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Get jwt private key",
        "responses": {
          "200": {
            "description": "Returns a base64 encoded 64bit hash",
            "schema": {
              "$ref": "#/definitions/JWTKey"
            }
          }
        }
      }
    },
    "/options": {
      "get": {
        "tags": [
          "options"
        ],
        "summary": "Get UI options object",
        "description": "Will be extended",
        "responses": {
          "200": {
            "description": "Options",
            "schema": {
              "$ref": "#/definitions/Options"
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "users"
        ],
        "summary": "Get list of users",
        "responses": {
          "200": {
            "description": "A list of users",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          }
        }
      }
    },
    "/users/{groupid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "users"
        ],
        "summary": "Get users for a user group",
        "parameters": [
          {
            "name": "groupid",
            "in": "path",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Users for a UserGroup",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          }
        }
      }
    },
    "/users/current": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "users"
        ],
        "summary": "Get current user info",
        "responses": {
          "200": {
            "description": "Parameters for the current user",
            "schema": {
              "$ref": "#/definitions/CurrentUser"
            }
          }
        }
      }
    },
    "/users/log": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "users"
        ],
        "summary": "Log a users location",
        "parameters": [
          {
            "name": "location",
            "in": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location logged"
          }
        }
      }
    },
    "/users/time": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "users"
        ],
        "summary": "Return current server date / time",
        "description": "For UI front page",
        "responses": {
          "200": {
            "description": "Current server date / time",
            "examples": {
              "application/json": {
                "TIME": "Wed Jun 22 2016 21:37:05 (GMT+0100)"
              }
            }
          }
        }
      }
    },
    "/proposal": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "proposals"
        ],
        "summary": "Get list of proposals",
        "parameters": [
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          },
          {
            "$ref": "#/parameters/SearchParam"
          },
          {
            "$ref": "#/parameters/SortByParam"
          },
          {
            "$ref": "#/parameters/SortOrderParam"
          },
          {
            "$ref": "#/parameters/ProposalParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of proposals",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Proposal"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proposal/{proposal}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "proposals"
        ],
        "summary": "Get a single proposal",
        "parameters": [
          {
            "name": "proposal",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Single proposal",
            "schema": {
              "$ref": "#/definitions/Proposal"
            }
          }
        }
      }
    },
    "/proposal/bls": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "proposals"
        ],
        "summary": "Get a list of beamlines for a type",
        "parameters": [
          {
            "$ref": "#/parameters/TypeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of beamlines for type",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "application/json": [
                "i02",
                "i03",
                "i04"
              ]
            }
          }
        }
      }
    },
    "/proposal/visits": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "visits"
        ],
        "summary": "Get a list of visits",
        "parameters": [
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          },
          {
            "$ref": "#/parameters/SearchParam"
          },
          {
            "$ref": "#/parameters/SortByParam"
          },
          {
            "$ref": "#/parameters/SortOrderParam"
          },
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/BLParam"
          },
          {
            "name": "all",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show all visits (need staff permission)",
            "enum": [
              1
            ]
          },
          {
            "name": "year",
            "type": "string",
            "in": "query",
            "pattern": "\\d\\d\\d\\d",
            "description": "Show visits from year"
          },
          {
            "name": "month",
            "type": "string",
            "in": "query",
            "pattern": "\\d+",
            "description": "Show visits from month"
          },
          {
            "name": "cm",
            "type": "string",
            "in": "query",
            "pattern": "\\d",
            "description": "Show commissioning visits",
            "enum": [
              1
            ]
          },
          {
            "name": "next",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show next visit to start",
            "enum": [
              1
            ]
          },
          {
            "name": "prev",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show previous visit to start",
            "enum": [
              1
            ]
          },
          {
            "name": "started",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show started visits",
            "enum": [
              1
            ]
          },
          {
            "name": "current",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show current visits",
            "enum": [
              1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "test",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Visit"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proposal/visits/{visit}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "visits"
        ],
        "summary": "Get a single visit",
        "parameters": [
          {
            "name": "visit",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Single visit",
            "schema": {
              "$ref": "#/definitions/Visit"
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "visits"
        ],
        "summary": "Update a visit, pass one Visit property",
        "parameters": [
          {
            "name": "visit",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "properties": {
                "COMMENTS": {
                  "type": "string",
                  "example": "a new comment"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visit updated",
            "schema": {
              "properties": {
                "COMMENTS": {
                  "type": "string",
                  "example": "a new comment"
                }
              }
            }
          }
        }
      }
    },
    "/sample/proteins": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "proteins"
        ],
        "summary": "Get a list of proteins",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          },
          {
            "$ref": "#/parameters/SearchParam"
          },
          {
            "$ref": "#/parameters/SortByParam"
          },
          {
            "$ref": "#/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of proteins",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Protein"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "proteins",
          "create-shipment"
        ],
        "summary": "Add a new protein",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ProteinNew"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Protein created",
            "schema": {
              "properties": {
                "PROTEINID": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Missing protein field"
          }
        }
      }
    },
    "/sample/proteins/{proteinid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "proteins"
        ],
        "summary": "Get a single protein",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "proteinid",
            "in": "path",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A protein",
            "schema": {
              "$ref": "#/definitions/Protein"
            }
          },
          "400": {
            "description": "No such protein"
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "proteins"
        ],
        "summary": "Update a protein",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "proteinid",
            "in": "path",
            "type": "number",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "properties": {
                "NAME": {
                  "type": "string",
                  "example": "New Protein Name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Protein Updated",
            "schema": {
              "properties": {
                "NAME": {
                  "type": "string",
                  "example": "New Protein Name"
                }
              }
            }
          }
        }
      }
    },
    "/sample": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "samples"
        ],
        "summary": "Get a list of samples",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          },
          {
            "$ref": "#/parameters/SearchParam"
          },
          {
            "$ref": "#/parameters/SortByParam"
          },
          {
            "$ref": "#/parameters/SortOrderParam"
          },
          {
            "$ref": "#/parameters/ProteinIDParam"
          },
          {
            "$ref": "#/parameters/CIDParam"
          },
          {
            "$ref": "#/parameters/SampleVisitParam"
          },
          {
            "$ref": "#/parameters/SampleStatusParam"
          },
          {
            "$ref": "#/parameters/SampleGroupIDParam"
          },
          {
            "$ref": "#/parameters/CollectedDuringParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of samples",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Sample"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "samples",
          "create-shipment"
        ],
        "summary": "Add a new sample",
        "description": "Either a single sample can be created, or a collection of samples can be created in a single pass either an object of a single sample { sample }, or a body with { collection: [{ sample }, ...] }",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/SampleNew"
                },
                {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "description": "Array of samples to register",
                      "items": {
                        "$ref": "#/definitions/SampleNew"
                      }
                    }
                  }
                }
              ],
              "example": {
                "single": {
                  "CONTAINERID": 123,
                  "PROTEINID": 123,
                  "CRYSTALID": 123,
                  "LOCATION": "1",
                  "NAME": "xtal4",
                  "COMMENTS": "in 25% PEG4000 50um",
                  "SPACEGROUP": "P222",
                  "CODE": "FG5644",
                  "ANOMALOUSSCATTERER": "Fe",
                  "CENTRINGMETHOD": "xray",
                  "EXPERIMENTKIND": "SAD",
                  "RADIATIONSENSITIVITY": 50,
                  "SCREENCOMPONENTGROUPID": 123,
                  "CELL_A": 123.4,
                  "CELL_ALPHA": 123.4,
                  "CELL_B": 123.4,
                  "CELL_BETA": 123.4,
                  "CELL_C": 123.4,
                  "CELL_GAMMA": 123.4,
                  "DIMENSION1": 123,
                  "DIMENSION2": 123,
                  "DIMENSION3": 123,
                  "THEORETICALDENSITY": 1243.3,
                  "VOLUME": 20,
                  "ABUNDANCE": 25,
                  "PACKINGFRACTION": 0.5,
                  "ENERGY": 12768,
                  "LOOPTYPE": "polymer",
                  "SHAPE": "cubic"
                },
                "multiple": [
                  {
                    "CONTAINERID": 123,
                    "PROTEINID": 123,
                    "CRYSTALID": 123,
                    "LOCATION": "1",
                    "NAME": "xtal4",
                    "COMMENTS": "in 25% PEG4000 50um",
                    "SPACEGROUP": "P222",
                    "CODE": "FG5644",
                    "ANOMALOUSSCATTERER": "Fe",
                    "CENTRINGMETHOD": "xray",
                    "EXPERIMENTKIND": "SAD",
                    "RADIATIONSENSITIVITY": 50,
                    "SCREENCOMPONENTGROUPID": 123,
                    "CELL_A": 123.4,
                    "CELL_ALPHA": 123.4,
                    "CELL_B": 123.4,
                    "CELL_BETA": 123.4,
                    "CELL_C": 123.4,
                    "CELL_GAMMA": 123.4,
                    "DIMENSION1": 123,
                    "DIMENSION2": 123,
                    "DIMENSION3": 123,
                    "THEORETICALDENSITY": 1243.3,
                    "VOLUME": 20,
                    "ABUNDANCE": 25,
                    "PACKINGFRACTION": 0.5,
                    "ENERGY": 12768,
                    "LOOPTYPE": "polymer",
                    "SHAPE": "cubic"
                  },
                  {
                    "CONTAINERID": 123,
                    "PROTEINID": 123,
                    "CRYSTALID": 123,
                    "LOCATION": "2",
                    "NAME": "xtal4",
                    "COMMENTS": "in 25% PEG4000 50um",
                    "SPACEGROUP": "P222",
                    "CODE": "FG5644",
                    "ANOMALOUSSCATTERER": "Fe",
                    "CENTRINGMETHOD": "xray",
                    "EXPERIMENTKIND": "SAD",
                    "RADIATIONSENSITIVITY": 50,
                    "SCREENCOMPONENTGROUPID": 123,
                    "CELL_A": 123.4,
                    "CELL_ALPHA": 123.4,
                    "CELL_B": 123.4,
                    "CELL_BETA": 123.4,
                    "CELL_C": 123.4,
                    "CELL_GAMMA": 123.4,
                    "DIMENSION1": 123,
                    "DIMENSION2": 123,
                    "DIMENSION3": 123,
                    "THEORETICALDENSITY": 1243.3,
                    "VOLUME": 20,
                    "ABUNDANCE": 25,
                    "PACKINGFRACTION": 0.5,
                    "ENERGY": 12768,
                    "LOOPTYPE": "polymer",
                    "SHAPE": "cubic"
                  },
                  {
                    "CONTAINERID": 123,
                    "PROTEINID": 123,
                    "CRYSTALID": 123,
                    "LOCATION": "3",
                    "NAME": "xtal4",
                    "COMMENTS": "in 25% PEG4000 50um",
                    "SPACEGROUP": "P222",
                    "CODE": "FG5644",
                    "ANOMALOUSSCATTERER": "Fe",
                    "CENTRINGMETHOD": "xray",
                    "EXPERIMENTKIND": "SAD",
                    "RADIATIONSENSITIVITY": 50,
                    "SCREENCOMPONENTGROUPID": 123,
                    "CELL_A": 123.4,
                    "CELL_ALPHA": 123.4,
                    "CELL_B": 123.4,
                    "CELL_BETA": 123.4,
                    "CELL_C": 123.4,
                    "CELL_GAMMA": 123.4,
                    "DIMENSION1": 123,
                    "DIMENSION2": 123,
                    "DIMENSION3": 123,
                    "THEORETICALDENSITY": 1243.3,
                    "VOLUME": 20,
                    "ABUNDANCE": 25,
                    "PACKINGFRACTION": 0.5,
                    "ENERGY": 12768,
                    "LOOPTYPE": "polymer",
                    "SHAPE": "cubic"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sample created",
            "schema": {
              "properties": {
                "BLSAMPLEID": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Missing sample field"
          }
        }
      }
    },
    "/sample/{sampleid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "samples"
        ],
        "summary": "Get a single sample",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "sampleid",
            "in": "path",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A sample",
            "schema": {
              "$ref": "#/definitions/Sample"
            }
          },
          "400": {
            "description": "No such sample"
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "samples"
        ],
        "summary": "Update a sample",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "sampleid",
            "in": "path",
            "type": "number",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "properties": {
                "NAME": {
                  "type": "string",
                  "example": "New Sample Name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sample Updated",
            "schema": {
              "properties": {
                "NAME": {
                  "type": "string",
                  "example": "New Sample Name"
                }
              }
            }
          }
        }
      }
    },
    "/contact": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "contacts"
        ],
        "summary": "Get a list of lab contacts",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          },
          {
            "$ref": "#/parameters/SearchParam"
          },
          {
            "$ref": "#/parameters/SortByParam"
          },
          {
            "$ref": "#/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of lab contacts",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Contact"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "contacts",
          "create-shipment"
        ],
        "summary": "Create a lab contact",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ContactNew"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact created",
            "schema": {
              "properties": {
                "LABCONTACTID": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Missing contact field"
          }
        }
      }
    },
    "/contact/{contactid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "contacts"
        ],
        "summary": "Get a single lab contact",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "contactid",
            "in": "path",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A contact",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "400": {
            "description": "No such contact"
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "contacts"
        ],
        "summary": "Update a lab contact",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "contactid",
            "in": "path",
            "type": "number",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "properties": {
                "CARDNAME": {
                  "type": "string",
                  "example": "New Card Name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact Updated",
            "schema": {
              "properties": {
                "CARDNAME": {
                  "type": "string",
                  "example": "New Card Name"
                }
              }
            }
          }
        }
      }
    },
    "/shipment/shipments": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments"
        ],
        "summary": "Get a list of shipments",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          },
          {
            "$ref": "#/parameters/SearchParam"
          },
          {
            "$ref": "#/parameters/SortByParam"
          },
          {
            "$ref": "#/parameters/SortOrderParam"
          },
          {
            "name": "all",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show all shipments (requires staff permission)",
            "enum": [
              1
            ]
          },
          {
            "name": "manifest",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show all shipments for DHL manifest",
            "enum": [
              1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A list of shipments",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "number",
                  "example": 500
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Shipment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments",
          "create-shipment"
        ],
        "summary": "Create a new shipment",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment Created",
            "schema": {
              "properties": {
                "SHIPPINGID": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/shipment/shipments/{shippingid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments"
        ],
        "summary": "Get a single shipment",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ShippingIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A single shipment",
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments"
        ],
        "summary": "Update a shipment",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ShippingIDParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment updated",
            "schema": {
              "properties": {
                "SHIPPINGNAME": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/shipment/send/{shippingid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments"
        ],
        "summary": "Mark a shipment as sent to facility.",
        "description": "Emails goods handling and local contacts",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ShippingIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment marked as sent"
          }
        }
      }
    },
    "/shipment/terms/{shippingid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments"
        ],
        "summary": "Returns facility courier terms and conditions",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ShippingIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Terms and conditions",
            "schema": {
              "type": "object",
              "properties": {
                "TERMS": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments"
        ],
        "summary": "Accept facility courier t&cs",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ShippingIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Courier terms accepted",
            "schema": {
              "type": "object",
              "properties": {
                "ACCEPTED": {
                  "type": "string",
                  "pattern": "\\d+",
                  "example": 1
                }
              }
            }
          }
        }
      }
    },
    "/shipment/awb/{shippingid}": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments"
        ],
        "summary": "Request pickup of dewars from facility",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ShippingIDParam"
          },
          {
            "in": "body",
            "name": "DECLAREDVALUE",
            "type": "integer",
            "description": "Declared value of dewar"
          },
          {
            "in": "body",
            "name": "DESCRIPTION",
            "type": "string",
            "description": "Shipment description"
          },
          {
            "in": "body",
            "name": "DEWARS",
            "type": "object",
            "description": "List of dewar ids"
          }
        ],
        "responses": {
          "200": {
            "description": "AWB and pickup status",
            "schema": {
              "type": "object",
              "properties": {
                "AWB": {
                  "type": "string"
                },
                "PICKUP": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/shipment/awb/quote": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments"
        ],
        "summary": "Generate quote for shipment from DHL",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ShippingIDParam"
          },
          {
            "in": "body",
            "name": "DECLAREDVALUE",
            "type": "integer",
            "description": "Declared value of dewar"
          },
          {
            "in": "body",
            "name": "DESCRIPTION",
            "type": "string",
            "description": "Shipment description"
          },
          {
            "in": "body",
            "name": "DEWARS",
            "type": "object",
            "description": "List of dewar ids"
          }
        ],
        "responses": {
          "200": {
            "description": "DHL Products and prices available",
            "schema": {
              "type": "object",
              "properties": {
                "ToDo": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/shipment/pickup/{shippingid}": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments"
        ],
        "summary": "Rebook a pickup from the users facility",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ShippingIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Status of pickup (1 or 0)",
            "schema": {
              "type": "object",
              "properties": {
                "PICKUP": {
                  "type": "string",
                  "pattern": "\\d+",
                  "example": 1
                }
              }
            }
          }
        }
      }
    },
    "/shipment/pickup/cancel/{shippingid}": {
      "delete": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "shipments"
        ],
        "summary": "Cancel a pickup from the users facility",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ShippingIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Status of cancellation request (1 or 0)",
            "schema": {
              "type": "object",
              "properties": {
                "CANCEL": {
                  "type": "string",
                  "pattern": "\\d+",
                  "example": 1
                }
              }
            }
          }
        }
      }
    },
    "/shipment/dewars": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars"
        ],
        "summary": "Get a list of dewars",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/VisitParam"
          },
          {
            "$ref": "#/parameters/BLParam"
          },
          {
            "$ref": "#/parameters/FCQueryParam"
          },
          {
            "$ref": "#/parameters/ShippingIDQueryParam"
          },
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          },
          {
            "$ref": "#/parameters/SearchParam"
          },
          {
            "$ref": "#/parameters/SortByParam"
          },
          {
            "$ref": "#/parameters/SortOrderParam"
          },
          {
            "name": "all_dewars",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show all dewars (requires staff permission)",
            "enum": [
              1
            ]
          },
          {
            "name": "current",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show dewars for sessions that are active",
            "enum": [
              1
            ]
          },
          {
            "name": "requestedimager",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show all dewars with a requested imager",
            "enum": [
              1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "List of dewars",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dewar"
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars",
          "create-shipment"
        ],
        "summary": "Create a dewar",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DewarNew"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dewar Created",
            "schema": {
              "properties": {
                "DEWARID": {
                  "type": "string",
                  "example": 52
                }
              }
            }
          }
        }
      }
    },
    "/shipment/dewars/{dewarid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars"
        ],
        "summary": "Get a single dewar",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/DewarIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A single dewar",
            "schema": {
              "$ref": "#/definitions/Dewar"
            }
          },
          "400": {
            "description": "No such dewar"
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars"
        ],
        "summary": "Update a dewar",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/DewarIDParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Dewar"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dewar updated"
          },
          "400": {
            "description": "No such dewar"
          }
        }
      }
    },
    "/shipment/dewars/sid/{shippingid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars"
        ],
        "summary": "Get dewars for a shipment",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ShippingIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of dewars",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dewar"
              }
            }
          }
        }
      }
    },
    "/shipment/dewars/fc/{facilitycode}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars"
        ],
        "summary": "Get a list of dewars for a facility code",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/FCParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of dewars",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dewar"
              }
            }
          }
        }
      }
    },
    "/shipment/dewars/history": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars-history"
        ],
        "summary": "Get a list of dewar history",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dewar history",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DewarHistory"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars-history"
        ],
        "summary": "Add a dewar history entry.",
        "description": "Email people as needbe, if arrived at facility email user, local contact",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CreateDewarHistory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dewar history created",
            "schema": {
              "properties": {
                "DEWARHISTORYID": {
                  "type": "integer",
                  "example": 1254
                }
              }
            }
          }
        }
      }
    },
    "/shipment/dewars/history/did/{dewarid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars-history"
        ],
        "summary": "Get dewar history for a specific dewar",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/DewarIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of dewar history",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DewarHistory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/dewars/registry": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars-registry"
        ],
        "summary": "Get a list of dewars in regsiter",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          },
          {
            "$ref": "#/parameters/SearchParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dewars in regsitry",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DewarRegistry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/dewars/registry/{facilitycode}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars-registry"
        ],
        "summary": "Get a single registry entry",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/FCParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A single registry entry",
            "schema": {
              "$ref": "#/definitions/DewarRegistry"
            }
          },
          "400": {
            "description": "No such dewar"
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars-registry"
        ],
        "summary": "Update a dewar resgistry entry (single field)",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/FCParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DewarRegistry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registry entry updated (return single field)"
          },
          "400": {
            "description": "No such dewar"
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars-registry"
        ],
        "summary": "Create a dewar registry entry",
        "description": "This should probably be a post method",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/FCParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DewarRegistry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registry entry created",
            "schema": {
              "$ref": "#/definitions/DewarRegistry"
            }
          },
          "400": {
            "description": "Missing fields"
          }
        }
      }
    },
    "/shipment/dewars/reports": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars"
        ],
        "summary": "Get a list of dewar reports",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dewar reports",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DewarReport"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars"
        ],
        "summary": "Create a dewar report",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CreateDewarReport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dewar report created",
            "schema": {
              "properties": {
                "DEWARREPORTID": {
                  "type": "string",
                  "example": 1244
                }
              }
            }
          }
        }
      }
    },
    "/shipment/dewars/default": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars"
        ],
        "summary": "Get / create default dewar",
        "description": "Used to allow quick container registration bypassing the need to create a shipment / dewar",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Return default dewar id",
            "schema": {
              "type": "integer",
              "example": 3453
            }
          }
        }
      }
    },
    "/shipment/dewars/transfer": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars"
        ],
        "summary": "Request a dewar transfer",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DewarTransfer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer request registered"
          }
        }
      }
    },
    "/shipment/dewars/dispatch": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dewars"
        ],
        "summary": "Request a dewar dispatch",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DewarDispatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispatch request registered"
          }
        }
      }
    },
    "/shipment/containers": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "containers"
        ],
        "summary": "Get a list of containers",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          },
          {
            "$ref": "#/parameters/VisitParam"
          },
          {
            "$ref": "#/parameters/BLParam"
          },
          {
            "$ref": "#/parameters/ProteinIDParam"
          },
          {
            "$ref": "#/parameters/DewarIDParam"
          },
          {
            "name": "all",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show all containers (need staff permission)",
            "enum": [
              1
            ]
          },
          {
            "name": "ty",
            "type": "string",
            "in": "query",
            "pattern": "\\w+",
            "description": "Show containers of a particular type",
            "enum": [
              "plate",
              "puck"
            ]
          },
          {
            "name": "assigned",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show all assigned containers",
            "enum": [
              1
            ]
          },
          {
            "name": "unassigned",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show all unassigned containers",
            "enum": [
              1
            ]
          },
          {
            "name": "imager",
            "type": "number",
            "in": "query",
            "pattern": "\\d",
            "description": "Show all containers in an imager",
            "enum": [
              1
            ]
          },
          {
            "$ref": "#/parameters/ImagerIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of containers",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Container"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "containers",
          "create-shipment"
        ],
        "summary": "Create a container",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ContainerNew"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Container created",
            "schema": {
              "properties": {
                "CONTAINERID": {
                  "type": "integer",
                  "example": 8965
                }
              }
            }
          }
        }
      }
    },
    "/shipment/containers/{containerid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "containers"
        ],
        "summary": "Get a single container",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ContainerIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A single container",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Container"
              }
            }
          },
          "400": {
            "description": "No such container"
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "containers"
        ],
        "summary": "Update a container",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/ContainerIDParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "properties": {
                "NAME": {
                  "type": "string",
                  "example": "New container name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Container updated",
            "schema": {
              "properties": {
                "NAME": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "No such container"
          }
        }
      }
    },
    "/shipment/containers/did/{dewarid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "containers"
        ],
        "summary": "Get containers for a particular dewar",
        "parameters": [
          {
            "$ref": "#/parameters/DewarIDParam"
          },
          {
            "$ref": "#/parameters/ProposalParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of containers",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Container"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/containers/move": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "containers"
        ],
        "summary": "Move a container to a different dewar",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "cid",
            "in": "query",
            "type": "number",
            "description": "Container id to move"
          },
          {
            "name": "did",
            "in": "query",
            "type": "number",
            "description": "New dewar id"
          }
        ],
        "responses": {
          "200": {
            "description": "Container moved"
          }
        }
      }
    },
    "/shipment/containers/queue": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "containers"
        ],
        "summary": "Queue a container for data collection",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "name": "cid",
            "in": "query",
            "type": "number",
            "description": "Container id to move"
          }
        ],
        "responses": {
          "200": {
            "description": "Container queued"
          },
          "400": {
            "description": "No such container / Container already queued"
          }
        }
      }
    },
    "/shipment/cache/{name}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "containers"
        ],
        "summary": "Get a named cache",
        "description": "Return a json object",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/CacheNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Return named object",
            "schema": {
              "properties": {
                "data": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "containers"
        ],
        "summary": "Update a named cache",
        "description": "Can pass a json object which will be serialised",
        "parameters": [
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/CacheNameParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "properties": {
                "data": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cache updated",
            "schema": {
              "properties": {
                "data": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/dc": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections"
        ],
        "summary": "List of beamline events (data collections)",
        "description": "Due to the way ISPyB was built this unions 4 separate tables, and therefore ID is not unique and must be used in conjunction with the t param to get a specific event\n\nPossible types 't' are\n* `dc` Data collections\n* `sc` Screenings\n* `fc` Full data collections\n* `gr` Grid scans\n* `edge` Energy scans\n* `mca` MCA Spectra\n* `rb` Sample Changer Actions\n* `ac` Other Sample Actions\n* `flag` Flagged events\n* `ap` Data collections that have been auto integrated\n",
        "parameters": [
          {
            "$ref": "#/parameters/PageNumberParam"
          },
          {
            "$ref": "#/parameters/PerPageParam"
          },
          {
            "$ref": "#/parameters/ProposalParam"
          },
          {
            "$ref": "#/parameters/VisitParam"
          },
          {
            "$ref": "#/parameters/SearchParam"
          },
          {
            "$ref": "#/parameters/ProteinIDParam"
          },
          {
            "$ref": "#/parameters/SampleIDParam"
          },
          {
            "$ref": "#/parameters/ProjectIDParam"
          },
          {
            "$ref": "#/parameters/ImplicitParam"
          },
          {
            "name": "t",
            "in": "query",
            "type": "string",
            "pattern": "\\w+",
            "enum": [
              "dc",
              "sc",
              "fc",
              "gr",
              "edge",
              "mca",
              "rb",
              "ac",
              "flag",
              "ap"
            ]
          },
          {
            "name": "dcg",
            "in": "query",
            "type": "number",
            "pattern": "\\d+",
            "description": "Show events in a group"
          }
        ],
        "responses": {
          "200": {
            "description": "List of beamline events. Legacy format, to be converted",
            "schema": {
              "$ref": "#/definitions/DataCollections"
            }
          }
        }
      }
    },
    "/dc/id/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections"
        ],
        "summary": "Get a particular data collection",
        "description": "Returns array",
        "parameters": [
          {
            "$ref": "#/parameters/DCIDPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Array containing single data collection",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCollections"
              }
            }
          }
        }
      }
    },
    "/dc/t/{type}/id/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections"
        ],
        "summary": "Get a particular beamline event",
        "description": "Returns array",
        "parameters": [
          {
            "$ref": "#/parameters/DCIDPathParam"
          },
          {
            "$ref": "#/parameters/DCTypePathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Array containing single beamline event",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCollections"
              }
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections"
        ],
        "summary": "Update a data collection",
        "description": "Used to update a comment on data collection, easily extendable to other properties",
        "parameters": [
          {
            "$ref": "#/parameters/DCIDPathParam"
          },
          {
            "$ref": "#/parameters/DCTypePathParam"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DataCollection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data collection updated",
            "schema": {
              "$ref": "#/definitions/DataCollection"
            }
          }
        }
      }
    },
    "/dc/comments": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections"
        ],
        "summary": "Get a list of data collection comments",
        "parameters": [
          {
            "$ref": "#/parameters/DCIDQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of data collection comments",
            "schema": {
              "properties": {
                "total": {
                  "type": "integer",
                  "description": "total number of entries"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DataCollectionComment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections"
        ],
        "summary": "Create a data collection comment",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DataCollectionComment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data collection comment created",
            "schema": {
              "type": "object",
              "properties": {
                "DATACOLLECTIONCOMMENTID": {
                  "type": "number",
                  "example": 593
                }
              }
            }
          }
        }
      }
    },
    "/dc/comments/{dccid}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections"
        ],
        "summary": "Get a single data collection comment",
        "parameters": [
          {
            "name": "dccid",
            "in": "path",
            "description": "Data collection comment id",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Data collection comment",
            "schema": {
              "$ref": "#/definitions/DataCollectionComment"
            }
          }
        }
      }
    },
    "/dc/chi": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections-status"
        ],
        "summary": "Check if snapshots and diffraction images thumbnails are on disk",
        "parameters": [
          {
            "$ref": "#/parameters/DCIDsBodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of data collections and flags indicating image statuses",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ImageStatus"
              }
            }
          }
        }
      }
    },
    "/dc/aps": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections-status"
        ],
        "summary": "Get autoprocessing statuses for a number of data collections.",
        "description": "This will be abstracted in due course and use a plugin architecture",
        "parameters": [
          {
            "$ref": "#/parameters/DCIDsBodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of the form [[dcid, { type: { program: status, ...}, ... }]\n- Processing statuses:\n  * 0 = didnt run\n  * 1 = running\n  * 2 = success\n  * 3 = failed\n- Processing Types:\n  * screening\n  * autoproc\n  * downstream\n\n- Programs as defined from config\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/APStatus"
              }
            }
          }
        }
      }
    },
    "/dc/imq/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections-status"
        ],
        "summary": "Get a series of image quality indicators for a data collection.",
        "parameters": [
          {
            "$ref": "#/parameters/DCIDPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of four arrays of \n  [[image no, ...], [spots, ...], [bragg, ...], [res, ...], [signal, ...]]\n  * Image no.\n  * Number of spots found on image\n  * Number of bragg spots found\n  * Estimated maximum resolution\n  * Total integrated signal\n",
            "schema": {
              "type": "array",
              "minItems": 4,
              "items": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "example": [
                [
                  1,
                  2,
                  3
                ],
                [
                  400,
                  432,
                  675
                ],
                [
                  320,
                  356,
                  550
                ],
                [
                  1.34,
                  2.1,
                  1.7
                ]
              ]
            }
          }
        }
      }
    },
    "/dc/grid/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections"
        ],
        "summary": "Get grid scan info for a grid scan data collection",
        "parameters": [
          {
            "$ref": "#/parameters/DCIDPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Grid scan info",
            "schema": {
              "$ref": "#/definitions/GridInfo"
            }
          }
        }
      }
    },
    "/dc/strat/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections-processing"
        ],
        "summary": "Get indexing strategies for a data collection",
        "parameters": [
          {
            "$ref": "#/parameters/DCIDPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Indexing strategy results",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Strategies"
              }
            }
          }
        }
      }
    },
    "/dc/ap/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "datacollections-processing"
        ],
        "summary": "Get integration results for a data collection",
        "parameters": [
          {
            "$ref": "#/parameters/DCIDPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Integraton results",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Integration"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "LoginReq": {
      "type": "object",
      "properties": {
        "login": {
          "type": "string",
          "example": "abd1234"
        },
        "password": {
          "type": "string",
          "example": "password"
        }
      },
      "required": [
        "username",
        "password"
      ]
    },
    "JWTResp": {
      "type": "object",
      "properties": {
        "jwt": {
          "type": "string",
          "example": "112kj3hk.123kjh1kj23h.3jh45kj34"
        }
      }
    },
    "JWTKey": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "example": "112kj3hk.123kjh1kj23h.3jh45kj34"
        }
      }
    },
    "Options": {
      "type": "object",
      "properties": {
        "authentication_type": {
          "type": "string",
          "description": "Authentication type from api config",
          "enum": [
            "cas",
            "ldap"
          ],
          "example": "cas"
        },
        "cas_url": {
          "type": "string",
          "description": "CAS server url (if using CAS)",
          "example": "my.cas-server.ac.uk"
        },
        "cas_sso": {
          "type": "boolean",
          "description": "If true will try to follow single sign on",
          "example": true
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "VISITS": {
          "type": "string",
          "description": "Number of visits this user has been on",
          "example": 25
        },
        "LAST": {
          "type": "string",
          "description": "Date of last visit (dd-mm-yyyy)",
          "example": "12-06-2014"
        },
        "PERSONID": {
          "type": "string",
          "description": "Personid"
        },
        "GIVENNAME": {
          "type": "string",
          "description": "First name"
        },
        "FAMILYNAME": {
          "type": "string",
          "description": "Family name"
        },
        "FULLNAME": {
          "type": "string",
          "description": "First + Family name"
        },
        "LOGIN": {
          "type": "string",
          "description": "Username"
        }
      }
    },
    "CurrentUser": {
      "type": "object",
      "properties": {
        "personid": {
          "type": "string",
          "description": "Users personid",
          "example": 1234
        },
        "user": {
          "type": "string",
          "description": "Users login",
          "example": "abd1234"
        },
        "permissions": {
          "type": "array",
          "description": "Array of permissions this user has",
          "items": {
            "type": "string"
          },
          "example": [
            "mx_staff",
            "fault_view"
          ]
        },
        "is_staff": {
          "type": "string",
          "description": "Is this user staff for this type?",
          "example": true
        },
        "ty": {
          "type": "string",
          "description": "The api type, determined from beamlines user uses",
          "example": "mx"
        }
      }
    },
    "Proposal": {
      "type": "object",
      "properties": {
        "PROPOSAL": {
          "type": "string",
          "description": "Proposal",
          "example": "mx1234"
        },
        "TITLE": {
          "type": "string",
          "description": "Proposal title",
          "example": "A sample proposal"
        },
        "ST": {
          "type": "string",
          "description": "Proposal start date",
          "example": "12-08-2016"
        },
        "PROPOSALCODE": {
          "type": "string",
          "description": "Proposal code",
          "example": "mx"
        },
        "PROPOSALNUMBER": {
          "type": "string",
          "description": "Proposal number",
          "example": 1234
        },
        "VCOUNT": {
          "type": "string",
          "description": "Visit count for proposal",
          "example": 24
        },
        "PROPOSALID": {
          "type": "string",
          "description": "Proposal id"
        },
        "TYPE": {
          "type": "string",
          "description": "Proposal type",
          "example": "mx",
          "enum": [
            "mx",
            "pow",
            "tomo",
            "saxs",
            "sm",
            "gen"
          ]
        }
      }
    },
    "Visit": {
      "type": "object",
      "properties": {
        "ACTIVE": {
          "type": "string",
          "description": "Is the visit active",
          "example": 0
        },
        "CAMS": {
          "type": "string",
          "description": "Should we show webcams (30mins grace of start time)",
          "example": 1
        },
        "VISIT": {
          "type": "string",
          "description": "Visit string",
          "example": "mx1234-12"
        },
        "ST": {
          "type": "string",
          "description": "Start time",
          "example": "10:00 05-10-2016"
        },
        "EN": {
          "type": "string",
          "description": "End time",
          "example": "17:00 05-10-2016"
        },
        "STISO": {
          "type": "string",
          "description": "Start time in ISO8601",
          "example": "2016-10-05T10:00:00.000Z"
        },
        "ENISO": {
          "type": "string",
          "description": "End time in ISO8601",
          "example": "2016-10-05T17:00:00.000Z"
        },
        "SESSIONID": {
          "type": "string",
          "description": "Sessionid",
          "example": 12
        },
        "VIS": {
          "type": "string",
          "description": "Visit number",
          "example": 12
        },
        "BL": {
          "type": "string",
          "description": "Beamline",
          "example": "i02"
        },
        "LC": {
          "type": "string",
          "description": "Local contact",
          "example": "Beamline Scientist 1"
        },
        "COMMENTS": {
          "type": "string",
          "description": "Comments"
        },
        "DCCOUNT": {
          "type": "string",
          "description": "Data collection count",
          "example": 243
        },
        "TYPE": {
          "type": "string",
          "description": "Visit type, based on beamline",
          "example": "mx"
        }
      }
    },
    "ProteinNew": {
      "type": "object",
      "properties": {
        "ACRONYM": {
          "type": "string",
          "pattern": "([\\w-])+",
          "description": "Protein acronym",
          "example": "prot1"
        },
        "NAME": {
          "type": "string",
          "pattern": "([\\w-])+",
          "description": "Protein acronym",
          "example": "Protein one"
        },
        "SEQUENCE": {
          "type": "string",
          "pattern": "[\\s\\w\\(\\)\\.>\\|;\\n]+",
          "description": "Protein acronym",
          "example": "FGCDFDGDSCSFEFSDF"
        },
        "MOLECULARMASS": {
          "type": "string",
          "pattern": "\\d+(.\\d+)?",
          "description": "Molecular mass",
          "example": 34563.2
        },
        "CONCENTRATIONTYPEID": {
          "type": "string",
          "pattern": "\\d+",
          "description": "Concentration type id",
          "example": 123
        },
        "COMPONENTTYPEID": {
          "type": "string",
          "pattern": "\\d+",
          "description": "Component type id",
          "example": 123
        },
        "GLOBAL": {
          "type": "string",
          "pattern": "\\d",
          "description": "If this protein is globally available to all proposals",
          "example": 1
        },
        "DENSITY": {
          "type": "string",
          "pattern": "\\d+(.\\d+)?",
          "description": "Protein acronym",
          "example": 12.43
        }
      },
      "required": [
        "ACRONYM"
      ]
    },
    "Protein": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "PROTEINID": {
              "type": "string",
              "description": "Protein id",
              "pattern": "\\d+",
              "example": 2
            },
            "CONCENTRATIONTYPE": {
              "type": "string",
              "description": "Concentration type",
              "example": "mg/ml"
            },
            "COMPONENTTYPE": {
              "type": "string",
              "description": "Component type",
              "example": "DNA"
            },
            "HASSEQ": {
              "type": "string",
              "description": "Has a sequence",
              "example": "No"
            },
            "EXTERNAL": {
              "type": "string",
              "description": "External id",
              "example": "f57dfs56sdf"
            },
            "PDBS": {
              "type": "string",
              "description": "Number of pdbs associated with this protein",
              "example": 10
            },
            "DCOUNT": {
              "type": "string",
              "description": "Data collection count",
              "example": 123
            },
            "SCOUNT": {
              "type": "string",
              "description": "Sample count",
              "example": 34
            }
          }
        },
        {
          "type": "object",
          "properties": {
            "ACRONYM": {
              "type": "string",
              "pattern": "([\\w-])+",
              "description": "Protein acronym",
              "example": "prot1"
            },
            "NAME": {
              "type": "string",
              "pattern": "([\\w-])+",
              "description": "Protein acronym",
              "example": "Protein one"
            },
            "SEQUENCE": {
              "type": "string",
              "pattern": "[\\s\\w\\(\\)\\.>\\|;\\n]+",
              "description": "Protein acronym",
              "example": "FGCDFDGDSCSFEFSDF"
            },
            "MOLECULARMASS": {
              "type": "string",
              "pattern": "\\d+(.\\d+)?",
              "description": "Molecular mass",
              "example": 34563.2
            },
            "CONCENTRATIONTYPEID": {
              "type": "string",
              "pattern": "\\d+",
              "description": "Concentration type id",
              "example": 123
            },
            "COMPONENTTYPEID": {
              "type": "string",
              "pattern": "\\d+",
              "description": "Component type id",
              "example": 123
            },
            "GLOBAL": {
              "type": "string",
              "pattern": "\\d",
              "description": "If this protein is globally available to all proposals",
              "example": 1
            },
            "DENSITY": {
              "type": "string",
              "pattern": "\\d+(.\\d+)?",
              "description": "Protein acronym",
              "example": 12.43
            }
          },
          "required": [
            "ACRONYM"
          ]
        }
      ]
    },
    "SampleNew": {
      "type": "object",
      "properties": {
        "CONTAINERID": {
          "type": "string",
          "pattern": "\\d+",
          "description": "Container id",
          "example": 123
        },
        "PROTEINID": {
          "type": "string",
          "pattern": "\\d+",
          "description": "Protein id",
          "example": 123
        },
        "CRYSTALID": {
          "type": "string",
          "pattern": "\\d+",
          "description": "Crystal id",
          "example": 123
        },
        "LOCATION": {
          "type": "string",
          "pattern": "\\d+",
          "description": "Numerical poisition of sample in container (<= container capacity, 1 offset)",
          "example": "1"
        },
        "NAME": {
          "type": "string",
          "pattern": "[\\w\\s-()]+",
          "description": "Sample name",
          "example": "xtal4"
        },
        "COMMENTS": {
          "type": "string",
          "description": "Sample comments",
          "example": "in 25% PEG4000 50um"
        },
        "SPACEGROUP": {
          "type": "string",
          "description": "Spacegroup",
          "example": "P222"
        },
        "CODE": {
          "type": "string",
          "description": "Pin barcode",
          "example": "FG5644"
        },
        "ANOMALOUSSCATTERER": {
          "type": "string",
          "description": "Potential anomalous scatterer",
          "example": "Fe"
        },
        "CENTRINGMETHOD": {
          "type": "string",
          "description": "Centring method (for autocollect)",
          "example": "xray"
        },
        "EXPERIMENTKIND": {
          "type": "string",
          "description": "Experiment type (for autocollect)",
          "example": "SAD"
        },
        "RADIATIONSENSITIVITY": {
          "type": "string",
          "description": "Estimated radiation sensitivty (0-100, low to high)",
          "example": 50
        },
        "SCREENCOMPONENTGROUPID": {
          "type": "string",
          "description": "Crystallisation screen component group id",
          "example": 123
        },
        "CELL_A": {
          "type": "string",
          "description": "Unit cell a",
          "example": 123.4
        },
        "CELL_ALPHA": {
          "type": "string",
          "description": "Unit cell alpha",
          "example": 123.4
        },
        "CELL_B": {
          "type": "string",
          "description": "Unit cell b",
          "example": 123.4
        },
        "CELL_BETA": {
          "type": "string",
          "description": "Unit cell beta",
          "example": 123.4
        },
        "CELL_C": {
          "type": "string",
          "description": "Unit cell c",
          "example": 123.4
        },
        "CELL_GAMMA": {
          "type": "string",
          "description": "Unit cell gamma",
          "example": 123.4
        },
        "DIMENSION1": {
          "type": "string",
          "description": "First dimension of sample",
          "example": 123
        },
        "DIMENSION2": {
          "type": "string",
          "description": "Second dimension of sample",
          "example": 123
        },
        "DIMENSION3": {
          "type": "string",
          "description": "Third dimension of sample",
          "example": 123
        },
        "THEORETICALDENSITY": {
          "type": "string",
          "description": "Theoretical density",
          "example": 1243.3
        },
        "VOLUME": {
          "type": "string",
          "description": "Volume in microlitres for none crystal samples",
          "example": 20
        },
        "ABUNDANCE": {
          "type": "string",
          "description": "Abundance in sample (i.e. mg/ml for protein)",
          "example": 25
        },
        "PACKINGFRACTION": {
          "type": "string",
          "description": "Packing fraction of sample",
          "example": 0.5
        },
        "ENERGY": {
          "type": "string",
          "description": "Energy in eV (for autocollect)",
          "example": 12768
        },
        "LOOPTYPE": {
          "type": "string",
          "description": "Loop type",
          "example": "polymer"
        },
        "SHAPE": {
          "type": "string",
          "description": "Sample shape",
          "example": "cubic"
        }
      },
      "required": [
        "CONTAINERID",
        "PROTEINID",
        "LOCATION",
        "NAME"
      ]
    },
    "Sample": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "BLSAMPLEID": {
              "type": "string",
              "description": "id",
              "pattern": "\\d+",
              "example": 2
            },
            "ACRONYM": {
              "type": "string",
              "description": "Protein acronym",
              "example": "prot1"
            },
            "BLSUBSAMPLEID": {
              "type": "string",
              "description": "Parent subsample id",
              "example": 1234
            },
            "CONTAINER": {
              "type": "string",
              "description": "Container name",
              "example": "Container1"
            },
            "CONTAINERQUEUEID": {
              "type": "string",
              "description": "Container queue id if the container is queued",
              "example": 123
            },
            "CRYSTAL": {
              "type": "string",
              "description": "Crystal name",
              "example": "Crystal1"
            },
            "DEWAR": {
              "type": "string",
              "description": "Dewar name",
              "example": "Dewar1"
            },
            "DEWARID": {
              "type": "string",
              "description": "Dewar id",
              "example": 3123
            },
            "INSPECTIONS": {
              "type": "string",
              "description": "Number of inspections for the samples container",
              "example": 12
            },
            "PROTEIN": {
              "type": "string",
              "description": "Protein acronym",
              "example": "prot1"
            },
            "QUEUEDTIMESTAMP": {
              "type": "string",
              "description": "Timestamp the container was queued",
              "example": "23-10-2019 23:45"
            },
            "RECORDTIMESTAMP": {
              "type": "string",
              "description": "Timestamp the sample was created",
              "example": "24-10-2019"
            },
            "SHIPMENT": {
              "type": "string",
              "description": "Shipment name",
              "example": "Shipment1"
            },
            "SHIPPINGID": {
              "type": "string",
              "description": "Shipment id",
              "example": 32548
            },
            "SYMBOL": {
              "type": "string",
              "description": "Protein concentration symbol",
              "example": "mg/ml"
            },
            "SCLOCATION": {
              "type": "string",
              "description": "Sample changer location for container",
              "example": "3"
            },
            "REQUIREDRESOLUTION": {
              "type": "string",
              "description": "Required resolution (for autocollect)",
              "example": 1.23
            },
            "R": {
              "type": "string",
              "description": "Number of times robot has loaded sample",
              "example": 1
            },
            "SC": {
              "type": "string",
              "description": "Number of screenings",
              "example": 1
            },
            "GR": {
              "type": "string",
              "description": "Number of grid scans",
              "example": 0
            },
            "DC": {
              "type": "string",
              "description": "Number of data collections",
              "example": 1
            },
            "AI": {
              "type": "string",
              "description": "Number of auto indexings",
              "example": 4
            },
            "AP": {
              "type": "string",
              "description": "Number of auto integrations",
              "example": 5
            },
            "SCCOMPLETENESS": {
              "type": "string",
              "description": "Best indexing completeness",
              "example": null
            },
            "SCRESOLUTION": {
              "type": "string",
              "description": "Best indexing resolution",
              "example": null
            },
            "DCCOMPLETENESS": {
              "type": "string",
              "description": "Best data collection completeness",
              "example": 100
            },
            "DCRESOLUTION": {
              "type": "string",
              "description": "Best data collection resolution",
              "example": 2.39
            }
          }
        },
        {
          "type": "object",
          "properties": {
            "CONTAINERID": {
              "type": "string",
              "pattern": "\\d+",
              "description": "Container id",
              "example": 123
            },
            "PROTEINID": {
              "type": "string",
              "pattern": "\\d+",
              "description": "Protein id",
              "example": 123
            },
            "CRYSTALID": {
              "type": "string",
              "pattern": "\\d+",
              "description": "Crystal id",
              "example": 123
            },
            "LOCATION": {
              "type": "string",
              "pattern": "\\d+",
              "description": "Numerical poisition of sample in container (<= container capacity, 1 offset)",
              "example": "1"
            },
            "NAME": {
              "type": "string",
              "pattern": "[\\w\\s-()]+",
              "description": "Sample name",
              "example": "xtal4"
            },
            "COMMENTS": {
              "type": "string",
              "description": "Sample comments",
              "example": "in 25% PEG4000 50um"
            },
            "SPACEGROUP": {
              "type": "string",
              "description": "Spacegroup",
              "example": "P222"
            },
            "CODE": {
              "type": "string",
              "description": "Pin barcode",
              "example": "FG5644"
            },
            "ANOMALOUSSCATTERER": {
              "type": "string",
              "description": "Potential anomalous scatterer",
              "example": "Fe"
            },
[...]
