<div>
    <h1>Simple Sample Wizard</h1>
    <form v-on:submit.prevent="onSubmit" method="post" id="add_protein" v-bind:class="{loading: isLoading}">

        <div class="form">

            <ul>

                <li>
                    <label>Name
                    <span class="small">Name of the sample</span></label>
                    <span class="name"><input type="text" name="name" v-model="name" v-bind:class="{ferror: errors.has('name')}" v-validate="'required'" /></span>
                    <span v-if="errors.has('name')" class="errormessage ferror">{{ errors.first('name') }}</span>
                </li>

                <li>
                    <label>Composition
                    <span class="small">Chemical formula of the material</span></label>
                    <span class="composition"><input type="text" name="seq" v-model="seq" v-bind:class="{ferror: errors.has('seq')}" v-validate="'required'" v-on:input="updateMolecularMass()" /></span>
                    <span v-if="errors.has('seq')" class="errormessage ferror">{{ errors.first('seq') }}</span>
                </li>

                <li>
                    <label>Density
                    <span class="small">Crystallographic density of the phase (g cm<span class="super">-3</span>)</span></label>
                    <span><input type="text" name="density" v-model="density" v-bind:class="{ferror: errors.has('density')}" v-validate="'required|decimal'" /></span>
                    <span v-if="errors.has('density')" class="errormessage ferror">{{ errors.first('density') }}</span>
                </li>

                <li>
                    <label>Packing Fraction
                            <span class="small">Must be between 0 and 1</span>
                    </label>
                    <span><input type="text" name="fraction" v-model="fraction" v-bind:class="{ferror: errors.has('fraction')}" v-validate="'required|min_value:0|max_value:1'"/></span>
                    <span v-if="errors.has('fraction')" class="errormessage ferror">{{ errors.first('fraction') }}</span>
                </li>

                <li>
                    <label>Comments</label>
                    <span><textarea name="comments" maxlength="255" style="width:400px;height:80px" v-model="comments"></textarea></span>
                </li>
                
                <li>
                    <span>
                        <label>Containerless?</label>
                        <input type="checkbox" v-model="containerless" value="true" v-on:change="toggleSelectEnabled()"/><br />
                        <select id="containerSelect" name="type" style="width: 400px" v-model="type" v-on:change="getCapillaryInfo('density')" v-validate="'required'">
                            <option v-if="!hasExistingCapillaries" disabled value="">Container*</option>
                            <option v-for="container in containers">{{ container }}</option>
                        </select>
                        <span v-if="errors.has('type')" class="errormessage ferror">{{ errors.first('type') }}</span>
                    </span>
                </li>

                <li>
                    <span>
                        <select style="width: 400px" title="Not currently supported" disabled>
                            <option>ERA*</option>
                        </select>
                    </span>
                </li>

                <button type="button" v-on:click="showCifFileDialog()">Upload CIF</button> 
                <div v-show="showUploadDialog">
                    <ul>
                        <li>
                            <label>Type:</label>
                            <span>
                                <select name="type">
                                    <option value="pdb_file">File</option>
                                </select>
                            </span>
                        </li>
                        
                        <li class="ty pdb_file">
                            <label>File:</label>
                            <span class="file">
                                <input type="file" name="pdb_file[]" v-on:change="setCifFile($event)" multiple/>
                            </span>
                        
                        </li>
                    </ul>
                    <div class="progress"></div>
                </div>
                <p>Add a cif file to this sample to enable downstream processing of your data</p>
                <button type="button" title="Not currently supported" disabled>Upload from csv</button> <p>Select the correct container type from ERA reference from the dropdown above. csv files should contain 4 comma separated columns: name, composition, density, packing fraction.</p>

            </ul>
            
            <div style="text-align:center">
                <button type="button" class="button submit" name="cancel" v-on:click="closeDialog()"><i class="fa"></i>Cancel</button>
                <button name="submit" value="1" type="submit" class="button submit"><i class="fa fa-plus"></i> Add Sample</button>
            </div>

        </div>

    </form>
</div>