
<div>
In order to upload to CCP4 cloud, we need your CCP4 Cloud username, and your CloudRun Id.<br />
You can find your CloudRun Id on the 'My Account' page of CCP4 Cloud.
</div>
<br />
<div>
Once uploaded, create or select a CCP4 Cloud project and select the task 'Import from Cloud Storage'.<br />
Click 'Select file(s)', then click 'My Cloud Storage'.
</div>
<br />
<div>
See <a class="u" href="https://cloud.ccp4.ac.uk/manuals/html-userguide/jscofe_synchweb.html">here</a> for more information.
</div>
<br />

<div class="table">
<table>
<tr><td><span class="b">Filename: </span></td><td><%-FILENAME%></td></tr>
<tr><td><span class="b">CCP4 Cloud Username: </span></td><td><input name="username"></input></td></tr>
<tr><td><span class="b">CCP4 CloudRun Id: </span></td><td><input name="cloudrunid" placeholder="####-####-####-####"></input></td></tr>
<tr><td><span class="b">Remember these: </span></td><td><input type="checkbox" name="remember"></input></td></tr>
</table>
</div>

