<div class="data_collection" dcid="<%-ID%>" type="data" ty="<% print(AXISRANGE == 0 ? 'grid' : (OVERLAP != 0 ? 'screen' : '')) %>">
    <h1 class="title"></h1>

    <div class="distl" title="Per Image Analysis plot showing number of spots (yellow and blue points), and estimated resolution (red points) for each image in the data collection"></div>
    <div class="snapshots" title="View crystal snapshots for the current data collection">
        <a href="<%-APIURL%>/image/id/<%-ID%>/f/1" title="Crystal Snapshot 1"><img dsrc="" alt="Crystal Snapshot 1" /></a>
        </div>
    <div class="diffraction" title="Click to view diffraction images">
        <a href="/dc/view/id/<%-ID%>"><img dsrc="" alt="Diffraction Image 1" /></a>
    </div>
    
    <div class="links">
        <a href="/dc/view/id/<%-ID%>"><i class="fa fa-picture-o fa-2x"></i> Images</a> 
        <a class="sn" href="#snapshots"><i class="fa fa-camera fa-2x"></i> Snapshots</a> 
        <a class="dl" href="#distl"><i class="fa fa-bar-chart-o fa-2x"></i> DISTL</a> 
    </div>
    
    <ul class="clearfix">
        <li>Flux: <%-parseFloat(FLUX).toExponential(2)%></li>
        <li>&<%-ROTATIONAXIS%>; Start: <%-AXISSTART%>&deg;</li>
        <li>&<%-ROTATIONAXIS%>; Osc: <%-AXISRANGE%>&deg;</li>
        <li>&<%-ROTATIONAXIS%>; Overlap: <%-OVERLAP%>&deg;</li>
        <li>No. Images: <%-NUMIMG%></li>
        <% if (SI != 1 ) { %> <li>First Image: <%-SI%></li><% } %>
        <% if ((KAPPA && KAPPA !=0) || (PHI && PHI != 0) || (CHISTART && CHISTART !=0)) { %><li><% if (KAPPA != null) { %>&kappa;: <%-KAPPA%>&deg;<% } %> <% if (PHI != null) { %>&phi;: <%-PHI%>&deg;<% } %> <% if (CHISTART != null) { %>&chi;: <%-CHISTART%>&deg;<% } %></li><% } %>
        <li>Resolution: <%-RESOLUTION%>&#197;</li>
        <li>Wavelength: <%-WAVELENGTH%>&#197;</li>
        <li>Exposure: <%-EXPOSURETIME%>s</li>
        <% if (DCT == 'SAD' || DCT == 'Data Collection') { %>
            <%if (TOTALABSDOSE) { %>
                <%if (DCC > 1) { %>
                <li>Dose:  <%-TOTALABSDOSE * DCC%> MGy</li>
                <% } else { %>
                <li>Dose:  <%-TOTALABSDOSE%> MGy</li> 
        <% } } }%>
        <li>Transmission: <%-TRANSMISSION%>%</li>
        <li>Beamsize: <%-BSX%>x<%-BSY%>&mu;m</li>
        <li>Type: <% if (DCT) print(DCT) %></li>
        <li class="comment" title="Click to edit the comment for this data collection">Comment: <span class="COMMENTS"><%-COMMENTS%></span></li>
        <% if (!STATE) { %><li>Status: <span class="b">Stopped</span></li><% } %>
    </ul>

    <div class="holder">
    <% if (AXISRANGE > 0 && OVERLAP != 0) { %>
        <h1 title="Click to show EDNA/mosflm/xia2 strategies" class="strat">Strategies<span><i class="fa fa-spinner fa-spin"></i></span></h1>
        <div class="strategies"></div>
    <% } else if (AXISRANGE > 0 || DCT == "Serial Fixed" || DCT == "Serial Jet") { %>
        <h1 title="Click to show autoprocessing results such as Fast_DP and XIA2" class="ap">Auto Processing<span><i class="fa fa-spinner fa-spin"></i></span></h1>
        <div class="autoproc"></div>
        <h1 title="Click to show downstream processing results such as Dimple and Fast_EP" class="dp">Downstream Processing<span><i class="fa fa-spinner fa-spin"></i></span></h1>
        <div class="downstream"></div>
    <% } %>
    </div>
</div>