
    <div class="messages"></div>

    <% if (PROCESSINGSTATUS == 0) { %>

    <p class="r downloads">
        <a class="view button dll" href="<%-APIURL%>/download/id/<%-DCID%>/aid/<%-AID%>/archive/1"><i class="fa fa-archive"></i> Archive</a>
        <a class="apattach button" href="#"><i class="fa fa-files-o"></i> Logs &amp; Files</a>
    </p>

    <p>This procesing job failed: <%-PROCESSINGMESSAGE%></p>

    <% } else { %>

    <p class="r downloads">
        <% if (IMAGESWEEPCOUNT > 1) { %>
        <a class="button" title="View Data Collections" href="/dc/pjid/<%=PROCESSINGJOBID%>">
            <i class="fa fa-list"></i> <%=IMAGESWEEPCOUNT%> Data Sets
        </a>
        <% } %>

        <a class="plot button" href="#"><i class="fa fa-line-chart"></i> Plots</a>
        <a class="view button dll" href="<%-APIURL%>/download/id/<%-DCID%>/aid/<%-AID%>/archive/1"><i class="fa fa-archive"></i> Archive</a>
        <a class="apattach button" href="#"><i class="fa fa-files-o"></i> Logs &amp; Files</a>
    
        <% if (TYPE == 'fast_dp') { %>
        <a href="#" class="button view rd"><i class="fa fa-search"></i> Radiation Damage</a>
        <% } %>
    
        <a class="view button" title="Lookup Unit Cell" href="/cell/a/<%-CELL.CELL_A%>/b/<%-CELL.CELL_B%>/c/<%-CELL.CELL_C%>/al/<%-CELL.CELL_AL%>/be/<%-CELL.CELL_BE%>/ga/<%-CELL.CELL_GA%>"><i class="fa fa-search"></i> Lookup Cell</a>
    </p>

    <!-- Beam Centre information and movement warning not useful for i19 small molecule experiment type -->
    <% if (app.type != 'sm') { %>
    <table class="reflow bc">
        <thead>
            <tr>
                <th>Beam Centre</th>
                <th>X</th>
                <th>Y</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Start</td>
                <td><%-BEAM.XBEAM%></td>
                <td><%-BEAM.YBEAM%></td>
            </tr>
            <!-- these are flipped, not sure why? -->
            <tr>
                <td>Refined</td>
                <td><%-BEAM.REFINEDYBEAM%></td>
                <td><%-BEAM.REFINEDXBEAM%></td>
            </tr>
            <tr>
                <td>&Delta;</td>
                <td><%-(BEAM.XBEAM-BEAM.REFINEDYBEAM).toFixed(2)%></td>
                <td><%-(BEAM.YBEAM-BEAM.REFINEDXBEAM).toFixed(2)%></td>
            </tr>
        </tbody>
    </table>

    <% if (BEAM.REFINEDYBEAM > 0 && (Math.abs(BEAM.XBEAM-BEAM.REFINEDYBEAM) > 0.5 || Math.abs(BEAM.YBEAM-BEAM.REFINEDXBEAM) > 0.5)) { %>
    <p class="message alert">WARNING: Beam centre has moved significantly during refinement! (>0.5mm)</p>
    <% } %>
    <% } %>

    <table class="reflow cell">
        <thead>
            <tr>
                <th>Space Group</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>&alpha;</th>
                <th>&beta;</th>
                <th>&gamma;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%-SG%></td>
                <td><%-CELL.CELL_A%></td>
                <td><%-CELL.CELL_B%></td>
                <td><%-CELL.CELL_C%></td>
                <td><%-CELL.CELL_AL%></td>
                <td><%-CELL.CELL_BE%></td>
                <td><%-CELL.CELL_GA%></td>
            </tr>
        </tbody>
    </table>
    
    <table class="reflow shell">
        <thead>
            <tr>
                <th>Shell</th>
                <th>Observations</th>
                <th>Unique</th>
                <th>Resolution</th>
                <th>Rmeas</th>
                <th>I/sig(I)</th>
                <th>CC Half</th>
                <th>Completeness</th>
                <th>Multiplicity</th>
                <th>Anom Completeness</th>
                <th>Anom Multiplicity</th>
                <th>CC Anom</th>
            </tr>
        </thead>
    <% _.each(SHELLS, function(s, n) { %>
        <tr class="<%-n%>">
            <td><%-n%></td>
            <td><%-s.NTOBS%></td>
            <td><%-s.NUOBS%></td>
            <td><%-s.RHIGH%> - <%-s.RLOW%></td>
            <td><% print(TYPE == 'Fast DP' ? s.RMERGE : s.RMEAS)%></td>
            <td><%-s.ISIGI%></td>
            <td><%-s.CCHALF%></td>
            <td><%-s.COMPLETENESS%></td>
            <td><%-s.MULTIPLICITY%></td>
            <td><%-s.ANOMCOMPLETENESS%></td>
            <td><%-s.ANOMMULTIPLICITY%></td>
            <td><%-s.CCANOMALOUS%></td>
        </tr>
    <% }) %>
    </table>

    <% } %>
