<div>
    <div class="blobs">
        <% _.each(_.range(BLOBS), function(i) { %>
        <a href="<%-APIURL%>/processing/downstream/images/<%-AID%>?n=<% print(i+1) %>" title="Dimple Blob <% print(i+1) %>">
            <% if (i == 0) { %>
                <img alt="Dimple Blob 1" />
            <% } %>
        </a>
        <% }) %>
        
    </div>

    <div class="plot_dimple r"></div>

    <table class="rstats">
        <% if (STATS.length) { %>
            <% _.each(STATS, function(r, i) { %>
            <tr>
                <% _.each(r, function(j) { %>
                <td><%-j%></td>
                <% }) %>
            </tr>
            <% }) %>
        <% } else { %>
            <tr>
                <td>Refinement Stats</td>
            </tr>
            <tr>
                <td>No Stats Available</td>
            </tr>
        <% } %>
    </table>
    
</div>
