<div>
    <div class="blobs">
        <% _.each(_.range(BLOBS), function(i) { %>
        <a href="<%-APIURL%>/processing/downstream/images/<%-AID%>?n=<% print(i+1) %>" title="Dimple Blob <% print(i+1) %>">
            <% if (i == 0) { %>
                <img alt="Dimple Blob 1" />
            <% } %>
        </a>
        <% }) %>
        
    </div>

    <table class="rstats">
        <% _.each(STATS[0], function(r, i) { %>
        <tr>
            <% _.each(_.range(STATS.length), function(j) { %>
            <td><%-STATS[j][i]%></td>
            <% }) %>
        </tr>
        <% }) %>
    </table>
    
    <div class="plot_dimple"></div>
    
</div>