<div>
    
    <div class="plot_fastep"></div>
    
    <ul>
        <li>Figure of Merit: <%-FOM%></li>
        <li>Pseudo-free CC:  <%-CC%></li>
    </ul>

    <table class="atoms">
        <thead>
            <tr>
                <th>#</th>
                <th>X</th>
                <th>Y</th>
                <th>Z</th>
                <th>Occ</th>
            </tr>
        </thead>
    
        <% _.each(ATOMS, function(a) { %>
        <tr>
            <% _.each(a, function(v) { %>
            <td><%-v%></td>
            <% }) %>
        </tr>
        
        <% }) %>
        
    </table>

</div>