
<h2><%-TYPE%></h2>


<table class="reflow cell">
    <thead>
        <tr class="stratrow">
            <th>Axes</th>
            <th>Space Group</th>
            <th>Kappa</th>
            <th>Chi</th>
            <th>Phi</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(STRATS, function(r, i) { %>
        <tr class="stratrow">
            <td><%-r.COMMENTS %></td>
            <td><%-r.SG %></td>
            <td><%-r.KAPPA %></td>
            <td><%-r.CHI %></td>
            <td><%-r.PHI %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
