
    <h1 class="no_mobile">
        <div class="usage r"></div>
        Data Collections
    </h1>

    <p class="help">This page shows all data collections for the selected visit. If the visit is ongoing the page will automatically update as new data is collected. Auto processing results will be displayed</p>

    <% if (IS_VISIT && !IS_SINGLE) { %>
    <% if (VISIT.search('cm') == -1 && VISIT.search('nt') == -1 && VISIT.search('nr') == -1 && ACTIVE != '1') { %>
        <p class="message notify">
            This visit is inactive and will not auto update 
            | Auto Refresh <input type="checkbox" name="autorefresh" value="1" />
            <a href="#" class="button refresh"><i class="fa fa-refresh"></i> Refresh</a>
        </p>
    <% } %>

    <% if (ARCHIVED == "1") { %>
        <p class="message notify">
            This visit is archived, data is no long available on disk. You cannot download processing results, view full sized diffracftion images, or reprocess data
        </p>
    <% } %>

    <div class="links">
        <a class="button" href="/assign/visit/<%-VISIT%>" title="Assign Containers" class="summary"><i class="fa fa-arrows"></i> <span>Assign Containers</span></a>
        <a class="button" href="/dc/summary/visit/<%-VISIT%>" title="Data Summary" class="summary"><i class="fa fa-file-o"></i> <span>Summary</span></a>
        <a class="button"  href="/dc/apstatussummary/visit/<%-VISIT%>" title="Autoprocessing Summary"><i class="fa fa-magic"></i> <span>Auto Processing</span></a>
        <a class="button"  href="/stats/visit/<%-VISIT%>" title="Visit Statistics"><i class="fa fa-pie-chart"></i> <span>Visit Stats</span></a>
        <!-- <a class="button queue"  href="/dc/queue/visit/<%-VISIT%>" title="Build GDA Queue"><i class="fa fa-cog"></i> <span>Build GDA Queue</span></a> -->
        <a href="#" class="button users"><i class="fa fa-users"></i> <span>Users</span></a>
        <a href="#" class="button dewars"><i class="fa fa-truck"></i> <span>Dewars</span></a>
        <a class="button"  href="/dc/sc/visit/<%-VISIT%>" title="Sample Changer"><i class="fa fa-exchange"></i> <span>Sample Changer</span></a>
        <a href="#" class="button rpo" title="Reprocessing Overview"><i class="fa fa-cog"></i> <span>Reprocessing</span></a>
        <% if (app.staff) { %>
        <a class="button"  href="/status/bl/<%-BL%>" title="Beamline Status" class="blstat"><i class="fa fa-wrench"></i> <span>Beamline Status</span></a>
        <% } %>
    </div>
    <% } %>

    <% if (IS_SINGLE) { %>
    <h1 class="message nou"><a class="button" href="/dc<% if (IS_VISIT) { %>/visit/<%-VISIT%><% } %>">View All Data Collections</a></h1>
    <% } %>

    <div class="st"></div>
    <div class="sc"></div>
    <div class="lg"></div>

    <div class="srch"></div>
    <div class="filter type"></div>

    <div class="page_wrap one"></div>    
    <div class="data_collections"></div>
    <div class="page_wrap two"></div>
