<div class="data_collection" dcid="<%-ID%>" type="data" ty="<% print(AXISRANGE == 0 ? 'grid' : (OVERLAP != 0 ? 'screen' : '')) %>">
    <h1 class="title"></h1>

    <div class="image"></div>
    <div class="diviewer"></div>
    
    <ul class="clearfix single">
        <li>&<%-ROTATIONAXIS%>; Start: <%-AXISSTART%>&deg;</li>
        <% if ((KAPPA && KAPPA !=0) || (PHI && PHI != 0) || (CHISTART && CHISTART !=0)) { %><li><% if (KAPPA != null) { %>&kappa;: <%-KAPPA%>&deg;<% } %> <% if (PHI != null) { %>&phi;: <%-PHI%>&deg;<% } %> <% if (CHISTART != null) { %>&chi;: <%-CHISTART%>&deg;<% } %></li><% } %>
        <li>Resolution: <%-RESOLUTION%>&#197;</li>
        <li>Wavelength: <%-WAVELENGTH%>&#197;</li>
        <li>Exposure: <%-EXPOSURETIME%>s</li>
        <li>Transmission: <%-TRANSMISSION%>%</li>
        <li>Beamsize: <%-BSX%>x<%-BSY%>&mu;m</li>
        <li>Boxsize: <span class="boxx"></span>x<span class="boxy"></span>&mu;m</li>
        <li class="comment" title="Click to edit the comment for this data collection">Comment: <span class="COMMENTS"><%-COMMENTS%></span></li>
        <% if (!STATE) { %><li>Status: <span class="b">Stopped</span></li><% } %>

        <li>
            Image: <span class="img"></span>
            Value: <span class="val"></span>
        </li>
        <li>
            X: <span class="x"></span>
            Y: <span class="y"></span>
            Z: <span class="z"></span>
        </li>
    </ul>

    <a href="#" class="button zoom"><i class="fa fa-search-plus"></i> <span>Enlarge</span></a>

    <div class="holder">
        <h1 title="Xray Centring Status and Results" class="xrc"><span><i class="fa fa-spinner fa-spin"></i></span></h1>
    </div>
</div>