
<h1 class="no_mobile"><span class="visit"><%-VIS_LINK%>: </span><%-DIR%><%-FILETEMPLATE%></h1>

<p class="help">This page is a full scale diffraction image viewer. Mousehweel zooms in and out, drag click to pan around the image. Press &gt; to go to the next image and &lt; the previous.</p>

<div class="data_collection dc_params">
    <ul class="full tw-flex">
        <li class="tw-w-1/5">Exposure: <%-EXPOSURETIME%>s</li>
        <li class="tw-w-1/5">Transmission: <%-TRANSMISSION%>%</li>
        <li class="tw-w-1/5">Resolution: <%-RESOLUTION%>&#197;</li>
        <li class="tw-w-1/5">Wavelength: <%-WAVELENGTH%>&#197;</li>
        <li class="tw-w-1/5">Oscillation: <%-AXISRANGE%>&deg;</li>
    </ul>
</div>


<div class="tw-items-center">
    <a class="button" href="/dc/view/id/<%-ID%>">View Full Screen</a>
</div>
<!-- Tailwind based Styling for the Popup diffraction image viewer -->
<!-- With tailwind we can change the order of rendering (forwards, reverse, order-'n' etc.) -->
<!-- We use row-reverse here because its similar to the original page structure -->
<div class="tw-flex tw-flex-row-reverse tw-border tw-mt-2 tw-mb-2 tw-px-2">
    <div class="tw-items-center tw-flex tw-flex-grow">
        <div class="tw-flex tw-flex-col tw-w-full">
            <!-- Row of sliders -->
            <div class="tw-flex tw-flex-row tw-p-1">
                <div class="tw-flex-1 tw-p-1">
                    <span><abbr title="Hotkey: Z zooms in, z zooms out">Z</abbr>oom: <span class="zval">0</span>% </span>
                    <div class="zoom"></div>
                </div>
                <div class="tw-flex-1 tw-p-1">
                    <span><abbr title="Hotkey: C increases, c decreases">C</abbr>ontrast: <span class="cval">0</span></span>
                    <div class="contrast"></div>
                </div>
                <div class="tw-flex-1 tw-p-1">
                    <span><abbr title="Hotkey: B increases, b decreases">B</abbr>rightness: <span class="bval">0</span></span>
                    <div class="brightness"></div>
                </div>
            </div>
            <div class="tw-mt-2">
                <button class="button submit tw-w-full" name="reset" title="Reset Image">Reset</button>
            </div>
        </div>
    </div>
    
    <div class="tw-flex tw-flex-col tw-p-2">
        <label>
            <span><abbr title="Hotkey: R toggles resolution rings">R</abbr>esolution Rings: </span>
            <input class="tw-align-bottom" type="checkbox" name="res" value="1" />
        </label>
        <label>
            <span>Ice Rings: </span>
            <input class="tw-align-bottom" type="checkbox" name="ice" value="1" />
        </label>
        <label>
            <span><abbr title="Hotkey: I toggles image inversion">I</abbr>nvert: </span>
            <input class="tw-align-bottom" type="checkbox" name="invert" value="1" />
        </label>
        <label>
            <span><abbr title="Hotkey: T toggles image thresholding">T</abbr>hreshold: </span>
            <input class="tw-align-bottom" type="checkbox" name="threshold" value="1" />
        </label>
    </div>
    
    <div class="tw-items-stretch tw-flex tw-flex-col tw-text-xs tw-py-4">
        <div class="tw-items-center">
            <button class="button submit" name="prev" title="Load previous image">&lt;</button>
            <input class="tw-border tw-rounded tw-w-1/4 tw-text-right focus:tw-outline-none focus:tw-shadow-outline py-2 m-0" size="6" name="num" value="1" title="Load the image with this number" />/<%-NI%>
            <button class="button submit" name="next" title="Load next image">&gt;</button>
        </div>
    </div>
    
</div>


<div class="message_box"></div>

<div class="image_container border">
    <div class="im_highlight"></div>
    <div class="im_progress"></div>
    
    <div class="im_cur" title="Zoomed region, click on the main image to select the region to zoom">
        <p title="Diffraction resolution at cursor position">Resolution: <span class="res">0</span>&#197;</p>
        <span class="progress"></span>
    </div>
    
    <div class="yprofile"></div>
    <div class="xprofile"></div>
    
    <div class="im_zoom">
        <canvas class="im_zoomc" width="200" height="100"></canvas>
    </div>
    
    <div class="image">
        <canvas class="img"></canvas>
    </div>
</div>

