<div class="image_container border clearfix">
    <div class="im_highlight"></div>
    <div class="im_progress"></div>
    
    <div class="im_cur" title="Zoomed region, click on the main image to select the region to zoom">
        <p title="Diffraction resolution at cursor position">Resolution: <span class="res">0</span>&#197;</p>
        <span class="progress"></span>
    </div>
    
    <div class="yprofile"></div>
    <div class="xprofile"></div>
    
    <div class="im_zoom">
        <canvas class="im_zoomc" width="200" height="100"></canvas>
    </div>
    
    <div class="embed_control">
        <label><abbr title="Hotkey: T toggles image thresholding">T</abbr>hreshold: <input type="checkbox" name="threshold" value="1" /></label>
    </div>

    <div class="image">
        <canvas class="img"></canvas>
    </div>

    <div class="image_controls border clearfix">
        <div class="im_size im_col">
            <abbr title="Hotkey: Z zooms in, z zooms out">Z</abbr>oom: <span class="zval">0</span>% <div class="zoom"></div>
        </div>
        
        <div class="im_col toggles">
            <label><abbr title="Hotkey: R toggles resolution rings">R</abbr>esolution Rings: <input type="checkbox" name="res" value="1" /></label>
            <label>Ice Rings: <input type="checkbox" name="ice" value="1" /></label>
            <label><abbr title="Hotkey: I toggles image inversion">I</abbr>nvert: <input type="checkbox" name="invert" value="1" /></label>
        </div>
    </div>

</div>
