<div class="data_collection">
    <span class="multi form">
        <label>Space Group: <select name="sg"></select></label>
        High Res :<input type="text" name="res" placeholder="eg 1.5" /> &#197;
    </span>
    <a href="#" class="button opt">Filtering Options</a>
    <br />
</div>

<div class="options data_collection">
    <label>Apply &Delta;CC&half;<input type="checkbox" name="cchalf" value="0" /></label>
    <br /><br />
    <label>Method: <select name="method"></select></label>
    <label>Standard deviation cutoff: <input type="text" name="sdcutoff" placeholder="eg 3" /></label>
    <label>Image group size: <input type="text" name="groupsize" placeholder="eg 50" /></label>
</div>


