<h1 class="no_mobile">Sample Changer Status for <%-BL%></h1>

<div class="left">
    <div class="handle">
    </div>
    
    <div class="wrap loading-container">
        <canvas class="sample_changer"></canvas>
        <div class="ranking">
            <label>
                <input type="checkbox" name="components" /> Group By Component
            </label>

            <label>
                <input type="checkbox" name="rank" />
                Rank By
            </label>:
            <select name="param">
                <option value="SCRESOLUTION" data-inverted="1" data-check="SC">AI Resolution</option>
                <option value="SCCOMPLETENESS" data-check="SC" data-min="0.85">AI Completeness</option>
                <option value="DCRESOLUTION" data-inverted="1" data-check="DC">AP Resolution</option>
                <option value="DCCOMPLETENESS" data-check="DC" data-min="0.85">AP Completeness</option>
            </select>
        </div>
        
        <div class="details form">
            <ul>
                <li>
                    <span class="label">Sample:</span>
                    <span class="sname"></span>
                </li>
                <li><span class="label">Protein:</span> <span class="pname"></span></li>
                <li><span class="label">Components:</span> <span class="comps"></span></li>
                <!--<li><span class="label">Container:</span> <span class="cname"></span></li>-->
                <li><span class="label">Loaded:</span> <span class="loaded"></span></li>
                <li><span class="label">Screened:</span> <span class="screened"></span></li>
                <li><span class="label">Data:</span> <span class="data"></span></li>
            </ul>
        </div>
    </div>
    
    <div class="key">
        <p>Inner ring: Protein by colour</p>
        <p>Outer ring: Sample status</p>
        <ul>
            <li>Loaded</li>
            <li>Screened</li>
            <li>Auto Indexed</li>
            <li>Data Collected</li>
            <li>Auto Integrated</li>
        </ul>
    </div>
</div>

<div class="right">
    <div class="dcl"></div>
</div>

<div class="clearfix"></div>
