<h1 class="no_mobile">Data Collection Summary</h1>

<div class="options data_collection">
    <div class="r">
        <a href="/dc/visit/<%-VISIT%>" class="button"><i class="fa fa-search"></i> All Data Collections</a>
    </div>

    <label>Pipeline: <select name="pipeline"></select></label>
    <label>Spacegroup: <select name="SG"></select></label>
    <label>Min Resolution: <input type="text" name="minres" /></label>
    <label>Min Completeness: <input type="text" name="mincom" /></label>
    <label>Min Anom Completeness: <input type="text" name="minanom" /></label>
    <label>Max Rmeas: <input type="text" name="maxrmeas" /></label>
    <label>Min CC½: <input type="text" name="mincchalf" /></label>
    <label>Min CCanom: <input type="text" name="minccanom" /></label>
    <label>Min Images: <input type="text" name="minimages" /></label>
</div>

<div class="wrapper"></div>
