/* Shipping */
.annotations.users1 {
    span:nth-child(1) {
        top: 3%;
        left: 20%;
    }

    span:nth-child(2) {
        top: 51%;
        left: 68%;
    }

    span:nth-child(3) {
        top: 31%;
        left: 42%;
    }

    span:nth-child(4) {
        top: 54%;
        left: 36%;
    }

    span:nth-child(5) {
        top: 68%;
        left: 39%;
    }

    span:nth-child(6) {
        top: 68%;
        left: 60%;
    }

    span:nth-child(7) {
        top: 90%;
        left: 32%;
    }

    span:nth-child(8) {
        top: 84%;
        left: 10%;
    }
}  

/* Shipping */
.annotations.users2 {
    span:nth-child(1) {
        top: 7%;
        left: 16%;
    }

    span:nth-child(2) {
        top: 18%;
        left: 55%;
    }

    span:nth-child(3) {
        top: 32%;
        left: 70%;
    }

    span:nth-child(4) {
        top: 48.5%;
        left: 32.5%;
    }

    span:nth-child(5) {
        top: 33%;
        left: 28%;
    }

    span:nth-child(6) {
        top: 58%;
        left: 15%;
    }

    span:nth-child(7) {
        top: 60%;
        left: 65%;
    }

    span:nth-child(8) {
        top: 84%;
        left: 10%;
    }
}  


/* Data Collection */
.annotations.users3 {
    span:nth-child(1) {
        top: 0.5%;
        left: 40%;
    }

    span:nth-child(2) {
        top: 8%;
        left: 82%;
    }

    span:nth-child(3) {
        top: 26%;
        left: 37%;
    }

    span:nth-child(4) {
        top: 20%;
        left: 36%;
    }

    span:nth-child(5) {
        top: 20%;
        left: 80%;
    }

    span:nth-child(6) {
        top: 41.5%;
        left: 50%;
    }

    span:nth-child(7) {
        top: 67%;
        left: 69%;
    }

    span:nth-child(8) {
        top: 73%;
        left: 30%;
    }

    span:nth-child(9) {
        top: 48%;
        left: 31%;
    }

    span:nth-child(10) {
        top: 33%;
        left: 24%;
    }

    span:nth-child(11) {
        top: 39.5%;
        left: 16%;
    }

    span:nth-child(12) {
        top: 56%;
        left: 19%;
    }
}  


/* Processing */
.annotations.users4 {
    span:nth-child(1) {
        top: 30%;
        left: 35%;
    }

    span:nth-child(2) {
        top: 54%;
        left: 27%;
    }

    span:nth-child(3) {
        top: 67%;
        left: 50%;
    }

    span:nth-child(4) {
        top: 20%;
        left: 36%;
    }

    span:nth-child(5) {
        top: 84%;
        left: 56%;
    }

    span:nth-child(6) {
        top: 9%;
        left: 7.5%;
    }
}  


/* Project */
.annotations.users5 {
    span:nth-child(1) {
        top: 1.5%;
        left: 28%;
    }

    span:nth-child(2) {
        top: 11%;
        left: 53%;
    }

    span:nth-child(3) {
        top: 33%;
        left: 53%;
    }

    span:nth-child(4) {
        top: 43%;
        left: 43%;
    }

    span:nth-child(5) {
        top: 60%;
        left: 44%;
    }

    span:nth-child(6) {
        top: 66%;
        left: 40%;
    }

    span:nth-child(7) {
        top: 68.5%;
        left: 64%;
    }

    span:nth-child(8) {
        top: 94%;
        left: 77%;
    }
}  


/* LIMS */
.annotations.users6 {
    span:nth-child(1) {
        top: 9%;
        left: 33%;
    }

    span:nth-child(2) {
        top: 20.5%;
        left: 4%;
    }

    span:nth-child(3) {
        top: 5%;
        left: 60%;
    }

    span:nth-child(4) {
        top: 8%;
        left: 90%;
    }

    span:nth-child(5) {
        top: 21%;
        left: 62%;
    }

    span:nth-child(6) {
        top: 85%;
        left: 33%;
    }

    span:nth-child(7) {
        top: 68.5%;
        left: 64%;
    }
}  


/* Home */
.annotations.staff1 {
    span:nth-child(1) {
        top: 8.5%;
        left: 47%;
    }

    span:nth-child(2) {
        top: 12%;
        left: 25%;
    }

    span:nth-child(3) {
        top: 57%;
        left: 61%;
    }

    span:nth-child(4) {
        top: 50%;
        left: 22%;
    }

    span:nth-child(5) {
        top: 63%;
        left: 44%;
    }
}


/* Beamline Status */
.annotations.staff2 {
    span:nth-child(1) {
        top: 1.5%;
        left: 42%;
    }

    span:nth-child(2) {
        top: 15%;
        left: 46.5%;
    }

    span:nth-child(3) {
        top: 51%;
        left: 21%;
    }

    span:nth-child(4) {
        top: 63%;
        left: 21%;
    }

    span:nth-child(5) {
        top: 69%;
        left: 42%;
    }
}



/* Run Overview */
.annotations.staff3 {
    span:nth-child(1) {
        top: 26.5%;
        left: 67%;
    }

    span:nth-child(2) {
        top: 34.5%;
        left: 47%;
    }

    span:nth-child(3) {
        top: 42.5%;
        left: 6%;
    }

    span:nth-child(4) {
        top: 50%;
        left: 31%;
    }

    span:nth-child(5) {
        top: 59%;
        left: 31%;
    }

    span:nth-child(6) {
        top: 66%;
        left: 67%;
    }

    span:nth-child(7) {
        top: 72%;
        left: 34%;
    }
}


/* Sample Changer */
.annotations.staff4 {
    span:nth-child(1) {
        top: 2.5%;
        left: 43%;
    }

    span:nth-child(2) {
        top: 19.5%;
        left: 54%;
    }

    span:nth-child(3) {
        top: 36%;
        left: 43%;
    }

    span:nth-child(4) {
        top: 57%;
        left: 22.5%;
    }
}


/* Fault Reporting */
.annotations.staff5 {
    span:nth-child(1) {
        top: 0.5%;
        left: 42%;
    }

    span:nth-child(2) {
        top: 23%;
        left: 39%;
    }

    span:nth-child(3) {
        top: 42%;
        left: 57%;
    }

    span:nth-child(4) {
        top: 62%;
        left: 50%;
    }

    span:nth-child(5) {
        top: 68%;
        left: 62%;
    }
}




/* Visit Evaluation */
.annotations.manager1 {
    span:nth-child(1) {
        top: 8%;
        left: 42%;
    }

    span:nth-child(2) {
        top: 19%;
        left: 32%;
    }

    span:nth-child(3) {
        top: 25%;
        left: 32%;
    }

    span:nth-child(4) {
        top: 31.5%;
        left: 32%;
    }

    span:nth-child(5) {
        top: 36%;
        left: 32%;
    }

    span:nth-child(6) {
        top: 43%;
        left: 32%;
    }

    span:nth-child(7) {
        top: 51%;
        left: 32%;
    }

    span:nth-child(8) {
        top: 55%;
        left: 32%;
    }

    span:nth-child(9) {
        top: 66%;
        left: 42%;
    }

    span:nth-child(10) {
        top: 90%;
        left: 65%;
    }
}


/* Group Evaluation */
.annotations.manager2 {
    span:nth-child(1) {
        top: 26%;
        left: 52%;
    }

    span:nth-child(2) {
        top: 52%;
        left: 50%;
    }

    span:nth-child(3) {
        top: 64%;
        left: 68%;
    }

    span:nth-child(4) {
        top: 20.5%;
        left: 25%;
    }

    span:nth-child(5) {
        top: 27%;
        left: 33%;
    }
}


/* Beamine Performance */
.annotations.manager3 {
    span:nth-child(1) {
        top: 15%;
        left: 37.5%;
    }

    span:nth-child(2) {
        top: 14%;
        left: 59%;
    }

    span:nth-child(3) {
        top: 53%;
        left: 68%;
    }

    span:nth-child(4) {
        top: 90.5%;
        left: 12%;
    }
}


/* Beamine Components */
.annotations.manager4 {
    span:nth-child(1) {
        top: 25%;
        left: 24%;
    }

    span:nth-child(2) {
        top: 26%;
        left: 77%;
    }

    span:nth-child(3) {
        top: 70%;
        left: 62%;
    }
}


/* Infrastructure */
.annotations.manager5 {
    span:nth-child(1) {
        top: 13%;
        left: 22%;
    }

    span:nth-child(2) {
        top: 28%;
        left: 42%;
    }

    span:nth-child(3) {
        top: 31%;
        left: 70%;
    }

    span:nth-child(4) {
        top: 48%;
        left: 83%;
    }
}


/* PDB */
.annotations.manager6 {
    span:nth-child(1) {
        top: 0.5%;
        left: 41%;
    }

    span:nth-child(2) {
        top: 24%;
        left: 38.5%;
    }

    span:nth-child(3) {
        top: 24%;
        left: 23.5%;
    }

    span:nth-child(4) {
        top: 40%;
        left: 35%;
    }

    span:nth-child(5) {
        top: 70%;
        left: 35%;
    }

    span:nth-child(6) {
        top: 65%;
        left: 62%;
    }
}





/* Non MX */
.annotations.nonmx1 {
    span:nth-child(1) {
        top: 17%;
        left: 42%;
    }

    span:nth-child(2) {
        top: 28%;
        left: 39%;
    }

    span:nth-child(3) {
        top: 28%;
        left: 83%;
    }

    span:nth-child(4) {
        top: 41.5%;
        left: 41.5%;
    }

    span:nth-child(5) {
        top: 55%;
        left: 17%;
    }

    span:nth-child(6) {
        top: 60%;
        left: 35%;
    }

    span:nth-child(7) {
        top: 59%;
        left: 85%;
    }

    span:nth-child(8) {
        top: 64.8%;
        left: 73%;
    }

    span:nth-child(9) {
        top: 71%;
        left: 42.5%;
    }

    span:nth-child(10) {
        top: 83%;
        left: 39%;
    }
}