<div class="filter filter-nohide">
    <ul class="clearfix">
        <li title="View Dewar Overview"><a href="/dewars/overview">Dewar Overview</a></li>
        <li title="View Shipment Manifest"><a href="/shipments/manifest">Shipping Manifest</a></li>
        <li title="Dewar Stats" class="current"><a href="/shipments/stats">Dewar Stats</a></li>
    </ul>
</div>

<div class="filter">
    <ul>
        <li><label><input type="checkbox" name="data" value="1" /> With Data</label></li>
        <li><label><input type="checkbox" name="hist" value="1" /> With Dewar History (>1)</label></li>
    </ul>
</div>

<div class="plot_container">
	<div id="avg_time" class="large years"></div>
</div>
<h1>By Year</h1>
<div class="runs"></div>

<div class="plot_container">
	<div id="avg_time" class="large map"></div>
</div>
<h1>By Country</h1>
<div class="countries"></div>
