
    <td><input name="CODE" /></td>
    <td>&nbsp;</td>
    <td><select name="FACILITYCODE"></select></td>
    <td><input name="WEIGHT" /></td>
    <td><select name="FIRSTEXPERIMENTID"></select></td>
    <td><input name="TRACKINGNUMBERTOSYNCHROTRON" /></td>
    <td><input name="TRACKINGNUMBERFROMSYNCHROTRON" /></td>
    <td colspan="3">&nbsp;</td>
    <td>
        <a class="button button-notext save"><i class="fa fa-check"></i> <span>Save Dewar</span></a>
        <a class="button button-notext cancel"><i class="fa fa-times"></i> <span>Cancel</span></a>
    </td>

