<div class="filter filter-nohide">
    <ul class="clearfix">
        <li title="View Dewar Overview"><a href="/dewars/overview">Dewar Overview</a></li>
        <li title="View Shipment Manifest" class="current"><a href="/shipments/manifest">Shipping Manifest</a></li>
        <li title="Dewar Stats"><a href="/shipments/stats">Dewar Stats</a></li>
    </ul>
</div>

<h1>Shipping Manifest</h1>
<select name="month"></select><a href="<%-APIURL%>/pdf/manifest" class="button manifest"><i class="fa fa-print"></i> Print Shipping Manifest</a>
<div class="shipments"></div>
