<h1>Register Dewar</h1>

<form>
    
    <div class="form">
        <ul>
            
            <li>
                <label>Facility Code
                    <span class="small">DLS-XX-XXXX Code</span>
                </label>
                <input type="text" name="FACILITYCODE" />
            </li>
            
            <li>
                <label>Lab Contact
                    <span class="small">Contact associated with this dewar. <a class="add_lc" href="#">Add Contact</a></span>
                </label>
                <select name="LABCONTACTID" /></select>
            </li>
            
            <li>
                <label>Purchase Date
                    <span class="small">When the dewar was purchased</span>
                </label>
                <input type="text" name="PURCHASEDATE" />
            </li>

            <button name="submit" value="1" type="submit" class="button submit">Register Dewar</button>
            
        </ul>
    </div>
    
</form>

