<h1>Dewar: <span class="NEWFACILITYCODE"><%-FACILITYCODE%></span></h1>

<div class="form clearfix puck_wrap">
    <div class="puck" title="Click to jump to a position in the puck"></div>
    
    <ul>
        <li>
            <span class="label">Purchase Date</span>
            <span class="PURCHASEDATE"><%-PURCHASEDATE%></span> (Age: <%-AGE%> months)
        </li>

        <li>
            <span class="label">Lab Contact</span>
            <span class="LABCONTACTID"><%-CARDNAME%></span>
        </li>
        
        <li>
            <span class="label">Name</span>
            <span><%-GIVENNAME%> <%-FAMILYNAME%></span>
        </li>

        <li class="clearfix reorder">
            <div class=" text"><%-LABNAME%><br /><%-ADDRESS%><br /><%-CITY%><br /><%-POSTCODE%><br /><%-COUNTRY%></div>
            <span class="label">Address</span>
        </li>

        <li>
            <span class="label">Email</span>
            <span><%-EMAILADDRESS%></span>
        </li>

        <li>
            <span class="label">Phone</span>
            <span><%-PHONENUMBER%></span>
        </li>

    </ul>
</div>

<h1>Shipments</h1>
<div class="table dewars"></div>

<h1>Location History</h1>
<div class="table history"></div>

<h1>Dewar Reports</h1>
<div class="table reports"></div>