<h1><%-BARCODE%></h1>

<div class="form clearfix">    
    <ul>
        <li>
            <span class="label">Created</span>
            <span class="RECORDTIMESTAMP"><%-RECORDTIMESTAMP%></span>
        </li>
        <li>
            <span class="label">Comments</span>
            <span class="COMMENTS"><%-COMMENTS%></span>
        </li>

        <li class="clearfix">
            <span class="label">
                Associated Proposals
            </span>
            <span class="props floated">
                <ul class="visits clearfix"></ul>
            </span>
        </li>
    </ul>
</div>

<h1>Instances</h1>
<div class="table conts"></div>

<h1>Location History</h1>
<div class="table history"></div>

<h1>Reports</h1>
<div class="table reports"></div>

<div class="addreport"></div>
