    <thead>
        <tr>
            <th>Location</th>
            <th>Protein Acronym</th>
            
            <th>Name</th>
            <th class="xtal auto-extra">Spacegroup</th>
            <th class="xtal auto-extra">Barcode</th>
            <th class="non-xtal">Volume</th>

            <th class="auto">Centring Method</th>
            <th class="auto">Experiment Kind</th>
            <th class="auto">Energy (eV)</th>
            <th class="auto">Radiation Sensitivty</th>

            <th>Comment</th>

            <th class="xtal">Anomalous</th>

            <th class="xtal requireresolution">Required Res</th>
            <th class="extra">Abundance</th>
            <th class="extra">Components</th>

            <th class="extra">Unit Cell</th>
            
            <th>&nbsp;</th>
        </tr>
    </thead>
    
    <tbody></tbody>
