
<td><%-LOCATION%></td>
<td><select name="PROTEINID"></select>
<td><input type="text" name="ABUNDANCE" value="<%-ABUNDANCE%>" /> <span class="SYMBOL"><%-SYMBOL%></span></td>
<td class="components">
	Add: <input type="text" name="COMPONENTID">
</td>
<td><input type="text" name="NAME" value="<%-NAME%>" /></td>
<td class="xtal"><select name="SPACEGROUP"></select></td>
<td class="xtal"><input name="CODE" type="text" value="<%-CODE%>" /></td>
<td class="non-xtal"><input type="text" name="VOLUME" value="<%-VOLUME%>" /></td>
<td><input type="text" name="COMMENTS" value="<%-COMMENTS%>" /></td>
<td class="extra"><input type="text" name="REQUIREDRESOLUTION" /></td>
<td class="extra"><select name="ANOMALOUSSCATTERER"></select> <!--<input type="text" name="ANOM_NO" placeholder="No. Atoms" />--></td>
<td class="extra">
	<input type="text" name="CELL_A" placeholder="A" />
	<input type="text" name="CELL_B" placeholder="B" />
	<input type="text" name="CELL_C" placeholder="C" />
	<input type="text" name="CELL_ALPHA" placeholder="&alpha;" />
	<input type="text" name="CELL_BETA" placeholder="&beta;" />
	<input type="text" name="CELL_GAMMA" placeholder="&gamma;" />
</td>

<td>&nbsp;</td>
<td>
    <a href="#" class="button button-notext save"><i class="fa fa-check"></i> <span>Save Changes</span></a>
    <a href="#" class="button button-notext cancel"><i class="fa fa-times"></i> <span>Cancel</span></a>
</td>