    <thead>
        <tr>
            <th>Location</th>
            <th>Protein Acronym</th>
            <th>Components</th>
            <th>Name</th>
            <th class="xtal">Spacegroup</th>
            <th class="xtal">Barcode</th>
            <th class="non-xtal">Volume</th>
            <th>Comment</th>
            <th class="extra">Required Res</th>
            <th class="extra">Anom Scatterer</th>
            <th class="extra">Unit Cell</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    
    <tbody></tbody>
