    <h1>Shipment: <span class="SHIPPINGNAME"><%-SHIPPINGNAME%></span></h1>

    <p class="help">This page shows details and contents of the selected shipment. Most parameters can be edited by simply clicking on them.</p>
    <p class="help excl">Shipments need to have an outgoing and return home lab contact before shipment labels can be printed</p>

    <% if (DHL_ENABLE) { %>
        <% if (DELIVERYAGENT_HAS_LABEL == '1') { %>
            <p class="message notify">You can print your Airway Bill by clicking &quot;Print Airway Bill&quot; below</p>
        <% } else { %>
            <p class="message notify">You can now book your shipment with DHL using &quot;Create Airway Bill&quot; below</p>
        <% } %>
    <% } %>

    <% if (LCOUT && LCRET) { %>
    <div class="ra">
        <% if (SHIPPINGSTATUS == 'opened' || SHIPPINGSTATUS == 'awb created' || SHIPPINGSTATUS == 'pickup booked') { %>
            <a class="button send" href="#"><i class="fa fa-plane"></i> Mark as Sent</a>
        <% } %>

        <% if (DHL_ENABLE) { %>
        <% if (DELIVERYAGENT_HAS_LABEL == '1') { %>
            <a class="button pdf" href="<%-APIURL%>/pdf/awb/sid/<%-SHIPPINGID%>"><i class="fa fa-print"></i> Print Airway Bill</a>
            <!-- <a class="button cancel" href="#"><i class="fa fa-truck"></i> Cancel Pickup</a> -->
            <% if (!DELIVERYAGENT_PICKUPCONFIRMATION) { %>
                <a class="button awb" href="/shipments/pickup/sid/<%-SHIPPINGID%>"><i class="fa fa-truck"></i> Rebook Pickup</a>
            <% } %>
        <% } else { %>
            <a class="button awb" href="/shipments/awb/sid/<%-SHIPPINGID%>"><i class="fa fa-credit-card"></i> Create Airway Bill</a>
        <% } %>
        <% } %>

        <a href="<%-APIURL%>/pdf/sid/<%-SHIPPINGID%>/prop/<%-PROP%>" class="label button pdf" title="Print Shipment Labels"><i class="fa fa-print"></i> Print Shipment Labels</a>

        <a href="<%-APIURL%>/pdf/container/sid/<%-SHIPPINGID%>/prop/<%-PROP%>" class="label button pdf" title="Print Shipment Contents"><i class="fa fa-print"></i> Print Contents</a>
    </div>
    <% } %>

    <div class="form">
        <ul>

            <li>
                <span class="label">Created</span>
                <span class="created"><%-CREATED%></span>
            </li>

            <li>
                <span class="label">Status</span>
                <span class="stat"><%-SHIPPINGSTATUS%></span>
            </li>

            <li>
                <span class="label">Outgoing Lab Contact</span>
                <span class="SENDINGLABCONTACTID"><%-LCOUT%></span>
            </li>

            <li>
                <span class="label">Return Lab Contact</span>
                <span class="RETURNLABCONTACTID"><%-LCRET%></span>
            </li>
            <li>
                <span class="label">Safety Level</span>
                <span class="SAFETYLEVEL"><%-SAFETYLEVEL%></span>
            </li>
            <li>
                <span class="label">Courier</span>
                <span class="DELIVERYAGENT_AGENTNAME"><%-DELIVERYAGENT_AGENTNAME%></span>
            </li>

            <li>
                <span class="label">Courier Account No.</span>
                <span class="DELIVERYAGENT_AGENTCODE"><%-DELIVERYAGENT_AGENTCODE%></span>
            </li>

            <li>
                <span class="label">Shipping Date</span>
                <span class="DELIVERYAGENT_SHIPPINGDATE"><%-DELIVERYAGENT_SHIPPINGDATE%></span>
            </li>

            <li>
                <span class="label">Shipping Airway Bill</span>
                <span class="DELIVERYAGENT_FLIGHTCODE"><%-DELIVERYAGENT_FLIGHTCODE%></span>
            </li>

            <li>
                <span class="label">Shipping Pickup Location</span>
                <span class="PHYSICALLOCATION"><%-PHYSICALLOCATION%></span>
            </li>

            <li>
                <span class="label">Shipping Ready By</span>
                <span class="READYBYTIME"><%-READYBYTIME%></span>
            </li>

            <li>
                <span class="label">Shipping Close Time</span>
                <span class="CLOSETIME"><%-CLOSETIME%></span>
            </li>

            <% if (DELIVERYAGENT_PICKUPCONFIRMATION) { %>
            <li>
                <span class="label">Shipping Pickup Confirmed</span>
                Yes - Confirmation Number: <span class="DELIVERYAGENT_PICKUPCONFIRMATION"><%-DELIVERYAGENT_PICKUPCONFIRMATION%></span>
                <a href="#" class="button cancel_pickup"><i class="fa fa-times"></i> Cancel</a>
            </li>
            <li>
                <span class="label">Shipping Confirmed Ready By</span>
                <span class="DELIVERYAGENT_READYBYTIME"><%-DELIVERYAGENT_READYBYTIME%></span>
            </li>

            <li>
                <span class="label">Shipping Confirmed Call In</span>
                <span class="DELIVERYAGENT_CALLINTIME"><%-DELIVERYAGENT_CALLINTIME%></span>
            </li>
            <% } %>

            <li>
                <span class="label">Estimated Delivery Date</span>
                <span class="DELIVERYAGENT_DELIVERYDATE"><%-DELIVERYAGENT_DELIVERYDATE%></span>
            </li>

            <li class="clearfix reorder">
                <div class="COMMENTS text"><%-COMMENTS%></div>
                <span class="label">Comments</span>
            </li>

        </ul>
        <div class="clear"></div>
    </div>


    <h1>Shipment Contents</h1>

    <p class="help">Select a dewar by clicking on the row in the table below. Dewar details are then shown below. Click the + icon to add a container to the selected dewar</p>

    <div class="ra"><a href="#" class="button" id="add_dewar" title="Add a dewar to this shipment"><i class="fa fa-plus"></i> Add Dewar</a></div>

    <div class="table"></div>


    <h1>
        Dewar Details: <span class="dewar_name"></span>
        <span class="r padded_button add_container"></span>
    </h1>

    <p class="help">This section shows contents and history for the selected dewar. Click the spyglass icon to view the contents of the container</p>

    <div class="left dcontent"></div>


    <div class="right history table table-no-margin"></div>
    <div class="right tracking table table-no-margin"></div>

    <div class="clear"></div>