
    <h2>Sample</h2>

    <div class="form">
        <ul>
            <li>
                <span class="label">Protein</span>
                <span class="PROTEINID"><%=ACRONYM%></span>
            </li>
            <li>
                <span class="label">Sample Name</span>
                <span class="NAME"><%=NAME%></span>
            </li>
            <li>
                <span class="label">Spacegroup</span>
                <span class="SPACEGROUP"><%=SPACEGROUP%></span>
            </li>
            <li class="clearfix reorder">
                <div class="COMMENTS text"><%=COMMENTS%></div>
                <span class="label">Comments</span>
            </li>
        </ul>
    </div>
