
    <h2>Sample</h2>
    <div class="ra">
        <a href="#" class="button clone-plate"><i class="fa fa-plus"></i> Plate</a>
        <a href="#" class="button clone-col"><i class="fa fa-plus"></i> Column</a>
        <a href="#" class="button clone-row"><i class="fa fa-plus"></i> Row</a>

        <a href="#" class="button clear-plate" title="Clear Plate"><i class="fa fa-times"></i> Plate</a>
        <a href="#" class="button clear-col" title="Clear Column"><i class="fa fa-times"></i> Column</a>
        <a href="#" class="button clear-row" title="Clear Row"><i class="fa fa-times"></i> Row</a>
        
        <a href="#" class="button clear" title="Clear Sample"><i class="fa fa-times"></i></a>
    </div>

    <div class="form">
        <ul>
            <li>
                <label>Protein</label>
                <select name="PROTEINID"></select>
            </li>
            <li>
                <label>Sample Name</label>
                <input type="text" name="NAME">
            </li>
            <li>
                <label>Spacegroup</label>
                <select name="SPACEGROUP"></select>
                    </li>
            <li>
                <label>Comments</label>
                <input type="text" name="COMMENTS">
            </li>
        </ul>
    </div>
