

    <h1>Add New Home Lab Contact</h1>

    <form method="post" id="add_contact">

    <div class="form">
        <ul>


            <li>
                <label>Card Name
                    <span class="small">Name for the Contact Card</span>
                </label>
                <input type="text" name="CARDNAME" />
            </li>


            <li class="head">Contact Details</li>

            <li>
                <label>Family Name</label>
                <input type="text" name="FAMILYNAME" />
            </li>


            <li>
                <label>First Name</label>
                <input type="text" name="GIVENNAME" />
            </li>

            <li>
                <label>Telephone Number</label>
                <input type="text" name="PHONENUMBER" />
            </li>

            <li>
                <label>Email Address</label>
                <input type="email" name="EMAILADDRESS" />
            </li>


            <li class="head">University / Institution / Company Details</li>

            <li>
                <label>Name
                    <span class="small">The name of the university, institution or company</span>
                </label>
                <input type="text" name="LABNAME" />
            </li>

            <li>
                <label>Street Address
                    <span class="small">Address for courier <br/>Exclude post code and city</span>
                </label>
                <textarea name="ADDRESS"></textarea>
            </li>

            <li>
                <label>City</label>
                <input type="text" name="CITY" />
            </li>

            <li>
                <label>Postcode</label>
                <input type="text" name="POSTCODE" />
            </li>

            <li>
                <label>Country</label>
                <select name="COUNTRY"></select>
            </li>

            <li class="head">
                <label>Dewar Return Details
                    <span class="small">The following information is used for each shipment associated with this contact</span>
                </label>
            </li>

            <li>
                <label>Courier Company
                    <span class="small">Courier company to use to return dewars to home lab</span>
                </label>
                <input type="text" name="DEFAULTCOURRIERCOMPANY" />
            </li>


            <li>
                <label>Courier Account No.
                <span class="small">Courier account number for returning dewars to home lab</span>
                </label>
                <input type="text" name="COURIERACCOUNT" />
            </li>

            <li>
                <label>Billing Reference
                    <span class="small">Billing reference to use when returning dewars to home lab</span>
                </label>
                <input type="text" name="BILLINGREFERENCE" />
            </li>

            <li>
                <label>Average customs value of dewar
                    <span class="small">The average customs value of a dewar</span>
                </label>
                <input type="text" name="DEWARAVGCUSTOMSVALUE" />
            </li>

            <li>
                <label>Average transport value of dewar
                    <span class="small">The average transport value of a dewar</span>
                </label>
                <input type="text" name="DEWARAVGTRANSPORTVALUE" />
            </li>

            <button name="submit" value="1" type="submit" class="button submit">Add Home Lab Contact</button>


        </ul>
    </div>

    </form>

