

    <h1>Add New Home Lab Contact</h1>

    <form method="post" id="add_contact">

    <div class="form">
        <ul>


            <li>
                <label>Card Name
                    <span class="small">Name for the Contact Card</span>
                </label>
                <input type="text" name="CARDNAME" />
            </li>


            <li class="head">Contact Details</li>

            <li>
                <label>Contact Family Name
                    <span class="small">The person's family name</span>
                </label>
                <input type="text" name="FAMILYNAME" />
            </li>


            <li>
                <label>Contact First Name
                    <span class="small">The person's first name</span>
                </label>
                <input type="text" name="GIVENNAME" />
            </li>

            <li>
                <label>Contact Phone Number
                    <span class="small">The person's phone number</span>
                </label>
                <input type="text" name="PHONENUMBER" />
            </li>

            <li>
                <label>Contact Email
                    <span class="small">The person's email address</span>
                </label>
                <input type="email" name="EMAILADDRESS" />
            </li>


            <li class="head">Contact Laboratory Details</li>

            <li>
                <label>Laboratory Name
                    <span class="small">The contact's laboratory name</span>
                </label>
                <input type="text" name="LABNAME" />
            </li>

            <li>
                <label>Laboratory Street Address
                    <span class="small">Street Address (excluding post code, city)</span>
                </label>
                <textarea name="ADDRESS"></textarea>
            </li>

            <li>
                <label>Laboratory City
                    <span class="small">The contact's laboratory city</span>
                </label>
                <input type="text" name="CITY" />
            </li>

            <li>
                <label>Laboratory Postcode
                    <span class="small">The contact's laboratory postcode</span>
                </label>
                <input type="text" name="POSTCODE" />
            </li>

            <li>
                <label>Laboratory Country
                    <span class="small">The contact's laboratory country</span>
                </label>
                <select name="COUNTRY"></select>
            </li>

            <li class="head">
                Dewar Return Details
                <br /><span class="small">The following information is used for each shipment associated with this contact</span>
            </li>

            <li>
                <label>Courier Company
                    <span class="small">Courier company to use to return dewars to home lab</span>
                </label>
                <input type="text" name="DEFAULTCOURRIERCOMPANY" />
            </li>


            <li>
                <label>Courier Account No.
                <span class="small">Courier account number for returning dewars to home lab</span>
                </label>
                <input type="text" name="COURIERACCOUNT" />
            </li>

            <li>
                <label>Billing Reference
                    <span class="small">Billing reference to use when returning dewars to home lab</span>
                </label>
                <input type="text" name="BILLINGREFERENCE" />
            </li>

            <li>
                <label>Average customs value of dewar
                    <span class="small">The average customs value of a dewar</span>
                </label>
                <input type="text" name="DEWARAVGCUSTOMSVALUE" />
            </li>

            <li>
                <label>Average transport value of dewar
                    <span class="small">The average transport value of a dewar</span>
                </label>
                <input type="text" name="DEWARAVGTRANSPORTVALUE" />
            </li>

            <button name="submit" value="1" type="submit" class="button submit">Add Home Lab Contact</button>


        </ul>
    </div>

    </form>

