

<h1>View Home Lab Contact</h1>

<div class="form">
    <ul>
        
        <li>
            <span class="label">Card Name</span>
            <span class="CARDNAME"><%-CARDNAME%></span>
        </li>
        
        
        <li>
            <span class="label">Family Name</span>
            <span class="FAMILYNAME"><%-FAMILYNAME%></span>
        </li>
        
        
        <li>
            <span class="label">First Name</span>
            <span class="GIVENNAME"><%-GIVENNAME%></span>
        </li>
        
        <li>
            <span class="label">Phone Number</span>
            <span class="PHONENUMBER"><%-PHONENUMBER%></span>
        </li>
        
        <li>
            <span class="label">Email</span>
            <span class="EMAILADDRESS"><%-EMAILADDRESS%></span>
        </li>
        
        
        <li>
            <span class="label">Laboratory Name</span>
            <span class="LABNAME"><%-LABNAME%></span>
        </li>
        
        <li class="clearfix reorder">
            <div class="ADDRESS text"><%-ADDRESS%></div>
            <span class="label">Laboratory Street Address <br />(excluding post code, city)</span>
        </li>
        
        <li>
            <span class="label">Laboratory City</span>
            <span class="CITY"><%-CITY%></span>
        </li>

        <li>
            <span class="label">Laboratory Postcode</span>
            <span class="POSTCODE"><%-POSTCODE%></span>
        </li>

        <li>
            <span class="label">Laboratory Country</span>
            <span class="COUNTRY"><%-COUNTRY%></span>
        </li>
        
        <li>
            <span class="label">Courier Company</span>
            <span class="DEFAULTCOURRIERCOMPANY"><%-DEFAULTCOURRIERCOMPANY%></span>
        </li>
        
        <li>
            <span class="label">Courier Account No.</span>
            <span class="COURIERACCOUNT"><%-COURIERACCOUNT%></span>
        </li>
        
        <li>
            <span class="label">Billing Reference</span>
            <span class="BILLINGREFERENCE"><%-BILLINGREFERENCE%></span>
        </li>
        
        <li>
            <span class="label">Dewar Customs Value</span>
            <span class="DEWARAVGCUSTOMSVALUE"><%-DEWARAVGCUSTOMSVALUE%></span>
        </li>
        
        <li>
            <span class="label">Dewar Transport Value</span>
            <span class="DEWARAVGTRANSPORTVALUE"><%-DEWARAVGTRANSPORTVALUE%></span>
        </li>
        
    </ul>
</div>
