

<h1>View User</h1>

<div class="form">
    <ul>
        
        <li>
            <span class="label">Login</span>
            <span class="LOGIN"><%-LOGIN ? LOGIN : 'N/A - Lab Contact'%></span>
        </li>

        <li>
            <span class="label">First Name</span>
            <span class="GIVENNAME"><%-GIVENNAME%></span>
        </li>

        <li>
            <span class="label">Family Name</span>
            <span class="FAMILYNAME"><%-FAMILYNAME%></span>
        </li>
        
        <li class="head">Contact Details</li>

        <li>
            <span class="label">Phone Number</span>
            <span class="PHONENUMBER"><%-PHONENUMBER%></span>
        </li>
        
        <li>
            <span class="label">Email</span>
            <span class="EMAILADDRESS"><%-EMAILADDRESS%></span>
        </li>
        
        <li class="head">Contact Laboratory Details</li>

        <li>
            <span class="label">Laboratory Name</span>
            <span class="LABNAME"><%-LABNAME%></span>
        </li>
        
        <li class="clearfix reorder">
            <div class="ADDRESS text"><%-ADDRESS%></div>
            <span class="label">Laboratory Address</span>
        </li>

        <li>
            <span class="label">Laboratory City</span>
            <span class="CITY"><%-CITY%></span>
        </li>

        <li>
            <span class="label">Laboratory Postcode</span>
            <span class="POSTCODE"><%-POSTCODE%></span>
        </li>

        <li>
            <span class="label">Laboratory Country</span>
            <span class="COUNTRY"><%-COUNTRY%></span>
        </li>
        
        
    </ul>
</div>
