div.form {
    padding: 10px;
    
    ul {
        list-style: none;
        
        li {
            //clear: both;

            &.extra {
            display: none;

                &.show {
                    display: block;
                }
            }

            span {
                /* Want consistent padding for form span elements */
                @apply tw-px-1 tw-py-2;
            }
        }
    }
    
    
    label {
        float: left;
        display: block;
        font-size: 12px;
        
        span.small {
            display: block;
            font-size: 10px;
        }

    }
    
    
    span.label {
        display: inline-block;
        // padding: 1% 0;
        font-weight: bold;
    }
    
    span.label, label {
        width: 28%;
        
        @media (max-width: $breakpoint-small) {
            //width: 100%;
            float: none;
            display: block;
        }
    }

    label.secondary {
        width: auto;
        float: none;
        display: inline;
    }

    
    li.head {
        padding: 1% 0;
        font-weight: bold;
    }
    
    input, textarea, select {
        /* Tailwind trying to avoid this... */
        // &:not(.ui-combobox-input) {
        //     padding: 0.1%;
        // }
        margin: 0 0 20px 5px;
        
        @media (max-width: $breakpoint-small) {
            margin: 0 0 20px 0;
        }
    }
    
    
    
    textarea {
        height: 200px;
    }
    
    textarea, input[name=title], input[name=TITLE], input.full {
        width: 70%;
        
        @media (max-width: $breakpoint-small) {
            width: 100%;
        }
    }
    
    
    button.submit {
        width: 150px;
        height: 30px;
    }
    
    
    select[multiple=multiple] {
        width: 200px;
        vertical-align: top;
        
        @media (max-width: $breakpoint-small) {
            width: 60%;
        }
    }
    
    
    .progress {
        width: 150px;
    }
    
    /*
    textarea + label.ferror,
    select + label.ferror,
    input + label.ferror,
    span label.ferror {
        float: none;
        display: inline;
        padding: 0.5%;
        margin-left: 5px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 4px red;
    }

    input[name=title] + label.ferror,
    textarea + label.ferror {
        margin-left: 29%;
        margin-bottom: 10px;
        display: block;
    }*/
    
    label.ferror {
        display: none !important;
    }
    
    
    span.ferror {
        margin-left: 15px;
        border: none;
        background: $content-light-background;
        border-radius: 5px;
        padding: 0.5%;
        position: relative;
    }

    span.ferror:before {
        position: absolute;
        border: .7em solid transparent;
        left: -1.3em;
        top: 50%;
        margin-top: -.7em;
        content: '';
        border-right-color: $content-light-background;
    }
    /* Tailwind - why was this required? */    
    // textarea + span.ferror {
    //     margin-left: 29%;
    // }
    
    .floated {
        width: 71.6%;
        margin: 1% 0;
        float: right;
        
        
        @media (max-width: $breakpoint-small) {
            width: 100%;
            float: none;
            
            -webkit-box-ordinal-group: 2;
            -moz-box-ordinal-group: 2;
            -ms-flex-order: 1;
            -webkit-order: 1;
            order: 1;
        }
    }
    
    ul.visits li {
        clear: none;
    }
    
    .puck {
        width: 25%;
        float: right;

        @media (max-width: $breakpoint-small) {
            width: 40%;
        }
        
        @media (max-width: $breakpoint-vsmall) {
            width: 100%;
            float: none;
            
            -webkit-box-ordinal-group: 2;
            -moz-box-ordinal-group: 2;
            -ms-flex-order: 1;
            -webkit-order: 1;
            order: 1;
        }
    }
}



//div.form .clear {
//    clear: both;
//}


.ui-input-invalid,
.ferror,
table.form .ferror,
div.form .ferror {
    //border: 1px solid red;
    background: $content-inactive;
}

.fvalid,
table.form .fvalid,
div.form .fvalid {
    //background: $content-active;
}



// Inline editable fields
.editable {
    border-radius: 4px;
    @apply tw-px-1 tw-py-2;

    @media (max-width: $breakpoint-small) {
        padding: 2% 1%;
        display: inline-block;
    }
    
    &:hover {
        cursor: pointer;
        background: $content-search-background url('~images/edit.png') no-repeat right;
        padding-right: 2.5%;
        
        @media (max-width: $breakpoint-small) {
            padding-right: 7%;
        }
    }
    
    
    /*
    span.ui-icon {
        display: none;
        height: 14px;
    }
    
    &:hover span.ui-icon {
        display: inline-block !important;
    }*/
    
    button {
        /* Tailwind adjustments */
        @apply tw-bg-content-background tw-m-1 tw-px-2 tw-py-1 tw-rounded;
    }
}

/* Override for unit cell (small embedded) tables */
table.cell td>span.editable {
    @apply tw-p-0;
}

.invalid {
    box-shadow: 0 0 8px $content-inactive;
}

.valid {
    box-shadow: 0 0 8px $content-active;
}


/* Tailwind - Removed these, tables will fit into their containers */
// div.text_table {
//     width: 71%;
//     margin: 0 0 1% 0;
//     float: right;

//     &.small {
//         width: 47%;
//     }

//     &.half {
//         width: 21%;
//     }

//     table {
//         width: auto;
//     }
// }


// Markdown
div.text {
    width: 68.2%;
    margin: 1% 0;
    float: right;
    background: $content-light-background;
    border-radius: 5px;
    padding-right: 2.5%;
    /* Want consistent padding for form span elements */
    @apply tw-px-1 tw-py-2;
    
    @media (max-width: $breakpoint-small) {
        width: 93%;
        float: none;
        
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    
    p {
        padding: 1% !important;
    }
    
    pre {
        background: $content-sub-background;
        padding: 1%;
        border-radius: 5px;
    }
    
    code {
        font-size: 10px;
        word-wrap: break-word;
    }
    
    ul {
        padding: 1% 2.5%;
        
        li {
            list-style-type: circle;
        }
    }
    
    h1 {
        text-decoration: underline;
        font-size: 14px;
        padding-bottom: 0.5%;
    }
    
    h2 {
        text-decoration: underline;
        font-size: 12px;
        padding-bottom: 0.5%;
    }

    &.seq blockquote {
        &:before {
            content: '>';
            float: left;
            margin: 1%;
        }
    }
}


.image img {
    width: 100%;
}

/*
button.editor {
    margin: 1% 0 0.5% 0;
}

.span {
    width: 99%;
}

.span2 {
    width: 64%;
}

.span3 {
    width: 35%;
}*/

table input[type=text] {
    width: 100%;
}


@media (max-width: $breakpoint-vsmall) {
    .puck_wrap {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .puck {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
}

/* 
Tailwind note:
Instead of reorder we can use tailwinds responsive classes
Design for mobile layout then at sm, md breakpoints use desktop layout 
*/
@media (max-width: $breakpoint-small) {
    
    .reorder {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    /* 
    Tailwind - we may want to remove this.
    It sets a fixed font size for small screens.
    We can scale better with tailwind.
    */
    select, input, textarea {
        font-size: 16px !important;
    }

}


.ui-combobox {
    button.ui-button-icon-only {
        height: 1.8em;
    }
}

/* Tailwind: Tweaks to keep the old styles */
input,
.form input,
.form optgroup,
.form textarea {
    font-family: inherit;
    @apply tw-px-2 tw-py-1;
    @apply tw-bg-white tw-rounded tw-border tw-border-gray-400;
}

.form input:focus, .form textarea:focus {
    @apply tw-outline-none tw-border-blue-400;
}

input[type="text"]:disabled, textarea:disabled {
  @apply tw-bg-content-page-background;
}

/* Some forms are forms, others are div.forms (todo make consistent) */
div.form > ul > li,
form > ul > li {
    @apply tw-flex tw-mb-4;
}

form > ul > li > select {
    line-height: 1.5;
    height: 30px;    
}

.errormessage {
    @apply tw-inline;
    @apply tw-text-xxs;
}

.errormessage.ferror {
    @apply tw-bg-content-background;
    @apply tw-ml-2;
    @apply tw-py-2;
}