// Clearfix
.clearfix {
    @include clearfix;
}


// Two column
.right {
    float: right;
    @include cols(2,0 0 0 1%);
    
    &.third {
        @include cols(3,0 1% 0 0);
    }

    &.twothird {
        @include cols(3,0 1% 0 0, 0, 2);   
    }

    @media (max-width: $breakpoint-vsmall) {
        @include cols(1,0);
    }
}

.left {
    float: left;
    @include cols(2,0 1% 0 0);

    &.third {
        @include cols(3,0 1% 0 0);
    }

    &.twothird {
        @include cols(3,0 1% 0 0, 0, 2);   
    }
    
    @media (max-width: $breakpoint-vsmall) {
        @include cols(1,0);
    }
}


// Misc helpers
.r {
    float: right;
}

.l {
    float: left;
}


.la {
    text-align: left;
}

.ra {
    text-align: right;
}

.active {
    background: $content-active;
}

.clear {
    clear: both;
}

.b {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}



@media (max-width: $breakpoint-vsmall) {
    
    h1 {
        font-size: 12px;
    }
    
}



.loading {
    opacity: 0.4;
    position: relative;
    
    &:after {
        margin: auto;
        top: 50%;
        left: 50%;
        position: absolute;
        font-family: 'FontAwesome';
        font-size: 60px;
        content: '\f110';
        opacity: 1;
        
        -webkit-animation:spin 2s linear infinite;
        -moz-animation:spin 2s linear infinite;
        animation:spin 2s linear infinite;
    }

}

.loading-container {
    min-height: 450px;
    position: relative;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.animated {
    transition: transform 0.8s ease-in-out;
    animation-duration: 0.8s;
}


.button {
    display: inline-block;
    border: 1px solid $sidebar-border;
    padding: 3px 5px;
    text-decoration: none;
    border-radius: 3px;
    background: linear-gradient($content-page-background, $content-dark-background);
    
    &:hover {
        background: linear-gradient($content-dark-background, $content-page-background);
    }

    &.active {
        background: linear-gradient(lighten($content-active,10%), $content-active);
        &:hover {
            background: linear-gradient($content-active, lighten($content-active,10%));
        }
    }
    
    span {
        font-size: 11px;

        &.large {
            font-size: 18px;
        }
    }
    
    &.button-notext {
        span {
            display: none;
        }
    }
    
    &.button-highlight {
        background: linear-gradient($content-highlight, $content-page-background);
    }
}

.no-close {
    .ui-dialog-titlebar {
        display:none
    }
    .ui-dialog-titlebar-close {
        display: none;
    }
}

#login {
    display: none;
    -webkit-overflow-scrolling: touch;
  	overflow-y: scroll;
    overflow-x: scroll;
    
    iframe {
        width: 100%;
        height: 100%;
    }
}


ul.ui-autocomplete {
    z-index: 9999;
}

.super { 
    position: relative; top: -0.5em; font-size: 80%; 
}

.justify {
    text-align: justify;
}
