<div class="motor">
    <div class="value" title="Set Value"></div>
    <h1><%-title%></h1>
    <div class="main">
        <div class="below">
            <div class="button l sevr" title="Alarm">!</div>
            <div class="button r dmov" title="Moving">M</div>
            <div class="readback" title="Readback Value"></div>
        </div>
    </div>
    <div class="buttons clearfix">
        <div class="label"><div class="button hls">&nbsp;</div> High Limit</div>
        <div class="label"><div class="button lls">&nbsp;</div> Low Limit</div>
        <div class="label"><div class="button lvio">&nbsp;</div> Soft Limit</div>
        <div class="label"><div class="button ffe">&nbsp;</div> Following Error</div>
    </div>
</div>
