
    <h1 class="calendar_header">Visits for <span class="title"></span></h1>

    <p class="help">Schedule of visits for the currently selected proposal</p>

    <p class="ra purl"></p>

    <div class="calendar">
        <ul class="links clearfix">
            <li class="yprev"></li>
            <li class="mprev"></li>
            <li class="mnext"></li>
            <li class="ynext"></li>
        </ul>

        <ul class="calendar_days"></ul>
        <ul class="calendar_main clearfix"></ul>
    </div>
