<div class="data_collection" dcid="<%-ID%>" type="data">
    <h1>
        
        <a href="#" class="button button-notext flag <% if (FLAG) { %>button-highlight<% } %>" title="Click to add this data collection to the list of favourite data collections"><i class="fa fa-star-o"></i> <span>Favourite</span></a>
        <a href="/dc/visit/<%-VIS_LINK%>/id/<%-ID%>" class="perm button button-notext"><i class="fa fa-link"></i> <span>Permalink</span></a>
        
        <a href="#" class="comments button button-notext" title="Comments"><i class="fa fa-comments"></i> <b class="dcc"><%-DCCC%></b> <span>Comment(s)</span></a>

        <a href="#" class="button attach"><i class="fa fa-file"></i> <%-DCAC%></a>

        <span class="date"><% if (!IS_VISIT) { %>[<a href="/dc/visit/<%-VIS_LINK%>"><%-VIS_LINK%></a>]<% } %> <%-ST%></span><span class="spacer"> - </span><span class="temp"><%-DIR%><%-FILETEMPLATE%></span>
        
    </h1>

    <div class="snapshots" title="View sample snapshots for the current data collection">
        <a href="<%-APIURL%>/image/id/<%-ID%>/f/1" title="Sample Snapshot"><img dsrc="" alt="Sample Snapshot" /></a>
    </div>
    
    <div class="links">
        <a class="sn" href="#snapshots"><i class="fa fa-camera fa-2x"></i> Snapshots</a> 
    </div>
    
    <ul class="clearfix">
        <% if (BLSAMPLEID) { %><li class="sample"><span class="wrap">Sample: <a href="/samples/sid/<%-BLSAMPLEID%>"><%-SAMPLE%></a></span></li><% } %>
        <li>Wavelength: <%-WAVELENGTH%>&#197;</li>
        <li>Exposure: <%-EXPOSURETIME%>s</li>
        <li>Beamsize: <%-BSX%>x<%-BSY%>&mu;m</li>
        
        <li class="comment" title="Click to edit the comment for this data collection">Comment: <span class="COMMENTS"><%-COMMENTS%></span></li>
        <% if (RUNSTATUS == 'aborted') { %><li>Status: <b>Stopped</b></li><% } %>
    </ul>
</div>
