<div class="data_collection" dcid="<%-ID%>" type="data">
    <h1 class="title"></h1>
    
    <div class="image"></div>
    <div class="diviewer spectrum"></div>

    <ul class="clearfix single">
        <li>Energy: <span class="WAVELENGTH"></span>keV</li>
        <li>Dwell: <span class="EXPOSURETIME"><%-EXPOSURETIME%></span>s</li>
        <li>Beamsize: <span class="BSX"><%-BSX%></span>x<span class="BSY"><%-BSY%></span>&mu;m</li>
        <li>No. Points: <span class="NUMIMG"><%-NUMIMG%></span></li>
        <li>Step Size: <span class="boxx"></span>&mu;m x <span class="boxy"></span>&mu;m</li>
        <li>Steps: <span class="stepx"></span>x<span class="stepy"></span></li>
        
        <li>
            Point: <span class="img"></span>
            Value: <span class="val"></span>
        </li>

        <li class="comment" title="Click to edit the comment for this data collection">Comment: <span class="COMMENTS"><%-COMMENTS%></span></li>
        <% if (RUNSTATUS && !RUNSTATUS.match(/success/i)) { %><li>Status: <b><%-RUNSTATUS%></b></li><% } %>
    </ul>
</div>
