
    <td name="LOCATION"><%-LOCATION%></td>
    <td><select name="CRYSTALID"></select></td>

    <% if (CRYSTALID == -1) { %>
    <td colspan="9">&nbsp;</td>

    <% } else { %>
    <td><%-NAME%></td>
    <td><%-ACRONYM%></td>
    <td><%-PACKINGFRACTION%></td>
    <td><%-EXPERIMENTALDENSITY%></td>
    <td><%-SEQUENCE%></td>
    <td><%-COMMENTS%></td>
    <td><%-LOOPTYPE=='1'?'Yes':'No'%></td>

    <td>
        <% if (BLSAMPLEID && STATUS) { %>
        <ul class="status">
            <li class="<%-STATUS%>"></li>
        </ul>
        <% } %>
    </td>
    <td><%-DCPCOUNT%></td>

    <% } %>
    <td>
        <a href="#" class="button button-notext clear"><i class="fa fa-times"></i> <span>Clear</span></a>
    </td>
