<a href="#" class="locked button"><i class="fa fa-lock"></i></a>
<table>
    <tr>
        <td class="renderable">Beamsize: </td>
        <td class="renderable">x: <%-BEAMSIZEXMIN%> - <%-BEAMSIZEXMAX%>  y: <%-BEAMSIZEYMIN%> - <%-BEAMSIZEYMAX%></td>
        <td class="renderable">&micro;m</td>
    </tr>
    <tr>
        <td class="renderable">Boxsize: </td>
        <td class="renderable">x: <%-BOXSIZEXMIN%> - <%-BOXSIZEXMAX%>  y: <%-BOXSIZEYMIN%> - <%-BOXSIZEYMAX%></td>
        <td class="renderable">&micro;m</td>
    </tr>
    <tr>
        <td class="renderable">&Omega;: </td>
        <td class="renderable"><%-OMEGAMIN%> - <%-OMEGAMAX%></td>
        <td class="renderable">&deg;</td>
    </tr>
    <tr>
        <td class="renderable">&Kappa;: </td>
        <td class="renderable"><%-KAPPAMIN%> - <%-KAPPAMAX%></td>
        <td class="renderable">&deg;</td>
    </tr>
    <tr>
        <td class="renderable">&Phi;: </td>
        <td class="renderable"><%-PHIMIN%> - <%-PHIMAX%></td>
        <td class="renderable">&deg;</td>
    </tr>
    <tr>
        <td class="renderable">Axis Osc Range: </td>
        <td class="renderable"><%-GONIOSTATMINOSCILLATIONWIDTH%> - <%-GONIOSTATMAXOSCILLATIONWIDTH%></td>
        <td class="renderable">&deg;</td>
    </tr>
    <tr>
        <td class="renderable">Exposure Time: </td>
        <td class="renderable"><%-MINEXPOSURETIMEPERIMAGE%> - <%-MAXEXPOSURETIMEPERIMAGE%></td>
        <td class="renderable">s</td>
    </tr>
    <tr>
        <td class="renderable">Number of Images: </td>
        <td class="renderable"><%-NUMBEROFIMAGESMIN%> - <%-NUMBEROFIMAGESMAX%></td>
        <td class="renderable">s</td>
    </tr>
    <tr>
        <td class="renderable">Energy: </td>
        <td class="renderable"><%-ENERGYMIN%> - <%-ENERGYMAX%></td>
        <td class="renderable">eV</td>
    </tr>
    <tr>
        <td class="renderable">Transmission: </td>
        <td class="renderable"><%-MINTRANSMISSION%> - <%-MAXTRANSMISSION%></td>
        <td class="renderable">%</td>
    </tr>
    <tr>
        <td class="renderable">Monochromator Bandwidth: </td>
        <td class="renderable"><%-MONOBANDWIDTHMIN%> - <%-MONOBANDWIDTHMAX%></td>
        <td class="renderable">&deg;</td>
    </tr>
    <tr>
        <td class="renderable">Spherical Aberration: </td>
        <td class="renderable"><%-CS%></td>
        <td class="renderable">&nbsp;</td>
    </tr>
</table>
