<a href="#" class="unlocked button"><i class="fa fa-unlock"></i></a>
<table>
    <tr>
        <td class="renderable">Beamsize: </td>
        <td class="renderable">
            x: <input type="text" name="BEAMSIZEXMIN" value="<%-BEAMSIZEXMIN%>" /> - <input type="text" name="BEAMSIZEXMAX" value="<%-BEAMSIZEXMAX%>" />  <br /> 
            y: <input type="text" name="BEAMSIZEYMIN" value="<%-BEAMSIZEYMIN%>" /> - <input type="text" name="BEAMSIZEYMAX" value="<%-BEAMSIZEYMAX%>" />
        </td>
        <td class="renderable">&micro;m</td>
    </tr>
    <tr>
        <td class="renderable">Boxsize: </td>
        <td class="renderable">
            x: <input type="text" name="BOXSIZEXMIN" value="<%-BOXSIZEXMIN%>" /> - <input type="text" name="BOXSIZEXMAX" value="<%-BOXSIZEXMAX%>" /> <br > 
            y: <input type="text" name="BOXSIZEYMIN" value="<%-BOXSIZEYMIN%>" /> - <input type="text" name="BOXSIZEYMAX" value="<%-BOXSIZEYMAX%>" />
        </td>
        <td class="renderable">&micro;m</td>
    </tr>
    <tr>
        <td class="renderable">&Omega;: </td>
        <td class="renderable"><input type="text" name="OMEGAMIN" value="<%-OMEGAMIN%>" /> - <input type="text" name="OMEGAMAX" value="<%-OMEGAMAX%>" /></td>
        <td class="renderable">&deg;</td>
    </tr>
    <tr>
        <td class="renderable">&Kappa;: </td>
        <td class="renderable"><input type="text" name="KAPPAMIN" value="<%-KAPPAMIN%>" /> - <input type="text" name="KAPPAMAX" value="<%-KAPPAMAX%>" /></td>
        <td class="renderable">&deg;</td>
    </tr>
    <tr>
        <td class="renderable">&Phi;: </td>
        <td class="renderable"><input type="text" name="PHIMIN" value="<%-PHIMIN%>" /> - <input type="text" name="PHIMAX" value="<%-PHIMAX%>" /></td>
        <td class="renderable">&deg;</td>
    </tr>
    <tr>
        <td class="renderable">Axis Osc Range: </td>
        <td class="renderable"><input type="text" name="GONIOSTATMINOSCILLATIONWIDTH" value="<%-GONIOSTATMINOSCILLATIONWIDTH%>" /> - <input type="text" name="GONIOSTATMAXOSCILLATIONWIDTH" value="<%-GONIOSTATMAXOSCILLATIONWIDTH%>" /></td>
        <td class="renderable">&deg;</td>
    </tr>
    <tr>
        <td class="renderable">Exposure Time: </td>
        <td class="renderable"><input type="text" name="MINEXPOSURETIMEPERIMAGE" value="<%-MINEXPOSURETIMEPERIMAGE%>" /> - <input type="text" name="MAXEXPOSURETIMEPERIMAGE" value="<%-MAXEXPOSURETIMEPERIMAGE%>" /></td>
        <td class="renderable">s</td>
    </tr>
    <tr>
        <td class="renderable">Number of Images: </td>
        <td class="renderable"><input type="text" name="NUMBEROFIMAGESMIN" value="<%-NUMBEROFIMAGESMIN%>" /> - <input type="text" name="NUMBEROFIMAGESMAX" value="<%-NUMBEROFIMAGESMAX%>" /></td>
        <td class="renderable">s</td>
    </tr>
    <tr>
        <td class="renderable">Energy: </td>
        <td class="renderable"><input type="text" name="ENERGYMIN" value="<%-ENERGYMIN%>" /> - <input type="text" name="ENERGYMAX" value="<%-ENERGYMAX%>" /></td>
        <td class="renderable">eV</td>
    </tr>
    <tr>
        <td class="renderable">Transmission: </td>
        <td class="renderable"><input type="text" name="MINTRANSMISSION" value="<%-MINTRANSMISSION%>" /> - <input type="text" name="MAXTRANSMISSION" value="<%-MAXTRANSMISSION%>" /></td>
        <td class="renderable">%</td>
    </tr>
    <tr>
        <td class="renderable">Monochromator Bandwidth: </td>
        <td class="renderable"><input type="text" name="MONOBANDWIDTHMIN" value="<%-MONOBANDWIDTHMIN%>" /> - <input type="text" name="MONOBANDWIDTHMAX" value="<%-MONOBANDWIDTHMAX%>" /></td>
        <td class="renderable">%</td>
    </tr>
    <tr>
        <td class="renderable">Spherical Aberration: </td>
        <td class="renderable"><input type="text" name="CS" value="<%-CS%>" /></td>
        <td class="renderable">&nbsp;</td>
    </tr>
</table>
