<h1>Imaging Dashboard</h1>

<p class="help"></p>

<div class="filter filter-nohide">
    <ul class="clearfix">
        <li class="current"><a href="/admin/imaging">Dashboard</a></li>
        <li><a href="/admin/imaging/schedule">Imaging Schedules</a></li>
        <li><a href="/imaging/screen">Crystallisation Screens</a></li>
        <li><a href="/admin/imaging/preset">Global Presets</a></li>
        <li><a href="/admin/imaging/param">Beamline Parameters</a></li>
    </ul>
</div>

<h1>Imager Status</h1>
<div class="imagers"></div>

<div class="ctrs"></div>

<h1>Inspections</h1>
<div class="inspection_filter filter"></div>
<div class="inspections"></div>