<table>
	<tr>
		<td class="renderable">Beam Size</td>
		<td class="renderable"><input type="text" name="PREFERREDBEAMSIZEX" value="<%-PREFERREDBEAMSIZEX%>" />x <input type="text" name="PREFERREDBEAMSIZEY"  value="<%-PREFERREDBEAMSIZEY%>" />y &micro;m</td>
	</tr>
	<tr class="">
		<td class="renderable">Energy (ev)</td>
		<td class="renderable"><input type="text" name="ENERGY" value="<%-ENERGY%>" /></td>
	</tr>
	<tr>
		<td class="renderable">&Omega; Range</td>
		<td class="renderable"><input type="text" name="AXISRANGE" value="<%-AXISRANGE%>" /> &deg;</td>
	</tr>
	<tr>
		<td class="renderable">Transmission</td>
		<td class="renderable"><input type="text" name="TRANSMISSION" value="<%-TRANSMISSION%>" /> %</td>
	</tr>
	<tr>
		<td class="renderable">Exposure</td>
		<td class="renderable"><input type="text" name="EXPOSURETIME" value="<%-EXPOSURETIME%>" /> s</td>
	</tr>
</table>
