<h1>Prepare Container for Data Collection</h1>

<p class="help">This pages allows you to queue samples in a container for data collection</p>

<p class="message alert unqueuebutton">
    <% if (['disposed', 'in_storage', null].indexOf(CONTAINERSTATUS) > -1) { %>
        This container is queued for data collection, you can not modify it without unqueuing it
        <a href="#" class="button unqueue"><i class="fa fa-times"></i> Unqueue</a>
    <% } else { %>
        This container is en route for data collection, it cannot be unqueued.
    <% } %>
</p>

<div class="clearfix xtalpreview">
    <div class="image right"></div>
    <div class="left">
        <div class="form">
            <ul>
                <li>
                    <span class="label">Container</span>
                    <span class="NAME"><%-NAME%></span>
                </li>

                <li>
                    <span class="label">Type</span>
                    <span class="CONTAINERTYPE"><%-CONTAINERTYPE%></span>
                </li>
            </ul>
        </div>

        <h2>Available Samples</h2>
        <div class="filter">
            <span class="r">
                <a href="#" class="button addpage"><i class="fa fa-plus"></i> <span>Add Current Page to Queue</span></a>
                <a href="#" class="button addall"><i class="fa fa-plus"></i> <span>Add All to Queue</span></a>
            </span>
            <ul>
                <li><label><input type="checkbox" name="nodata" /> Without Data</label></li>
                <li><label><input type="checkbox" name="notcompleted" /> Not Completed</label></li>
            </ul>
        </div>
        <div class="filter">
            <div class="filter filter-nohide afilt"></div>
        </div>
        <div class="asamples"></div>
    </div>
</div>

<h2>Queued Samples</h2>

<div class="filter">
<span class="r">
<a href="#" class="button unqueuesel" title="Remove the selected samples from the queue"><i class="fa fa-minus"></i> Unqueue Selected</a>
<a href="#" class="button unqueueall" title="Remove all samples from the queue"><i class="fa fa-minus"></i> Unqueue All</a>
</span></div>
<div>
<span class="r rpreset">
Presets: <select name="preset"></select>
<a href="#" class="button apply" title="Apply this preset to the selected samples"><i class="fa fa-check-square-o"></i> Apply to Selected</a>
<a href="#" class="button applyall" title="Apply this preset to all samples"><i class="fa fa-file-text-o"></i> Apply to All</a>
</span>
<span class="filter filter-nohide qfilt"></span>
</div>
<div class="qsamples"></div>

<span class="queuebutton">
<h2>Queue Plate</h2>
<p>Queuing the container will make the queued items immutable, please make sure you have added all sub samples, and that they have valid experimental plans</p>
<div class="form">
    <button name="submit" value="1" type="submit" class="button submit">Queue Container</button>
</div>
</span>

