<h1>Imaging Schedule: <span class="NAME"><%-NAME%></span></h1>

<p class="help">This page lists details for the selected imaging schedule.</p>

<div class="ra"><a href="#" class="add button" title="Click to add a new schedule component"><i class="fa fa-plus"></i> Add Component</a></div>
<div class="table">
    <table class="scomponents">
        <thead>
            <tr>
                <th>Offset Hours</th>
                <th>Inspection Type</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        
        <tbody></tbody>
    </table>
</div>