<h1>Crystallisation Screen</h1>

<p class="help">This page lists details for the selected crystallisation screen.</p>

<div class="form">
    <ul>

        <li>
            <span class="label">Name</span>
            <span class="NAME"><%-NAME%></span>
        </li>

        <li>
            <span class="label">Global</span>
            <span class="GLOBAL"><%-GLOBAL == 1 ? 'Yes' : 'No' %></span>
        </li>

        <li>
            <span class="label">Capacity</span>
            <span class="CAPACITY"><%-CAPACITY%></span>
        </li>

    </ul>

</div>

<div class="clearfix">

    <div class="left group"></div>
    <div class="right">
        <h2>Position</h2>
        <div class="plate filter"></div>
    </div>

</div>

<div class="form">
    <button name="submit" value="1" type="submit" class="button submit"><i class="fa fa-plus"></i> Save All</button>
</div>