<h1>Subsample Experiment Plan</h1>

<p class="help">This page lists the experiment details for the selected sub sample.</p>

<div class="form">
    <ul>

        <li>
            <span class="label">Position</span>
            <span class="POSITION"></span>
        </li>

        <li>
            <span class="label">X</span>
            <span class="X"><%-X%></span>
        </li>

        <li>
            <span class="label">Y</span>
            <span class="Y"><%-Y%></span>
        </li>

        <li>
            <span class="label">Comments</span>
            <span class="COMMENTS"><%-COMMENTS%></span>
        </li>


        <li>
            <span class="label">Preset</span>
            <span>
                <select name="preset"></select> 
                <a href="#" class="button apply"><i class="fa fa-plus"></i> <span>Apply</span></a>
                <a href="#" class="button save"><i class="fa fa-save"></i> <span>Save As</span></a>
            </span>
        </li>

        <li>
            <span class="label">Experiment Type</span>
            <span class="EXPERIMENTKIND"><%-EXPERIMENTKIND%></span>
        </li>

        <li>
            <span class="label">Wavelength</span>
            <span class="WAVELENGTH"><%-WAVELENGTH%></span>&#197;
        </li>

        <li>
            <span class="label">Transmission</span>
            <span class="TRANSMISSION"><%-TRANSMISSION%></span>%
        </li>


        <li>
            <span class="label">Exposure Time</span>
            <span class="EXPOSURETIME"><%-EXPOSURETIME%></span>s
        </li>

        <li>
            <span class="label">Resolution</span>
            <span class="REQUIREDRESOLUTION"><%-REQUIREDRESOLUTION%></span>&#197;
        </li>

        <li>
            <span class="label">Beam Size</span>
            
            X: <span class="PREFERREDBEAMSIZEX"><%-PREFERREDBEAMSIZEX%></span>&micro;m
            Y: <span class="PREFERREDBEAMSIZEY"><%-PREFERREDBEAMSIZEY%></span>&micro;m
        </li>


        <li class="grid">
            <span class="label">Box Size</span>
            
            Width: <span class="BOXSIZEX"><%-BOXSIZEX%></span>
            Height: <span class="BOXSIZEY"><%-BOXSIZEY%></span>
        </li>


        <li class="data">
            <span class="label">Number of Images</span>
            <span class="NUMBEROFIMAGES"><%-NUMBEROFIMAGES%></span>
        </li>

        <li class="data">
            <span class="label">Omega Start</span>
            <span class="AXISSTART"><%-AXISSTART%></span>&deg;
        </li>

        <li class="data">
            <span class="label">Omega Range</span>
            <span class="AXISRANGE"><%-AXISRANGE%></span>&deg;
        </li>

        <li class="data">
            <span class="label">Kappa Start</span>
            <span class="KAPPASTART"><%-KAPPASTART%></span>&deg;
        </li>

    </ul>

</div>
