<h1>Projects</h1>

<p class="help">This page lists all projects associated with the currently selected proposal.</p>

<p class="help">Projects allow you to group data collections, proteins, and samples into a single place</p>

<div class="ra"><a href="#" class="add button" title="Click to add a new project to this proposal"><i class="fa fa-plus"></i> Add Project</a></div>


<div class="table">
    <table class="projects reflow">
        <thead>
            <tr>
                <th>Name</th>
                <th>Acronym</th>
                <th>Owner</th>
            </tr>
        </thead>
        
        <tbody></tbody>
    </table>
</div>