h1,h2 {
    margin-top: 0;
}

p {
    margin-top:0;
}

.header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 16px;
}

.mono {
    font-family: courier;
    letter-spacing: 5px;
}

.red {
    color: red;
}

.right {
    float: right;
}

.left {
    float: left;
}

.large {
    font-size: 20px;
}

.normal {
    font-size: 16px;
}

.small,
table.small tr th,
table.small tr td {
    font-size: 11px;
}

table.border {
    border-collapse: collapse;
}

table.border tr th,
table.border tr td {
    border: 1px solid #000;
    padding: 3px;
}

table.pad tr td {
    padding: 9px;
}

table tr.dc td {
    background: #efefef;
}

table tr th {
    background: #cdcdcd;
}

.ca {
    text-align: center;
}

.center {
    margin: auto;
}

.thirty {
    width: 30%;
}

.eighty {
    width: 70%;
}

.hund {
    width: 100%;
}

.sixty {
    width: 60%
}

.px150 {
    width: 150px;
}

.px500 {
    width: 500px;
}

.pad-left {
    padding-left: 80px;
}

.pad {
    padding: 15px;
}

table {
    margin-top: 10px;
}

.grey {
    background: #dedede;
}

.border {
    border: 1px solid;
    padding: 15px;
}

ol {
    margin-left: 25px;
}

.bold {
    font-weight: bold;
}

.notification {
    margin: 10px;
    border: 3px solid green;
    border-radius: 5px;
}

.notification p {
    margin-bottom: 0;
}

.notification h1 {
    font-size: 22px;
    margin: 3px;
    border-bottom: 1px solid black;
}

.notification-inline {
    margin: 0 5px 5px 5px;
    padding: 5px 5px 0 5px;
    font-size: 12px;
    border: 1px solid green;
}

.notification-inline h1 {
    margin: 0;
    font-size: 14px;
    border-bottom: none;
}
