<ul class="full clearfix">
    <li>Started: <%-info.ST%></li>
    <li>Ended: <%-info.EN%></li>
    <li>Beamline: <%-info.BL%></li>
    <li>Length: <%-info.LEN%> hours</li>

    <li>Last Data: <%-info.LAST%></li>

    <li>Data Collections: <%-info.DC_TOT%> (<span title="Full Data Collections"><%-info.DC_FULL%></span> / <span title="Screenings"><%-info.DC_SCREEN%></span> / <span title="Grid Screens"><%-info.DC_GRID%></span>)</li>
    <li>Collections Stopped: <%-info.DC_STOPPED%></li>
    <li>Energy Scans: <%-info.E_TOT%></li>
    <li>MCA Spectra: <%-info.FL_TOT%></li>
    <li>Samples Loaded: <%-info.R_TOT%></li>
</ul>