<div class="filter filter-nohide">
    <ul class="clearfix">
        <li title="View BAG Overview" class="current"><a href="/stats/overview">BAGs</a></li>
        <li title="View Beamlines Overview"><a href="/stats/overview/beamlines">Beamlines</a></li>
    </ul>
</div>

<h1>BAG Overview</h1>
<p class="help">This page shows BAG overview statistics for the selected time period</p>

<div class="filter">
    <ul>
        <li>Run:
            <select name="runid"></select>
        </li>
        <li>
            <label>
                <input type="checkbox" name="scheduled" /> Scheduled Visits Only
            </label>
        </li>
    </ul>
</div>
<div class="filter type"></div>
<div class="filter type2"></div>
<div class="wrapper"></div>
<a href="#" class="button download"><i class="fa fa-download"></i> Download</a>
