<h1>Prepare Experiment Plans</h1>

<p class="help">This pages allows you to define experiment plans for instances in a parcel</p>

<div class="clearfix">
    <div class="left">
        <div class="form">
            <ul>
                <li>
                    <span class="label">Stage</span>
                    <span class="NAME"><%-NAME%></span>
                </li>

                <li>
                    <span class="label">Type</span>
                    <span class="CONTAINERTYPE"><%-CONTAINERTYPE%></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="right">
        <h2>Available Instances</h2>
        <div class="asamples"></div>
    </div>
</div>

<h2>Instances with Experimental Plans</h2>
<div class="filter filter-nohide qfilt"></div>
<div class="psamples"></div>
