<table>
    <tr>
        <td class="renderable">Start</td>
        <td class="renderable"><input type="text" name="START" value="<%-START%>" /></td>
    </tr>
    <tr>
        <td class="renderable">Stop</td>
        <td class="renderable"><input type="text" name="STOP" value="<%-STOP%>" /></td>
    </tr>
    <tr>
        <td class="renderable">Step</td>
        <td class="renderable"><input type="text" name="STEP" value="<%-STEP%>" /></td>
    </tr>
    <tr>
        <td class="renderable">Array</td>
        <td class="renderable"><input type="text" name="ARRAY" value="<%-ARRAY%>" /></td>
    </tr>
</table>
