<table>
    <tr>
        <td class="renderable">Exposure Time</td>
        <td class="renderable"><input type="text" name="EXPOSURETIME" value="<%-EXPOSURETIME%>" /> s</td>
    </tr>
    <tr>
        <td class="renderable">Distance</td>
        <td class="renderable"><input type="text" name="DISTANCE" value="<%-DISTANCE%>" /> mm</td>
    </tr>
    <tr class="">
        <td class="renderable">Roll</td>
        <td class="renderable"><input type="text" name="ROLL" value="<%-ROLL%>" />
    </tr>
</table>
