
    <h1>Login</h1>

    <form method="post">

        <ul>
            <li class="tw-flex-col md:tw-flex-row tw-mb-4">
                <label class="md:tw-w-1/3 tw-p-2 tw-text-left md:tw-text-right">Username (FedID)</label>
                <input class="tw-rounded tw-border tw-border-gray-500 tw-w-64 tw-p-2" type="text" name="login" />
            </li>

            <li class="tw-flex-col md:tw-flex-row tw-mb-4">
                <label class="md:tw-w-1/3 tw-p-2 tw-text-left md:tw-text-right">Password</label>
                <input class="tw-rounded tw-border tw-border-gray-500 tw-w-64 tw-p-2" type="password" name="password" />
            </li>

            <li class="tw-flex-col md:tw-flex-row tw-mb-4">
                <div class="md:tw-w-1/3 tw-px-2"></div>
                <button name="submit" value="1" type="submit" class="button submit tw-border tw-border-gray-500 tw-w-64 tw-py-2">Login</button>
            </li>
        </ul>

    </form>
