    <h1>Add New Proposal</h1>

    <form method="post">

    <div class="form">
        <ul>

            <li>
                <label>Code
                    <span class="small">Proposal code usually indicating type of proposal</span>
                </label>
                <input type="text" name="PROPOSALCODE" />
            </li>

            <li>
                <label>Number
                    <span class="small">Unique proposal number</span>
                </label>
                <input type="text" name="PROPOSALNUMBER" />
            </li>


            <li>
                <label>Title
                    <span class="small">The propsoal title</span>
                </label>
                <input type="text" name="TITLE" />
            </li>

            <li>
                <label>Primary Investigator
                    <span class="small">The proposal PI</span>
                </label>
                <!-- <select name="PERSONID"></select> -->
                <input name="PERSONID" />
            </li>

            <button name="submit" value="1" type="submit" class="button submit">Add Proposal</button>

        </ul>
    </div>

    </form>
