    <h1>Add New User</h1>

    <form method="post">

    <div class="form">
        <ul>

            <li>
                <label>Login
                    <span class="small">Authentication login</span>
                </label>
                <input type="text" name="LOGIN" />
            </li>

            <li>
                <label>First Name</label>
                <input type="text" name="GIVENNAME" />
            </li>


            <li>
                <label>Family Name</label>
                <input type="text" name="FAMILYNAME" />
            </li>

            <li>
                <label>Email Address</label>
                <input type="text" name="EMAILADDRESS" />
            </li>

            <button name="submit" value="1" type="submit" class="button submit">Add User</button>

        </ul>
    </div>

    </form>
