    <h1>View User</h1>

    <form method="post">

    <div class="form">
        <ul>

            <li>
                <span class="label">Login</span>
                <span class="LOGIN"><%-LOGIN%></span>
            </li>

            <li>
                <span class="label">First Name</span>
                <span class="GIVENNAME"><%-GIVENNAME%></span>
            </li>

            <li>
                <span class="label">Family Name</span>
                <span class="FAMILYNAME"><%-FAMILYNAME%></span>
            </li>

            <li>
                <span class="label">Email Address</span>
                <span class="EMAILADDRESS"><%-EMAILADDRESS%></span>
            </li>

        </ul>
    </div>

    </form>
