<h1>View Ligand</h1>

<p class="help">This page shows details for the selected ligand and a list of samples which make use of it</p>

<div class="form">
    <ul>
        <li>
            <span class="label">Acronym</span>
            <span class="ACRONYM"><%=ACRONYM%></span>
        </li>
        
        <li>
            <span class="label">IUPAC</span>
            <span class="IUPAC"><%=IUPAC%></span>
        </li>

        <li>
            <span class="label">Smiles</span>
            <span class="SMILES"><%=SMILES%></span>
        </li>
        
    </ul>
    
</div>

<div class="samples"></div>
<div class="datacollections"></div>
