<a href="#" class="locked button"><i class="fa fa-lock"></i></a>
<table>
    <tr>
        <td class="renderable">Distance: </td>
        <td class="renderable"><%-DETECTORDISTANCEMIN%> - <%-DETECTORDISTANCEMAX%></td>
        <td class="renderable">mm</td>
    </tr>
    <tr>
        <td class="renderable">Resolution: </td>
        <td class="renderable"><%-DETECTORMAXRESOLUTION%> - <%-DETECTORMINRESOLUTION%></td>
        <td class="renderable">&#197;</td>
    </tr>
    <tr>
        <td class="renderable">Roll: </td>
        <td class="renderable"><%-DETECTORROLLMIN%> - <%-DETECTORROLLMAX%></td>
        <td class="renderable">&deg;</td>
    </tr>
    <tr>
        <td class="renderable">Pixel Size: </td>
        <td class="renderable"><%-DETECTORPIXELSIZEHORIZONTAL%> x <%-DETECTORPIXELSIZEVERTICAL%></td>
        <td class="renderable">&micro;m</td>
    </tr>
    <tr>
        <td class="renderable">Number of Pixels</td>
        <td class="renderable"><%-NUMBEROFPIXELSX%> x <%-NUMBEROFPIXELSY%></td>
        <td class="renderable"></td>
    </tr>
</table>
