

    <h1>Add New Container Inspection</h1>

    <form method="post">

    <div class="form">
        <ul>


            <li>
                <label>Inpsection Type
                    <span class="small">Type of container inspection</span>
                </label>
                <select name="INSPECTIONTYPEID"></select>
            </li>

            <li>
                <label>Temperature
                    <span class="small">Temperature of the container</span>
                </label>
                <input type="text" name="TEMPERATURE" />
            </li>


            <li>
                <label>Time / Date
                    <span class="small">Time / Date the inspection was conducted</span>
                </label>
                <input type="text" name="BLTIMESTAMP" />
            </li>

            <button name="submit" value="1" type="submit" class="button submit">Add Container Inspection</button>


        </ul>
    </div>

    </form>

