<div class="filter filter-nohide">
    <ul class="clearfix">
        <li><a href="/admin/imaging">Dashboard</a></li>
        <li><a href="/admin/imaging/schedule">Imaging Schedules</a></li>
        <li><a href="/imaging/screen">Crystallisation Screens</a></li>
        <li class="current"><a href="/admin/imaging/preset">Global Presets</a></li>
        <li><a href="/admin/imaging/param">Beamline Parameters</a></li>
    </ul>
</div>


<h1>Global Presets</h1>

Global presets are currently being saved into &quot;<%-PRESETPROPOSAL%>&quot;

<a href="#" class="button r add"><i class="fa fa-plus"></i> <span>Add Preset</span></a>
<div class="presets"></div>