<h1>Queue Container for Data Collection</h1>

<p class="help">This pages allows you to queue a container for data collection</p>

<div class="form">
    <ul>
        <li>
            <span class="label">Container</span>
            <span class="NAME"><%=NAME%></span>
        </li>

        <li>
            <span class="label">Type</span>
            <span class="CONTAINERTYPE"><%=CONTAINERTYPE%></span>
        </li>
    </ul>
</div>

<h2>Marked Samples</h2>
<p class="help">Data will only be collected for samples with a defined experiment plan</p>
<div class="subsamples"></div>

<div class="form">
    <button name="submit" value="1" type="submit" class="button submit">Queue Container</button>
</div>
