<table>
	<tr class="">
		<td class="renderable">Box Size</td>
		<td class="renderable"><input type="text" name="BOXSIZEX" value="<%-BOXSIZEX%>" /> x <input type="text" name="BOXSIZEY"  value="<%-BOXSIZEY%>" /></td>
	</tr>
	<tr>
		<td class="renderable">&Omega; Range</td>
		<td class="renderable"><input type="text" name="AXISRANGE" value="<%-AXISRANGE%>" /></td>
	</tr>
		<td class="renderable">Energy</td>
		<td class="renderable"><input type="text" name="ENERGY" value="<%-ENERGY%>" /> ev</td>
	</tr>
	<tr>
		<td class="renderable">Transmission</td>
		<td class="renderable"><input type="text" name="TRANSMISSION" value="<%-TRANSMISSION%>" /> %</td>
	</tr>
	<tr>
		<td class="renderable">Exposure</td>
		<td class="renderable"><input type="text" name="EXPOSURETIME" value="<%-EXPOSURETIME%>" /> s</td>
	</tr>
	<tr>
		<td class="renderable">Resolution</td>
		<td class="renderable"><input type="text" name="REQUIREDRESOLUTION" value="<%-REQUIREDRESOLUTION%>" /> &#197;</td>
	</tr>
</table>
