<table>
	<tr>
		<td class="renderable">Beam Size</td>
		<td class="renderable"><input type="text" name="PREFERREDBEAMSIZEX" value="<%-PREFERREDBEAMSIZEX%>" />x <input type="text" name="PREFERREDBEAMSIZEY"  value="<%-PREFERREDBEAMSIZEY%>" />y &micro;m</td>
	</tr>
	<tr>
		<td class="renderable">No. Images</td>
		<td class="renderable"><input type="text" name="NUMBEROFIMAGES" value="<%-NUMBEROFIMAGES%>" /></td>
	</tr>
	<tr>
		<td class="renderable">&Omega; Start</td>
		<td class="renderable"><input type="text" name="AXISSTART" value="<%-AXISSTART%>" /> &deg;</td>
	</tr>
	<tr>
		<td class="renderable">&Omega; Range</td>
		<td class="renderable"><input type="text" name="AXISRANGE" value="<%-AXISRANGE%>" /> &deg;</td>
	</tr>
	<tr>
		<td class="renderable">&Omega; End</td>
		<td class="renderable"><input type="text" name="AXISEND" value="" disabled="disabled" /> &deg;</td>
	</tr>
	<tr>
		<td class="renderable">Energy</td>
		<td class="renderable"><input type="text" name="ENERGY" value="<%-ENERGY%>" /> ev</td>
	</tr>
	<tr>
		<td class="renderable">Transmission</td>
		<td class="renderable"><input type="text" name="TRANSMISSION" value="<%-TRANSMISSION%>" /> %</td>
	</tr>
	<tr>
		<td class="renderable">Exposure</td>
		<td class="renderable"><input type="text" name="EXPOSURETIME" value="<%-EXPOSURETIME%>" /> s</td>
	</tr>
	<tr>
		<td class="renderable">Resolution</td>
		<td class="renderable"><input type="text" name="REQUIREDRESOLUTION" value="<%-REQUIREDRESOLUTION%>" /> &#197;</td>
	</tr>
</table>
