<h1>Imaging Schedules</h1>

<p class="help">This page lists all available imaging schedules.</p>

<div class="ra"><a href="#" class="add button" title="Click to add a new schedule"><i class="fa fa-plus"></i> Add Schedule</a></div>


<div class="table">
    <table class="schedules">
        <thead>
            <tr>
                <th>Name</th>
                <th># Components</th>
                <th># Containers</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        
        <tbody></tbody>
    </table>
</div>