<h1>Crystallisation Screens</h1>

<p class="help">This page lists all available crystallisation screens.</p>

<div class="ra"><a href="#" class="add button" title="Click to add a new screen"><i class="fa fa-plus"></i> Add Screen</a></div>


<div class="table">
    <table class="schedules">
        <thead>
            <tr>
                <th>Name</th>
                <th>Global</th>
                <th># Groups</th>
                <th># Components</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        
        <tbody></tbody>
    </table>
</div>

<div class="page_wrap"></div>
