// Body
$body-background: #000000;
$body-color: #000000;



// Default Links
$link-color: #666666;
$link-hover-color: #222222;



// Sidebar
$sidebar-grad-start: rgb(247,247,247);
$sidebar-grad-end: rgb(240,240,240);
$sidebar-border: #e2e2e2;
$sidebar-hover-background: #f9f9f9;
$sidebar-hover-dark-background: #ededed;

$sidebar-mobile-color: #ffffff;
$sidebar-mobile-background: rgb(92,92,92);
$sidebar-mobile-border-top: #3e3e3e;
$sidebar-mobile-border-bottom: #717171;
$sidebar-mobile-active-background: rgb(115,115,115);
$sidebar-mobile-hover-background: rgb(105,105,105);



// Header
$header-background: #2c2c2c;
$header-color: #666666;
$header-hover-color: #cdcdcd;

// Header Menu
$header-menu-color: #dddddd;
$header-menu-hover: #ffffff;

// Header Breadcrumbs
$header-bc-background: #474747;
$header-bc-color: #dbdbdb;
$header-bc-hover: #ffffff;



// Footer
$footer-background: #000000;
$footer-color: #efefef;
$footer-hover-color: #efefef;


// Content
$content-background: #f4f4f4;
$content-border: #e2e2e2;
$content-fill-color: #efefef;

$content-header-color: #000000;
$content-header-border: grey;

$content-log-background: #ededed;
$content-log-title-color: #838383;

$content-search-background: #cdcdcd;

$content-highlight: #ffffff;
$content-page-background: #ededed;
$content-page-selected-background: #cdcdcd;
$content-page-color: $link-color;
$content-page-hover-color: $link-hover-color;

$content-main-background: #efefef;

$content-sub-header-background: #afafaf;
$content-sub-header-hover-background: #cdcdcd;
$content-sub-background: #ffffff;
$content-sub-hover-background: #fbfbfb;

$content-inlay-background: #dadada;

$content-filter-background: #dfdfdf;
$content-filter-current-background: #efefef;
$content-filter-color: #000000;

$content-active: #82d180;
$content-inactive: #f26c4f;
$content-minor: yellow;

$content-light-background: #ebebeb;
$content-dark-background: #dedede;

$content-cal-header-background: #cecece;
$content-cal-background: #eeeeee;
$content-cal-hl1-background: #dfdfdf;
$content-cal-hl2-background: #f3f3f3;

$content-help-background: #000000;
$content-help-color: #e2e2e2;


// Tables
$table-header-color: #f1f1f1;
$table-header-background: #474747;

$table-header-light-background: #efefef;
$table-header-light-color: #000000;

$table-body-background: $table-header-color;
$table-body-background-odd: #ebebeb;
$table-body-color: #000000;

$table-row-hover-background: #dedede;

$table-footer-background: #dfdfdf;

$table-page-background: $table-header-background;
$table-pages-color: #efefef;

$table-pages-active-background: transparent;
$table-pages-active-color: $table-page-background;
$table-pages-disable-color: #ababab;


// Plot
$plot-legend-background: #dddddd;



// Editable
$editable-hover-background: #cdcdcd;




$theme1: #293e6a;
$theme2: #3b5998;
$theme3: #74aaf7;
$theme4: #77ba9b;
$theme5: #b6a754;



$theme1: #001528;
$theme2: #005259;
$theme3: #5f8a83;
$theme4: #f4e7Ba;
$theme5: #d9bf98;


// werkpress
$theme1: #e45f56;
$theme2: #a3d39c;
$theme3: #7accc8;
$theme4: #4aaaa5;
$theme5: #35404f;


