
        <%- NAME %> (<%-SAMPLES%> samples)
        <% if (REQUESTEDIMAGERID) { %>
        	[Req: <%-REQUESTEDIMAGER%>]
        <% } %>
        <% if (IMAGERID) { %>
        	[Img: <%-IMAGER%>]
        <% } %>
        <span class="r">
            <a class="button button-notext print" title="Click to print container contents" href="<%-APIURL%>/pdf/container/cid/<%-CONTAINERID%>/prop/<%-PROP%>"><i class="fa fa-print"></i> <span>Print Container Report</span></a>
            <a class="button button-notext view" title="Click to View Container" href="/containers/cid/<%-CONTAINERID%>"><i class="fa fa-search"></i> <span>View Container</span></a>
            
            <a href="#" class="button button-notext move"><i class="fa fa-arrows"></i> <span>Move Container</span></a>
        </span>
