<h1>Review: <%-NAME%></h1>

<a name="top"></a>
<p class="help">This page shows the data collection and sample status of the selected container.</p>

<div class="form clearfix puck_wrap">
    <div class="puck" title="Click to jump to a position in the puck"></div>

    <ul>
        <li>
            <span class="label">Shipment</span>
            <span><a href="/shipments/sid/<%-SHIPPINGID%>"><%-SHIPMENT%></a></span>
        </li>

        <li>
            <span class="label">Dewar</span>
            <span><%-DEWAR%></span>
        </li>
        <li>
            <span class="label">Container Type</span>
            <span><%-CONTAINERTYPE%></span>
        </li>

        <li>
            <span class="label">Owner</span>
            <span class="OWNERID"><%-OWNER%></span>
        </li>

        <li>
            <span class="label">Registered Container</span>
            <span class="CONTAINERREGISTRYID"><%-REGISTRY%></span>
            <% if (CONTAINERREGISTRYID) { %><a class="crlink" href="/containers/registry/<%-CONTAINERREGISTRYID%>">[View]</a><% } %>
        </li>

    </ul>
</div>

<div class="rsamples"></div>
