<div class="messages"></div>

<h1 class="no_mobile">Add New Container</h1>

<div class="ra">
    <a class="button" href="/assign"><i class="fa fa-arrows"></i> <span>Assign Containers</span></a>
</div>

<p class="help">This page shows the contents of the selected container. Samples can be added and edited by clicking the pencil icon, and removed by clicking the x</p>

<div class="form clearfix puck_wrap">
    <form>
    <a href="#" class="button pf no_mobile" title="Paste container contents from clipboard"><i class="fa fa-paste"></i> Paste from Spreadsheet</a>
    <a name="top"></a>
    <div class="puck" title="Click to jump to a position in the puck"></div>
    
    <ul>
        <li>
            <span class="label">Shipment</span>
            <span><a href="/shipments/sid/<%-SHIPPINGID%>"><%-SHIPMENT%></a></span>
        </li>
        
        <li>
            <span class="label">Dewar</span>
            <span><%-DEWAR%></span>
        </li>
        <li>
            <label>Container Type</label>
            <select name="CONTAINERTYPE"></select>
        </li>
        <li>
            <label>Container Name</label>
            <input type="text" name="NAME" />
        </li>
        <li class="pck">
            <label>Registered Container</label>
            <select name="CONTAINERREGISTRYID"></select>
        </li>
        <li class="pck">
            <label>Automated Collection</label>
            <input type="checkbox" name="AUTOMATED" value="1" />
        </li>

        <li class="pcr plate">
            <label>Barcode</label>
            <input type="text" name="BARCODE" /> <span class="message"></span>
        </li>

        <li>
            <label>Owner
                <span class="small">This user will be emailed with container updates. Check your email is up to date!</span>
            </label>
            <select name="PERSONID"></select> <a href="#" class="button edit_user"><i class="fa fa-search"></i> View</a>
        </li>

        <li class="pcr">
            <label>Experiment Type
            </label>
            <select name="EXPERIMENTTYPE">
                <option value="">-</option>
                <option value="robot">Robot</option>
                <option value="hplc">HPLC</option>
            </select>
        </li>

        <li class="pcr">
            <label>Storage Temperature
            </label>
            <select name="STORAGETEMPERATURE">
                <option value="">-</option>
                <option value="-80">-80</option>
                <option value="0">-0</option>
                <option value="25">25</option>
            </select>
        </li>

        <li>
            <label>Comments
                <span class="small">Comment for the container</span>
            </label>
            <input type="text" name="COMMENTS" />
        </li>

        <li class="plate">
            <label>Requested Imager
                <span class="small">Imager this container should go into</span>
            </label>
            <select name="REQUESTEDIMAGERID"></select>
        </li>

        <li class="plate">
            <label>Imaging Schedule
                <span class="small">Requested imaging schedule</span>
            </label>
            <select name="SCHEDULEID"></select> <a href="#" class="button view_sch"><i class="fa fa-search"></i> View</a>
        </li>

        <li class="plate">
            <label>Crystallisation Screen
                <span class="small">Crystallisation screen that was used for this container</span>
            </label>
            <select name="SCREENID"></select>
        </li>
    </ul>
    
    </form>
    <div class="left">
        <div class="singlesamp"></div>
        <div class="group "></div>
    </div>
    
</div>


<div class="la puck_controls">
    <a class="button autofill" href="#" title="Autofill puck"><i class="fa fa-plus"></i> Autofill Puck</a>

    <a class="button clonepuck" href="#" title="Clone entire puck from first sample"><i class="fa fa-plus"></i> Clone from First Sample</a>
    <a class="button clearpuck" href="#" title="Clear entire puck"><i class="fa fa-times"></i> Clear Puck</a>

    <a class="button extrainfo r" href="#" title="Show extra fields"><i class="fa fa-plus extra-state"></i> Extra Fields</a>
</div>
<div class="table sample"></div>

<div class="form">
    <button name="submit" value="1" type="submit" class="button submit"><i class="fa fa-plus"></i> Add Container</button>
</div>