<h1>Add New Dewar</h1>
<form>
<div class="form clearfix">
    <ul>
		<li>
            <label>Facility Code</label>
            <input type="text" name="FACILITYCODE" />
        </li>
        <li>
            <label>Purchase Date
                <span class="small">When the dewar was purchased</span>
            </label>
            <input type="text" name="PURCHASEDATE" />
        </li>
    </ul>

    <button name="submit" value="1" type="submit" class="button submit"><i class="fa fa-plus"></i> Add Dewar</button>
</div>
</form>
