<h1>Request Dewar Dispatch</h1>

<form>
    
    <div class="form">
        <ul>
            
            <li>
                <span class="label">Dewar Name</span>
                <span class=""><%-DEWAR.CODE%></span>
            </li>

            <li>
                <span class="label">Shipment</span>
                <span class=""><%-DEWAR.SHIPPINGNAME%></span>
            </li>

            <% if (DEWAR.FACILITYCODE) { %>
            <li>
                <span class="label">Dewar Code</span>
                <span class=""><%-DEWAR.FACILITYCODE%></span>
            </li>
            <% } %>
            
            <li class="head">Visit Details</li>
            <li>
                <label>Visit
                    <span class="small">The last visit the dewar was used for</span>
                </label>
                <select name="VISIT"></select>
            </li>
            
            <li>
                <label>Local Contact
                    <span class="small">Beamline local contact</span>
                </label>
                <input type="text" name="LOCALCONTACT" />
            </li>

            <li>
                <label>Dewar Location
                    <span class="small">Where the dewar currently is</span>
                </label>
                <input type="text" name="LOCATION" />
            </li>


            <li class="head">Contact Details</li>
            <li>
                <label>Return Contact
                    <span class="small">The contact to return the dewar to</span>
                </label>
                <select name="LABCONTACTID"></select>
            </li>
            

            <li>
                <label>Full Name
                    <span class="small">The person's given &amp; family name</span>
                </label>
                <input type="text" name="GIVENNAME" />
                <input type="text" name="FAMILYNAME" />
            </li>

            <li>
                <label>Phone Number
                    <span class="small">The person's phone number</span>
                </label>
                <input type="text" name="PHONENUMBER" />
            </li>

            <li>
                <label>Contact Email
                    <span class="small">The person's email address</span>
                </label>
                <input type="email" name="EMAILADDRESS" />
            </li>

            <li>
                <label>Laboratory Name
                    <span class="small">The contact's laboratory name</span>
                </label>
                <input type="text" name="LABNAME" />
            </li>

            <li>
                <label>Laboratory Address
                    <span class="small">The contact's laboratory address</span>
                </label>
                <textarea name="ADDRESS"></textarea>
            </li>

             <li>
                <label>Package description
                    <span class="small">1 line, please specify value and quantity</span>
                </label>
                <textarea name="DESCRIPTION">Dry shipper containing frozen crystals (Value: £100; Quantity: 1)</textarea>
            </li>

            <li>
                <label>Pickup Date
                    <span class="small">Date dewar will be ready for dispatch</span>
                </label>
                <input class="half" type="text" name="DELIVERYAGENT_SHIPPINGDATE" />
            </li>

            
            <li class="head">Courier Details</li>
            <li>
                <label>Courier
                    <span class="small">Courier Name</span>
                </label>
                <span class="courier"></span>
            </li>

            <% if (!DEWAR.FACILITYCODE) { %>
            <li>
                <label>Account Number
                    <span class="small">Courier account number</span>
                </label>
                <input type="text" name="DELIVERYAGENT_AGENTCODE" />
            </li>

            <li>
                <label>Airway Bill Number
                    <span class="small">Airway bill no. if you have generated your own</span>
                </label>
                <input type="text" name="AWBNUMBER" />
            </li>
            <% } %>


            <li>
                <label>Comments
                    <span class="small">Comment for the shipment</span>
                </label>
                <textarea name="COMMENTS"></textarea>
            </li>


            <button name="submit" value="1" type="submit" class="button submit">Request Dewar Dispatch</button>
            
            
        </ul>
    </div>
    
</form>

