<h1 class="top"><a href="/shipments/sid/<%-SHIPPINGID%>"><%-SHIPPINGNAME%></a>: Import from CSV</h1>
<span id="csvmessage"></span>

<label for="browse">
<div class="dropimage">
     <i class="fa fa-2x fa-file-text-o"></i> Click to Browse or Drop CSV File Here
</div>
</label>
<input id="browse" type="file" accept=".csv" class="hidden">


<h2>Messages</h2>
<div class="pnew"></div>
<div class="rmessages log"></div>

<div class="rcontainers"></div>

<div class="form">
    <button name="submit" value="1" type="submit" class="button submit">
        <i class="fa fa-plus"></i> 
        Import Shipment
   </button>
</div>
