<h1 class="top"><a href="/shipments/sid/<%-SHIPPINGID%>"><%-SHIPPINGNAME%></a>: Import from CSV</h1>
<a href="/shipments/csv/<%-SHIPPINGID%>" class="export button" title="Export Shipment Contents to CSV"><i class="fa fa-file-text-o"></i> Export to CSV</a>

<div class="dropimage">
     <i class="fa fa-2x fa-file-excel-o"></i> Drop CSV File Here
</div>

<h2>Messages</h2>
<div class="pnew"></div>
<div class="rmessages log"></div>

<div class="rcontainers"></div>

<div class="form">
    <button name="submit" value="1" type="submit" class="button submit">
        <i class="fa fa-plus"></i> 
        Import Shipment
   </button>
</div>
