
    <td><%-LOCATION%></td>
    <% if (PROTEINID == -1) { %>
    <td colspan="5">&nbsp;</td>
    <td class="non-xtal" colspan="1">&nbsp;</td>
    <td class="xtal" colspan="1">&nbsp;</td>
    <td class="extra" colspan="3">&nbsp;</td>
    <td class="auto" colspan="4">&nbsp;</td>
    <td class="auto-extra" colspan="2">&nbsp;</td>

    <% } else { %>

    <td class="protein"><%-ACRONYM%></td>
    <td class="name"><%-NAME%></td>
    <td class="spacegroup xtal auto-extra"><%-SPACEGROUP %></td>
    <td class="barcode xtal auto-extra"><%-CODE%></td>
    <td class="volume non-xtal"><%-VOLUME%></td>

    <td class="centringmethod auto"><%-CENTRINGMETHOD%></td>
    <td class="experimentkindname auto"><%-EXPERIMENTKINDNAME%></td>
    <td class="energy auto"><%-ENERGY%></td>
    <td class="radiationsensitivityname auto"><%-RADIATIONSENSITIVITYNAME%></td>


    <td class="comments"><%-COMMENTS%></td>
    <td class="anomalousscatterer"><%-ANOMALOUSSCATTERER%></td>

    <td class="requiredresolution xtal"><%-REQUIREDRESOLUTION%></td>

    <td class="abundance extra">
        <% if (ABUNDANCE) { %>
            <%-ABUNDANCE%><%-SYMBOL%>
        <% } %>    
    </td>
    <td class="extra components"></td>
    
    <td class="unitcell extra">
        <table class="reflow unitcell">      
            <thead>            
                <tr>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>&alpha;</th>
                    <th>&beta;</th>
                    <th>&gamma;</th>
                </tr>
            </thead>
            <tbody>
                <tr>                                
                    <td><span class="CELL_A"><%-CELL_A%></span></td>
                    <td><span class="CELL_B"><%-CELL_B%></span></td>
                    <td><span class="CELL_C"><%-CELL_C%></span></td>
                    <td><span class="CELL_ALPHA"><%-CELL_ALPHA%></span></td>
                    <td><span class="CELL_BETA"><%-CELL_BETA%></span></td> 
                    <td><span class="CELL_GAMMA"><%-CELL_GAMMA%></span></td>
                </tr> 
            </tbody>    
        </table>
    </td>

    <td>
        <% if (BLSAMPLEID && STATUS) { %>
        <ul class="status">
            <li class="<%-STATUS%>"></li>
        </ul>
        <% } %>
    </td>

    <% } %>
    <td>
        <% if (!IN_USE) { %>
            <a href="#" class="edit button button-notext" title="Edit sample details"><i class="fa fa-pencil"></i> <span>Edit Sample</span></a>
            <% if (PROTEINID > -1) { %>
            <!--<a href="#" class="delete button button-notext"><i class="fa fa-times"></i> <span>Delete Sample</span></a>-->
            <% } %>
        <% } %>
        <% if (PROTEINID > -1) { %>
        <a href="/samples/sid/<%-BLSAMPLEID%>" class="view button button-notext" title="View sample details"><i class="fa fa-search"></i> <span>View Sample</span></a>
        <% } %>        
    </td>
