<div class="terms"></div>

<h1>Add New Shipment</h1>

<p class="message alert">Please note that international shipping is currently disabled from this application. Please see the link <a href="https://www.diamond.ac.uk/Instruments/Mx/I03/I03-Manual/Shipping-Samples.html">here</a></p>

<form method="post" id="add_shipment">
    
    <div class="form">
        <ul>
            
            <li>
                <label>Name
                    <span class="small">Name for the shipment</span>
                </label>
                <input type="text" name="SHIPPINGNAME" />
            </li>
            
            <li>
                <label>Number of Dewars
                    <span class="small">Number of dewars to automatically create for this shipment</span>
                </label>
                <input type="text" name="DEWARS" value="1" />
            </li>
            
            <li class="d clearfix">
                <label>Facility Dewar Codes
                    <span class="small">Unique code for each dewar of the shipment.<br />No facility codes listed? Make sure they are <a href="/dewars/registry">Registered</a> to this proposal.</span>
                </label>
                <div class="floated">
                    <!--<span class="fcodes"></span>-->
                </div>
            </li>

            <li>
                <label>Safety Level
                    <span class="small">The safety level of the shipment</span>
                </label>
                <select class="tw-h-6" name="SAFETYLEVEL" required>
                    <option value="Green">Green</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Red">Red</option>
                </select>
            </li>
            
            <li>
                <!-- Small tweaks to the styling here using tailwind flexbox -->
                <label>First Experiment / Scheduling
                    <span class="small">Select first experiment or if it's for an automated or responsive remote mail-in session</span>
                </label>
                <div class="tw-flex">
                    <select class="tw-h-6 tw-mr-2" name="FIRSTEXPERIMENTID"></select>
                    <label class="secondary tw-mr-2">
                        <input type="checkbox" name="noexp"> Automated / Imager
                    </label>
                    <label class="secondary tw-mr-2">
                        <input type="checkbox" name="DYNAMIC"> Responsive Remote / Mail-in
                    </label>
                </div>
            </li>

            <li class="remoteormailin">
                <label>Remote or mail-in (Industrial users only)
                    <span class="small">Is this for remote data collection or mail-in service work?</span>
                </label>
                <select name="REMOTEORMAILIN">
                    <option value="" disabled selected>Please select</option>
                    <option value="Remote">Remote</option>
                    <option value="Mail-in">Mail-in</option>
                    <option value="Other">Other</option>
                </select>
            </li>

            <li class="remoteform">
                <label>Session length
                    <span class="small">Requested beamline session length [hours]</span>
                </label>
                <input name="SESSIONLENGTH"/>
            </li>

            <li class="remoteform">
                <label>Energy/Wavelength
                    <span class="small">Specify any energy/Wavelength requirements [eV/&#8491]</span>
                </label>
                <input type="text" name="ENERGY"/>
            </li>

            <li class="remoteform">
                <label>Microfocus beam
                    <span class="small">Microfocus beam is required for this shipment (provide further information in additional comments)</span>
                </label>
                <input type="checkbox" name="MICROFOCUSBEAM"> 
            </li>

            <li class="remoteform">
                <label>Scheduling restrictions for data collection
                    <span class="small">Are there times in the two weeks after delivery when the people collecting data are unavailable, including weekends?:</span>
                </label>
                <input type="text" name="SCHEDULINGRESTRICTIONS" size="100"></textarea>
            </li>

            <li class="remoteform">
                <label>Last-minute beam time
                    <span class="small">This shipment should be considered for last-minute beam time</span>
                </label>
                <input type="checkbox" name="LASTMINUTEBEAMTIME"> 
            </li>

            <li class="remoteform">
                <label>Dewar grouping
                    <span class="small">Would you prefer your beam time for this dewar to be grouped with beam time for other dewars?:</span>
                </label>
                <select name="DEWARGROUPING"> 
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Don't mind">Don't mind</option>
                </select>
            </li>

            <li>
                <label>Hard drive enclosed
                    <span class="small">A hard drive is included with this shipment</span>
                </label>
                <input type="checkbox" name="ENCLOSEDHARDDRIVE"> 
            </li>

            <li>
                <label>Tools enclosed
                    <span class="small">Tools are included within this shipment</span>
                </label>
                <input type="checkbox" name="ENCLOSEDTOOLS"> 
            </li>
            
            <li>
                <label>Comments
                    <span class="small">Comment for the shipment</span>
                </label>
                <textarea name="COMMENTS" maxlength="1000"></textarea>
            </li>
            
            <li>
                <label>Outgoing Lab Contact
                    <span class="small">Lab contact for outgoing transport | <a class="add_lc" href="/contact/add">Add</a></span>
                </label>
                <select name="SENDINGLABCONTACTID"></select>
            </li>
            
            <li>
                <label>Return Lab Contact
                    <span class="small">Lab contact for return transport | <a class="add_lc" href="/contact/add">Add</a></span>
                </label>
                <select name="RETURNLABCONTACTID"></select>
            </li>
            
            <li>
                <label>Shipping Date
                    <span class="small">Date shipment will leave lab / be picked up</span>
                </label>
                <input class="half" type="text" name="DELIVERYAGENT_SHIPPINGDATE" />
            </li>

            <li>
                <label>Pickup Location
                    <span class="small">Location where shipment can be picked up from. i.e. Reception</span>
                </label>
                <input class="half" type="text" name="PHYSICALLOCATION" />
            </li>

            <li>
                <label>Ready by Time
                    <span class="small">Time shipment will be ready for pickup</span>
                </label>
                <input class="half" type="text" name="READYBYTIME" />
            </li>

            <li>
                <label>Close Time
                    <span class="small">Time after which shipment cannot be picked up</span>
                </label>
                <input class="half" type="text" name="CLOSETIME" />
            </li>
            
            
            <li>
                <label>Delivery Date
                    <span class="small">Estimated date of delivery at facility</span>
                </label>
                <input class="half" type="text" name="DELIVERYAGENT_DELIVERYDATE" />
            </li>
            
            <li>
                <label>Courier Name
                    <span class="small">Courier name for the return shipment</span>
                </label>
                <input type="text" name="DELIVERYAGENT_AGENTNAME" /> 
                <% if (!DHL_ENABLE) { %><a href="<%-DHL_LINK%>" class="dhl button"><i class="fa fa-envelope"></i> Use Facility Account (UK ONLY)</a><% } %>
            </li>
            
            <li>
                <label>Courier Account Number
                    <span class="small">Courier account number for return shipment</span>
                </label>
                <input type="text" name="DELIVERYAGENT_AGENTCODE" />
            </li>
            
            <button name="submit" value="1" type="submit" class="button submit">Add Shipment</button>
            
            
        </ul>
    </div>
    
</form>

